<div class="overlay"
     [ngClass]="{ 'with-reply': !!replyUser }">
  <!-- Ответ -->
  <div #replyElement
       class="reply__overlay"
       *ngIf="!!replyUser">
    <!-- Элемент с пользователем -->
    <div class="reply">
      <!-- Аватарка -->
      <div class="reply__avatar">
        <!-- Картинка -->
        <img [src]="replyUser.avatars.small"
             *ngIf="replyUser.avatars.small.length > 0" />
        <!-- Иконка -->
        <mat-icon *ngIf="replyUser.avatars.small.length === 0">person</mat-icon>
        <!-- Метка онлайн -->
        <div class="reply__avatar-online"
             *ngIf="replyUser.online"></div>
      </div>
      <!-- Данные -->
      <div class="reply__content">
        <div class="reply__content-mainTitle">Вы отвечаете</div>
        <div class="reply__content-subTitle">
          {{replyUser | petrovich: [3, 'first'] }}
          {{replyUser | petrovich: [3, 'last'] }}
        </div>
      </div>
      <!-- Удалить -->
      <button mat-icon-button
              class="reply__delete"
              color="primary"
              (click)="onReplyUserDelete()"><mat-icon>close</mat-icon></button>
    </div>
  </div>

  <!-- Поле ввода -->
  <div #editorContainer
       class="editor"
       (click)="editor.focus()">
    <app-scroll class="editor__scroll"
                (click)="$event.stopPropagation()">
      <div #editor
           class="editor__area"
           [attr.contenteditable]="!sendLoader"
           [attr.placeholder]="placeholder"
           (blur)="onBlur()"
           (keyup)="onEdit($event)"
           (change)="onEdit($event)"
           (paste)="onPaste($event)"
           (keydown)="onCheckEnterKey($event)"></div>
    </app-scroll>
  </div>

  <!-- Действия -->
  <div class="actions">
    <!-- Перенос события на поле ввода -->
    <div class="event-helper"
         (click)="editor.focus()"></div>
    <!-- Смайлики -->
    <div class="smiles">
      <button #emojiListToggleButton
              mat-icon-button
              color="primary"
              customToolTip
              (click)="onToggleEmojilist()"
              *ngIf="!sendLoader">
        <mat-icon>sentiment_very_satisfied</mat-icon>
      </button>
      <ng-container [ngTemplateOutlet]="emojiList"></ng-container>
    </div>
    <!-- Прикрепить -->
    <button mat-icon-button
            color="primary"
            matTooltip="Прикрепить"
            [matMenuTriggerFor]="attachMenuPanel"
            *ngIf="!sendLoader">
      <mat-icon>attach_file</mat-icon>
    </button>
    <!-- Отправить -->
    <button mat-flat-button
            color="primary"
            [attr.button-loader]="sendLoader"
            wait-pointers
            [disabled]="!sendIsAvail"
            (click)="onSend($event)">
      <mat-icon iconPositionEnd>send</mat-icon>
      {{sendLoader? 'Отправка': 'Отправить'}}
    </button>
  </div>

  <!-- Прикрепленные материалы -->
  <div class="attachments"
       *ngIf="hasAttachment">
    <!-- Граффити -->
    <ng-container [ngTemplateOutlet]="attachedImage"
                  [ngTemplateOutletContext]="{
                    url: graffityData.image,
                    callback: onGraffityPopupOpen.bind(this),
                    overlayIcon: 'edit'
                  }"
                  *ngIf="!!graffityData?.image"></ng-container>
    <!-- Фотографии -->
    <ng-container *ngIf="!!photos?.length">
      <ng-container [ngTemplateOutlet]="attachedImage"
                    [ngTemplateOutletContext]="{
                      url: photo.urlSmall,
                      callback: onPhotoDelete.bind(this, photo.id),
                      overlayIcon: 'close'
                    }"
                    *ngFor="let photo of photos"></ng-container>
    </ng-container>
  </div>
</div>



<!-- Список смайликов -->
<ng-template #emojiList>
  <emoji-mart #emojiListItem
              class="smiles__list"
              [ngClass]="{ bottomSmiles }"
              [i18n]="i18nEmoji"
              [emojiSize]="32"
              [showPreview]="true"
              [useButton]="false"
              (emojiSelect)="onEmojiSelect($event)"
              *ngIf="showEmojiList"></emoji-mart>
</ng-template>

<!-- Смайлик -->
<ng-template #smile
             let-styles="styles"
             let-src="src"
             let-alt="alt"
             let-id="id"
             let-set="set"
             let-skin="skin">
  <img [class]="emojiClassName"
       src="/assets/dream-map/transparent.png"
       [ngStyle]="styles"
       [alt]="alt"
       [attr.data-emoji-id]="id"
       [attr.data-emoji-skin]="skin"
       [attr.data-emoji-set]="set" />
</ng-template>

<!-- Меню прикрепления материалов -->
<mat-menu #attachMenuPanel="matMenu">
  <ng-container *ngIf="!sendLoader">
    <!-- Фотография -->
    <button mat-menu-item
            (click)="onPhotoPopupOpen()">
      <mat-icon>photo_library</mat-icon>
      Фото
    </button>
    <!-- Граффити -->
    <button mat-menu-item
            (click)="onGraffityPopupOpen()">
      <mat-icon svgIcon="paint_spray"></mat-icon>
      Граффити
    </button>
  </ng-container>
</mat-menu>

<!-- Прикрепленная картинка -->
<ng-template #attachedImage
             let-url="url"
             let-callback="callback"
             let-overlayIcon="overlayIcon">
  <div class="attachments__image"
       (click)="!!callback && !sendLoader? callback(): null"
       *ngIf="!!url">
    <!-- Картинка -->
    <img [src]="url" />
    <!-- Удаление -->
    <div class="attachments__image-overlay"
         [ngClass]="{ noSelect: sendLoader }">
      <mat-icon>{{overlayIcon ?? 'close'}}</mat-icon>
    </div>
  </div>
</ng-template>