<!-- Поле ввода -->
<div class="editor"
     (click)="editor.focus()">
  <app-scroll class="editor__scroll"
              (click)="$event.stopPropagation()">
    <div #editor
         class="editor__area"
         [attr.contenteditable]="!sendLoader"
         [attr.placeholder]="placeholder"
         (blur)="onBlur()"
         (keyup)="onEdit($event)"
         (change)="onEdit($event)"
         (paste)="onPaste($event)"
         (keydown)="onCheckEnterKey($event)"></div>
  </app-scroll>
</div>
<!-- Действия -->
<div class="actions">
  <!-- Перенос события на поле ввода -->
  <div class="event-helper"
       (click)="editor.focus()"></div>
  <!-- Смайлики -->
  <div class="smiles">
    <button #emojiListToggleButton
            mat-icon-button
            color="primary"
            customToolTip
            (click)="onToggleEmojilist()"
            *ngIf="!sendLoader">
      <mat-icon>sentiment_very_satisfied</mat-icon>
    </button>
    <ng-container [ngTemplateOutlet]="emojiList"></ng-container>
  </div>
  <!-- Прикрепить -->
  <button mat-icon-button
          color="primary"
          matTooltip="Прикрепить"
          *ngIf="!sendLoader">
    <mat-icon>attach_file</mat-icon>
  </button>
  <!-- Отправить -->
  <button mat-flat-button
          color="primary"
          [attr.button-loader]="sendLoader"
          wait-pointers
          [disabled]="!sendIsAvail"
          (click)="onSend($event)">
    <mat-icon iconPositionEnd>send</mat-icon>
    {{sendLoader? 'Отправка': 'Отправить'}}
  </button>
</div>



<!-- Список смайликов -->
<ng-template #emojiList>
  <emoji-mart #emojiListItem
              class="smiles__list"
              [ngClass]="{ show: showEmojiList, bottomSmiles }"
              [i18n]="i18nEmoji"
              [emojiSize]="32"
              [showPreview]="true"
              [useButton]="false"
              (emojiSelect)="onEmojiSelect($event)"></emoji-mart>
</ng-template>

<!-- Смайлик -->
<ng-template #smile
             let-styles="styles"
             let-src="src"
             let-alt="alt"
             let-id="id"
             let-set="set"
             let-skin="skin">
  <img [class]="emojiClassName"
       src="/assets/dream-map/transparent.png"
       [ngStyle]="styles"
       [alt]="alt"
       [attr.data-emoji-id]="id"
       [attr.data-emoji-skin]="skin"
       [attr.data-emoji-set]="set" />
</ng-template>