@use "sass:map";
@use "./screens";
@use "./colors";

$widths: (
  xsmall: 600px,
  small: 600px,
  middle: 900px,
  large: 1200px,
  xlarge: 1600px,
);
$paddings-y: (
  xsmall: 15px,
  small: 30px,
  middle: 45px,
  large: 60px,
  xlarge: 90px,
);

// Контейнер
.container {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  // Цикл по размерам
  @include screens.adaptiveFor($widths, $paddings-y) using ($width, $padding-y) {
    width: $width;
    padding-top: $padding-y;
    padding-bottom: $padding-y;
  }
}
