@use "sass:map";
@use "./screens";
@use "./colors";

$widths: (
  xsmall: 600px,
  small: 600px,
  middle: 900px,
  large: 1200px,
  xlarge: 1600px,
);

$paddingsY: (
  xsmall: 15px,
  small: 30px,
  middle: 45px,
  large: 60px,
  xlarge: 90px,
);
$paddingX: 15px;

$cardBoxShadow: 1px 1px 10px 1px #{colors.$shadow};
$cardBorderRadius: 5px;
$cardPaddingY: 15px;
$cardPaddingX: 22px;
$cardPaddings: (
  xsmall: (
    x: 15px,
    y: 15px,
  ),
  small: (
    x: 20px,
    y: 20px,
  ),
  default: (
    x: 25px,
    y: 25px,
  ),
);

$mobileMenuWidth: 280px;
$mobileMenuHeight: 240px;

// Миксин
@mixin container {
  margin: 0 auto;
  max-width: 100%;
  padding-left: $paddingX;
  padding-right: $paddingX;
  background-color: inherit;
  // Цикл по размерам
  @include screens.adaptiveFor($widths, $paddingsY) using ($width, $paddingY) {
    width: $width;
    padding-top: $paddingY;
    padding-bottom: $paddingY;
  }
  // Последующие блоки
  & + & {
    padding-top: 0;
  }
}
