@use "sass:map";
@use "sass:list";
@use "sass:math";
@use "./colors";
@use "./screens";
@use "./containers";
@use "./mixins";
@use "./vars";

// Кнопки
@mixin matButton {
  $iconSize: 24px;
  // Базовые стили
  .mdc-button {
    line-height: 1;
    vertical-align: middle;
    // Иконка
    > .mat-icon {
      width: $iconSize;
      height: $iconSize;
      line-height: $iconSize;
      font-size: $iconSize;
      margin-right: 9px;
      margin-left: -9px;
    }
  }
  // Остальное
  .mat-mdc-button {
    $__elm: &;
    // Прочее
    &-base {
      text-decoration: none;
      // Убрать фон
      &.no-pointer {
        > .mdc-icon-button__ripple,
        > .mdc-fab__ripple {
          display: none;
        }
      }
      // Убрать тень
      &.mat-elevation-z {
        box-shadow: none !important;
      }
      // Базовые настройки
      &[mat-stroked-button],
      &[mat-flat-button],
      &[mat-icon-button] {
        line-height: vars.$buttonSize;
        padding: 0 24px;
        height: vars.$buttonSize;
        // Стили иконок
        &,
        > *:not(.mat-icon) {
          font-family: "Roboto", open-sans;
          font-weight: 400;
        }
      }
      // Убрать отступы иконок
      &[mat-mini-fab],
      &[mat-icon-button] {
        width: vars.$buttonSize;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        // Иконка
        > .mat-icon {
          width: vars.$buttonSize;
          height: vars.$buttonSize;
          line-height: vars.$buttonSize;
          margin-right: 0;
          margin-left: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
      // Загрузчик
      &[button-loader="true"] {
        pointer-events: none;
        // Иконка
        > .mat-icon {
          font-size: 0;
          line-height: 0;
          // Полосы
          @include mixins.loader($iconSize, 2px, 1s, #fff);
        }
        // Расскрасить кнопки
        &[mat-flat-button] {
          // Статус: disabled
          &.mat-mdc-unelevated-button[disabled][disabled] > .mat-icon {
            @include mixins.loaderColors(map.get(colors.$matDisabled, 500));
          }
        }
        // Расскрасить кнопки
        &[mat-stroked-button],
        &[mat-icon-button] {
          // Общий цвет
          > .mat-icon {
            @include mixins.loaderColors(colors.$text);
          }
          // Статус: warn
          &.mat-warn > .mat-icon {
            @include mixins.loaderColors(map.get(colors.$matStatusWarn, 500));
          }
          // Статус: accent
          &.mat-accent > .mat-icon {
            @include mixins.loaderColors(map.get(colors.$matSecondary, 500));
          }
          // Статус: primary
          &.mat-primary > .mat-icon {
            @include mixins.loaderColors(map.get(colors.$matPrimary, 500));
          }
        }
        // Точки загрузки
        &[wait-pointers] > .mdc-button__label::after {
          content: "";
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          width: 20px;
          animation: waitPointersAnimation 2s linear 0s infinite;
          // Стиль анимации
          @keyframes waitPointersAnimation {
            0% {
              content: "";
            }
            25% {
              content: ".";
            }
            50% {
              content: ". .";
            }
            75% {
              content: ". . .";
            }
          }
        }
      }
    }
  }
}

// Обертка поля
@mixin matFormField {
  $__marginMainElm: ".mat-mdc-form-field";
  $__marginElms: "app-text-input" "app-autocomplete-input" "app-toggle-input" "app-chips-input" "mat-radio-group" ".input-field";
  // Обертка
  .mat-mdc-form-field {
    $elm: &;
    $padding: 12px;
    // Свойства
    width: 100%;
    // Поле с картинкой
    .image + & {
      margin-left: -#{vars.$matFormFieldImageSize};
      // Обертка поля
      ::ng-deep #{$elm}-flex {
        padding-left: vars.$matFormFieldImageSize + $padding;
        padding-right: $padding;
      }
      // Линия
      ::ng-deep #{$elm}-underline {
        left: vars.$matFormFieldImageSize;
        width: calc(100% - #{vars.$matFormFieldImageSize});
      }
    }
    // Поле с картинкой
    &.hasImage {
      width: calc(100% - #{vars.$matFormFieldImageSize});
    }
    // Обертка заполненного стиля
    :host ::ng-deep &-appearance-fill & {
      &-subscript-wrapper {
        margin-top: 4px;
        padding-left: 0;
        padding-right: 0;
      }
      // Флекс коробка
      &-flex {
        border-radius: 0;
        padding: 8px 18px 0 18px;
      }
    }
    // Расположение иконок
    :host ::ng-deep &-infix {
      // display: flex;
      // flex-flow: row nowrap;
    }
    // Отключение валидаторов
    :host ::ng-deep &.disabled-validators {
      // Убрать поле
      > #{$elm}-subscript-wrapper {
        display: none;
      }
    }
    // Автозаполнение
    & {
      $__input: ".mat-mdc-input-element:autofill";
      // Общее правило
      #{$__input} {
        box-shadow: 0 0 0 30px #f5f5f5 inset !important;
      }
      // Выделение
      &:hover #{$__input} {
        box-shadow: 0 0 0 30px #ececec inset !important;
      }
      // Выделение
      &.mat-focused #{$__input} {
        box-shadow: 0 0 0 30px #dcdcdc inset !important;
      }
    }
    // Содержимое
    @content;
  }
  // Отступы сверху
  ::ng-deep {
    @each $__elm in $__marginElms {
      #{$__marginMainElm}:not(.no-margin) + #{$__marginMainElm}:not(.no-margin),
      #{$__marginMainElm}:not(.no-margin) + #{$__elm}:not(.no-margin),
      #{$__elm} + #{$__marginMainElm}:not(.no-margin),
      #{$__elm}:not(.no-margin) + #{$__marginMainElm}:not(.no-margin),
      #{$__elm}:not(.no-margin) + :host:not(.no-margin) > #{$__marginMainElm}:not(.no-margin),
      #{$__elm}:not(.no-margin) + :host:not(.no-margin) > .layout:not(.no-margin) > #{$__marginMainElm}:not(.no-margin),
      #{$__elm}:not(.no-margin) + :host:not(.no-margin) > .layout:not(.no-margin) > #{$__marginMainElm}:not(.no-margin) + .image:not(.no-margin) {
        margin-top: 15px;
      }
      // Отступы между элементами из списка
      @each $__elmB in $__marginElms {
        #{$__elm}:not(.no-margin) + #{$__elmB}:not(.no-margin) > #{$__marginMainElm}:not(.no-margin),
        #{$__elm} + #{$__elmB}:not(.no-margin) {
          margin-top: 15px;
        }
      }
    }
  }

  // Поле
  .mat-mdc-input-element {
    background-image: none !important;
    // Курсор
    &.mat-mdc-autocomplete-trigger[readonly] {
      cursor: pointer;
    }
  }

  // Last Pass icons
  ::ng-deep *[id*="__lpform"] {
    display: none !important;
    position: fixed !important;
    top: auto !important;
    left: auto !important;
    right: -1000px !important;
    bottom: -1000px !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }

  // Сообщение об ошибке
  .mat-error {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Всплывающие сообщения
@mixin matSnackBar {
  .mat-mdc-snack-bar {
    // Обертка
    &-handset {
      pointer-events: none;
    }
    // Уведомление
    &-container {
      pointer-events: all;
      // Уведомление
      &.mdc-snackbar {
        // Цвета
        $colors: (
          info: colors.$matDisabled 900,
          success: colors.$matPrimary 700,
          error: colors.$matStatusWarn 600,
        );
        // Цикл по стилям
        @each $class, $color in $colors {
          &.snackbar-#{$class} {
            $backColor: map.get(list.nth($color, 1), list.nth($color, 2));
            $textColor: map.get(list.nth($color, 1), contrast, list.nth($color, 2));
            // Переменные
            --mat-mdc-snack-bar-button-color: $textColor;
            --mdc-snackbar-container-color: $backColor;
            --mdc-snackbar-supporting-text-color: $textColor;
            // Свойства
            background-color: $backColor;
            color: $textColor;
            // Кнопка
            .mat-simple-snackbar-action {
              color: $textColor;
            }
          }
        }
      }
    }
  }
}

// Диалоговое окно
@mixin matDialog {
  // Заголовок
  .title {
    // Свойства
    display: grid;
    grid-template-columns: 1fr #{vars.$dialogTitleSize};
    grid-template-rows: vars.$dialogTitleSize;
    grid-template-areas: "title button";
    grid-gap: 0 15px;
    align-items: center;
    font-size: vars.$dialogTitleFontSize;
    // Подзаголовок
    &.hasSubTitle {
      grid-template-areas: "title button" "subtitle button";
      grid-template-rows: #{vars.$dialogTitleSize * 0.6} #{vars.$dialogTitleSize * 0.4};
    }

    // Текст
    &__title,
    &__subTitle {
      font: inherit;
    }
    // Заголовок
    &__title {
      grid-area: title;
      color: #000;
      line-height: vars.$dialogTitleSize * 0.6;
    }
    // Подзаголовок
    &__subTitle {
      grid-area: subtitle;
      font-size: 0.85em;
      font-weight: 400;
      color: #000;
      line-height: vars.$dialogTitleSize * 0.4;
    }
    // Кнопка закрыть
    &__button {
      grid-area: button;
      width: vars.$dialogTitleSize;
      height: vars.$dialogTitleSize;
      line-height: vars.$dialogTitleSize;
      font-size: vars.$dialogTitleSize * 0.6;
      cursor: pointer;
      text-align: center;
    }
  }
  // Окно
  .mat-mdc-dialog {
    // Общая обертка
    ::ng-deep &-surface {
      padding-bottom: vars.$dialogPadding;
    }
    // Заголовок
    &-title {
      padding: vars.$dialogPadding;
      margin: 0;
      // Псевдоэлемент
      &::before {
        display: none;
        content: none;
      }
    }
    // Содержимое
    &-content {
      font-size: 0;
      line-height: 1;
      padding: 0 #{vars.$dialogPadding};
      max-height: vars.$dialogContentMaxHeight;
    }
    // Действия
    &-actions {
      width: 100%;
      padding: vars.$dialogPadding;
      padding-bottom: 0;
      // Кнопки
      > .buttons {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

// Выпадающие списки
@mixin matOption {
  .mat-mdc-option {
    line-height: 1;
    height: auto;
    padding: 0;
    min-height: 0;
    // Текст
    ::ng-deep > .mdc-list-item__primary-text {
      width: 100%;
    }
  }
}
