@use "sass:map";
@use "sass:list";
@use "sass:math";
@use "./colors";
@use "./screens";
@use "./containers";

// Кнопки
@mixin mat-button {
  *.mat-button-base {
    &.mat-stroked-button,
    &.mat-flat-button {
      $height: 44px;

      height: $height;
      line-height: $height;
      padding: 0 24px;

      &,
      * {
        font-family: "Roboto", open-sans;
        font-weight: 600;
      }
    }
  }
}

// Обертка поля
@mixin mat-form-field {
  // Обертка
  .mat-form-field {
    $elm: &;
    // Свойства
    width: 100%;
    // Обертка заполненного стиля
    :host ::ng-deep &-appearance-fill & {
      &-subscript-wrapper {
        margin-top: 4px;
        padding-left: 0;
        padding-right: 0;
      }
      // Флекс коробка
      &-flex {
        border-radius: 0;
        padding: 8px 18px 0 18px;
      }
    }

    :host ::ng-deep &-infix {
      display: flex;
      flex-flow: row nowrap;
    }

    // Отключение валидаторов
    :host ::ng-deep &.disabled-validators {
      > #{$elm}-wrapper {
        padding-bottom: 0;
        > #{$elm}-underline {
          bottom: 0;
        }
      }
    }

    $__elms: app-text-input app-autocomplete-input app-toggle-input app-chips-input;
    @each $__elm in $__elms {
      #{$__elm}:not(.no-margin) + :host:not(.no-margin) > &:not(.no-margin),
      #{$__elm}:not(.no-margin) + :host:not(.no-margin) > .layout:not(.no-margin) > &:not(.no-margin),
      #{$__elm}:not(.no-margin) + :host:not(.no-margin) > .layout:not(.no-margin) > &:not(.no-margin) + .image:not(.no-margin) {
        margin-top: 15px;
      }
    }

    @content;
  }

  // Поле
  .mat-input-element {
    background-image: none !important;
  }

  // Last Pass icons
  ::ng-deep *[id*="__lpform"] {
    display: none !important;
    position: fixed !important;
    top: auto !important;
    left: auto !important;
    right: -1000px !important;
    bottom: -1000px !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }

  // Сообщение об ошибке
  .mat-error {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Всплывающие сообщения
@mixin mat-snack-bar {
  .mat-snack-bar-container.snackbar {
    // Цвета
    $colors: (
      info: colors.$mat-disabled 900,
      success: colors.$mat-primary 700,
      error: colors.$mat-status-warn 600,
    );
    // Цикл по стилям
    @each $class, $color in $colors {
      &-#{$class} {
        background: map.get(list.nth($color, 1), list.nth($color, 2));
        color: map.get(list.nth($color, 1), contrast, list.nth($color, 2));
        // Кнопка
        .mat-simple-snackbar-action {
          color: map.get(list.nth($color, 1), contrast, list.nth($color, 2));
        }
      }
    }
  }
}

// Диалоговое окно
@mixin mat-dialog {
  $win-padding: 24px;
  $title-size: 46px;
  // Заголовок
  .title {
    // Свойства
    display: grid;
    grid-template-columns: 1fr #{$title-size};
    grid-template-rows: $title-size;
    grid-template-areas: "title button";
    grid-gap: 0 15px;
    align-items: center;
    line-height: math.div($title-size, 2);
    // Подзаголовок
    &.hasSubTitle {
      grid-template-areas: "title button" "subtitle button";
      grid-template-rows: #{math.div($title-size, 2)} #{math.div($title-size, 2)};
    }

    // Заголовок
    &__title {
      grid-area: title;
      font: inherit;
      color: #000;
    }
    // Подзаголовок
    &__subTitle {
      grid-area: subtitle;
      font: inherit;
      font-size: 0.7em;
      font-weight: 400;
      color: #000;
    }
    // Кнопка закрыть
    &__button {
      grid-area: button;
      width: $title-size;
      height: $title-size;
      line-height: $title-size;
      font-size: $title-size * 0.6;
      cursor: pointer;
      text-align: center;
    }
  }
  // Окно
  .mat-dialog {
    // Окно
    &-container {
      padding: $win-padding;
    }
    // Содержимое
    &-content {
      font-size: 0;
      line-height: 1;
      max-height: calc(100vh - #{($win-padding * 2) + ($title-size + 20px) + (52px + (16px * 2) - $win-padding)});
    }
    // Действия
    &-actions {
      width: 100%;
      padding: 16px 0;
      // Кнопки
      > .buttons {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

// Выпадающие списки
@mixin mat-option {
  .mat-option {
    line-height: 1;
    height: auto;
    padding: 0;
  }
}
