@use "sass:map";
@use "sass:math";
@use "sass:list";
@use "colors";
@use "containers";

// Повторить строку
@function strRepeat($string, $count: 1, $implementer: "") {
  $return: "";

  @for $i from 1 through $count {
    @if ($i > 1) {
      $return: #{$return}#{$implementer};
    }

    $return: #{$return}#{$string};
  }

  @return $return;
}

// Получить переменную
@function mapGet($map, $key) {
  @if (map.has-key($map, $key)) {
    @return map.get($map, $key);
  }
  // Значение по умолчанию
  @else if(map.has-key($map, default)) {
    @return map.get($map, default);
  }
  // Ничего не найдено
  @return "";
}

// Преобразовать число в проценты
@function decimalToPercent($decimal) {
  @return $decimal * 1%;
}

// Замена для INSET
@mixin inset($top: none, $left: none, $bottom: none, $right: none) {
  @if ($top == none and $left == none and $bottom == none and $right == none) {
    $top: 0;
    $left: 0;
    $bottom: 0;
    $right: 0;
  } @else if ($left == none and $bottom == none and $right == none) {
    $left: $top;
    $bottom: $top;
    $right: $top;
  } @else if ($bottom == none and $right == none) {
    $bottom: $top;
    $right: $left;
  } @else if ($right == none) {
    $right: $bottom;
  }

  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

// Замена для множественного Margin
@mixin margin($top: none, $left: none, $bottom: none, $right: none) {
  @if ($top == none and $left == none and $bottom == none and $right == none) {
    $top: 0;
    $left: 0;
    $bottom: 0;
    $right: 0;
  } @else if ($left == none and $bottom == none and $right == none) {
    $left: $top;
    $bottom: $top;
    $right: $top;
  } @else if ($bottom == none and $right == none) {
    $bottom: $top;
    $right: $left;
  } @else if ($right == none) {
    $right: $bottom;
  }

  margin-top: $top;
  margin-left: $left;
  margin-bottom: $bottom;
  margin-right: $right;
}

// Огранисение на количество линий
@mixin lineClamp($lines: 1, $height: 1.2, $fontSize: 14px, $padding: 0, $heightImportant: false) {
  $important: "";
  // Обязательные поля
  @if ($heightImportant == 1 or $heightImportant == true) {
    $important: "!important";
  }
  // Не указана единица измерения для высоты
  @if (math.is-unitless($height)) {
    $height: $height * $fontSize;
  }
  // Свойства
  overflow: hidden;
  padding-top: $padding;
  padding-bottom: $padding;
  font-size: $fontSize;
  // Установка высоты
  @if ($height > 0) {
    line-height: #{$height} #{$important};
    min-height: #{$height + ($padding * 2)} #{$important};
    max-height: #{($height * $lines) + ($padding * 2)} #{$important};
  }
  // Две и более линий
  @if ($lines > 1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    white-space: normal;
  }
  // Для одной линии
  @else {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// Свойства контейнера
@mixin imageContainer($height: 10px, $padding: 280px) {
  overflow: hidden;
  border-radius: containers.$cardBorderRadius;
  background-color: colors.$background;
  height: $height;
  padding: $padding;
  cursor: pointer;
}

// Отметка онлайн
@mixin onlineBlinkPoint($size: 6px, $pos: 5px) {
  position: absolute;
  display: block;
  right: $pos;
  bottom: $pos;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: map.get(colors.$matStatusWarn, A700);
  animation: onlineBlinkPointAnimation 0.5s ease infinite alternate;
  // Правила анимации
  @keyframes onlineBlinkPointAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

// Лоадер
@mixin loader($size: 24px, $line: 2px, $speed: 1s, $color: map.get(colors.$matPrimary, 500)) {
  $lineB: math.round($line * 0.7);
  $spacing: math.clamp(2px, $lineB, 5px);
  $sizeB: $size - (($line + $spacing) * 2);
  $speedB: $speed * 0.6;
  // Свойства
  position: relative;
  // Полосы
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    border: 0 solid transparent;
    border-radius: 50%;
  }
  // Внешняя полоса
  &::before {
    @include inset(calc(50% - #{math.div($size, 2)}));
    // Свойства
    border-width: $line;
    animation: mixinsLoaderAnimation #{$speed} linear infinite;
  }
  // Внутренняя полоса
  &::after {
    @include inset(calc(50% - #{math.div($sizeB, 2)}));
    // Свойства
    border-width: $lineB;
    opacity: 0.8;
    animation: mixinsLoaderAnimation #{$speedB} linear infinite;
  }
  // Расскрасить лоадер
  @include loaderColors($color);
  // Правила анимации
  @keyframes mixinsLoaderAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

// Цвета лоадера
@mixin loaderColors($color: map.get(colors.$matPrimary, 500)) {
  // Полосы
  &::before,
  &::after {
    border-top-color: $color;
  }
}

// Миксин цветов
@mixin customsColors($size, $fontSize: 0.7) {
  $colors: (
    primary: colors.$matPrimary 500,
    accent: colors.$matSecondary 500,
    warn: colors.$matStatusWarn 500,
    disabled: colors.$matDisabled 500
  );
  // Свойства
  width: $size;
  height: $size;
  min-width: $size;
  max-width: $size;
  min-height: $size;
  max-height: $size;
  // Картинки
  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  // Иконка
  > mat-icon {
    width: $size;
    height: $size;
    line-height: $size;
    font-size: $size * $fontSize;
    text-align: center;
    // Картинка SVG
    ::ng-deep > svg {
      width: $size * $fontSize;
      height: $size * $fontSize;
    }
  }

  // Размеры картинки
  @each $value in contain, cover {
    &[position="#{$value}"] > img {
      object-fit: $value;
    }
  }
  // Тип заливки
  &[background="transparent"] > mat-icon {
    font-size: $size;
    border-radius: 0;
    background-color: transparent;
  }
  // Цвета
  @each $colors, $value in $colors {
    // Для закрашенных иконок
    &[color="#{$colors}"][background="fill"] {
      $background: map.get(list.nth($value, 1), list.nth($value, 2));
      // Иконка
      > mat-icon {
        background-color: $background;
        color: map.get(list.nth($value, 1), contrast, list.nth($value, 2));
      }
      // Картинка
      &.colorized > img {
        $spacing: $size * math.div(1 - $fontSize, 2);
        // Свойства
        background-color: $background;
        border: #{$spacing} solid #{$background};
      }
    }
    // Для незакрашенных иконок
    &[color="#{$colors}"][background="transparent"] {
      // Иконка
      > mat-icon {
        color: map.get(list.nth($value, 1), list.nth($value, 2));
      }
    }
  }

  @content;
}

// Редактор текста
@mixin wysiwigContent($fontSize: 16px, $lineHeight: 1.4) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: 200;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0;
  // Дочерние элементы
  ::ng-deep {
    $blockTags: p h1 h2 h3 h4 h5 h6;
    $inlineTags: b strong i em u s del;
    $decorationTags: u s del;
    $titles: (
      1: 2 700,
      2: 1.75 700,
      3: 1.5 700,
      4: 1.25 600,
      5: 1.125 500,
      6: 1 400
    );
    // Блочные элементы
    @each $tag in $blockTags {
      #{$tag} {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        font: inherit;
        line-height: inherit;
        // Отступы сверху
        @each $nextTag in $blockTags {
          & + #{$nextTag} {
            margin-top: $fontSize * $lineHeight;
          }
        }
      }
    }
    // Строчные элементы
    @each $tag in $inlineTags {
      #{$tag} {
        display: inline;
        font: inherit;
        line-height: inherit;
      }
    }
    // Заголовки
    @each $level, $properties in $titles {
      $size: list.nth($properties, 1);
      $fontWeight: list.nth($properties, 2);
      // Заголовок
      h#{$level} {
        font-size: $fontSize * $size;
        font-weight: $fontWeight;
      }
      // Отступы сверху
      @each $nextTag in $blockTags {
        #{$nextTag} + h#{$level} {
          margin-top: $size * $fontSize * $lineHeight;
        }
      }
    }
    // Жирность
    b,
    strong {
      font-weight: 700;
    }
    // Жирность
    i,
    em {
      font-style: italic;
    }
    // Подчеркивание
    u {
      text-decoration: underline;
    }
    // Зачеркивание
    s,
    del {
      text-decoration: line-through;
    }
    // Подчеркивание и зачеркивание одновременно
    @each $tag in $decorationTags {
      @each $subTag in $decorationTags {
        #{$tag} #{$subTag} {
          text-decoration: underline line-through;
        }
      }
    }
    // Цвета
    span[color],
    span[background] {
      display: inline;
      font: inherit;
      line-height: inherit;
      background-color: inherit;
      color: inherit;
      text-decoration: inherit;
    }
  }
}
