$userStatusPaddingX: 30px;

$dialogPadding: 24px;
$dialogTitleSize: 46px;
$dialogContentMaxHeight: calc(100vh - #{($dialogPadding * 2) + ($dialogPadding + 20px) + (52px + (16px * 2) - $dialogPadding)});

$buttonSize: 40px;
$iconsSmallBorderRadius: 3px;
$iconsMediumBorderRadius: 6px;

$headerHeight: 60px;
$mobileMenuBottomHeight: $headerHeight;

$userProfileBlocksGaps: (
  default: 30px,
  middle: 20px,
  small: 15px,
  xsmall: 15px,
);

$dreamCardSpacingX: 18px;
$dreamCardSpacingY: 10px;

$matFormFieldImageSize: 56px;

$scrollSize: 15px;
$scrollSpacing: 1px;
$scrollSliderSize: $scrollSize * 0.6;
$scrollSliderMinHeight: $scrollSize * 5;
