$userStatusPaddingX: 30px;

$dialogPadding: 24px;
$dialogTitleSize: 46px;
$dialogContentMaxHeight: calc(100vh - #{($dialogPadding * 2) + ($dialogPadding + 20px) + (52px + (16px * 2) - $dialogPadding)});
