@use "sass:map";
@use "../settings/vars";
@use "../settings/colors";

html,
body {
  & {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

html {
  & {
    font-size: vars.$defaultTextSize;
    line-height: vars.$defaultTextHeight;
    font-weight: 400;
    font-family: Open Sans, Arial, sans-serif;
  }

  b {
    font-weight: 600;
  }

  p {
    text-indent: 0;
    line-height: vars.$defaultTextHeight;
    margin-top: 0;
    margin-bottom: 0;

    @each $align in left, center, right, justify {
      &.#{$align} {
        text-align: $align;
      }
    }

    & + p {
      margin-top: vars.$defaultTextSize * vars.$defaultTextHeight;
    }
  }
}

a {
  text-decoration: underline;
  color: map.get(colors.$mat-secondary, 500);
  line-height: vars.$defaultTextHeight;
}

table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  > tbody {
    width: 100%;
  }

  td {
    padding: 0;
  }
}
