@use "../settings/vars";

$aligns: (
  default: left,
  "left": left,
  "center": center,
  "right": right,
  "justify": justify,
);
$hSpacings: (
  default: 35px,
  "no-h-spacing": 0px,
);
$vSpacings: (
  default: 25px,
  "no-v-spacing": 0px,
  middle: 30px,
  large: 35px,
);

.container {
  @each $vSpacingKey, $vSpacing in $vSpacings {
    @each $hSpacingKey, $hSpacing in $hSpacings {
      @each $alignKey, $align in $aligns {
        // Класс для модификатора отступа по вертикали
        $vSpacingClass: "";
        @if ($vSpacingKey != "default") {
          $vSpacingClass: "--#{$vSpacingKey}";
        }
        // Класс для модификатора отступа по горизонтали
        $hSpacingClass: "";
        @if ($hSpacingKey != "default") {
          $hSpacingClass: "--#{$hSpacingKey}";
        }
        // Класс для модификатора выравнивания текста
        $alignClass: "";
        @if ($alignKey != "default") {
          $alignClass: "--#{$alignKey}";
        }

        &#{$vSpacingClass}#{$hSpacingClass}#{$alignClass} {
          width: 100%;
          padding: #{$vSpacing} #{$hSpacing};
          text-align: $align;
        }
      }
    }
  }
}
