@use "sass:map";
@use "../settings/colors";
@use "../settings/vars";

// Секции
.section {
  $sectionColors: (
    default: (
      back: #efefef,
      text: #000,
      link: map.get(colors.$matSecondary, 500),
    ),
    white: (
      back: #fff,
      text: #000,
      link: map.get(colors.$matSecondary, 500),
    ),
  );

  @each $colorKey, $color in $sectionColors {
    // Класс для модификатора цвета
    $colorClass: "";
    @if ($colorKey != "default") {
      $colorClass: "--#{$colorKey}";
    }

    &#{$colorClass} {
      background-color: map.get($color, back);

      &,
      * {
        color: map.get($color, text);
      }

      a {
        color: map.get($color, link);
      }
    }
  }
}

// Главный контейнер
.main-container {
  width: 600px;
  max-width: 100%;
  padding: 15px;
  // Блок с данными
  &__content {
    border-radius: vars.$mainContainerBorderRadius;
    box-shadow: 3px 3px 15px 1px #{colors.$shadow};
    background-color: colors.$background;
  }
}
