<!-- Список сновидений -->
<div class="list"
     [ngClass]="{ oneLine }"
     *ngIf="!!people?.length">
  <!-- Блок сновидения -->
  <div class="list__item user"
       *ngFor="let user of people; trackBy: listTrackBy">
    <!-- Аватарка -->
    <a class="user__image"
       [routerLink]="baseLink + user.id">
      <!-- Картинка -->
      <img [src]="user.avatars.middle"
           *ngIf="!!user.avatars.middle.length; else noUserAvatar" />
      <!-- Метка онлайн -->
      <div class="user__image-online"
           *ngIf="user.online"></div>
    </a>
    <!-- Имя пользователя -->
    <a class="user__text not-action"
       [routerLink]="baseLink + user.id">
      <div class="user__text-title"
           *ngIf="!highlightWords?.length">{{user.name}} {{user.lastName}}</div>
      <!-- Выделенные слова в имени -->
      <app-highlight-keywords class="user__text-title"
                              color="primary"
                              [text]="user.name + ' ' + user.lastName"
                              [keywords]="highlightWords"
                              *ngIf="!!highlightWords?.length"></app-highlight-keywords>
      <!-- Сведения -->
      <div class="user__text-subtitle">
        <!-- В сети -->
        <ng-container *ngIf="user.online; else userlastVisitDate">Онлайн</ng-container>
        <!-- Последний визит -->
        <ng-template #userlastVisitDate>
          {{userIsMale(user)? 'Был': 'Была'}}
          {{user.lastActionDate | date: 'd.M.y - H:mm'}}
        </ng-template>
      </div>
    </a>
  </div>
</div>



<!-- Нет аватарки -->
<ng-template #noUserAvatar>
  <mat-icon>person</mat-icon>
</ng-template>

<!-- Действия -->
<ng-template #userAction
             let-user>
  <div class="user__action">
    <!-- Сообщения -->
    <button mat-mini-fab
            color="basic"
            class="user__action-button user__action-button_main"
            matTooltip="Написать сообщение"
            (click)="onDialogOpen($event)">
      <mat-icon>chat</mat-icon>
    </button>
    <!-- Добавить в друзья -->
    <button mat-mini-fab
            color="basic"
            class="user__action-button user__action-button_main"
            matTooltip="Добавить в друзья"
            (click)="onAddToFriendList($event)">
      <mat-icon>add</mat-icon>
    </button>
    <!-- Добавить в друзья -->
    <a mat-mini-fab
       color="primary"
       class="user__action-button user__action-button_advance"
       matTooltip="Открыть страницу"
       [routerLink]="baseLink + user.id">
      <mat-icon>chevron_right</mat-icon>
    </a>
  </div>
</ng-template>