@use "colors";
@use "containers";
@use "mixins";

// Стиль обертки
:host {
  display: block;
  padding: containers.$cardPaddingY;
  // Последующие элементы
  :host-context + & {
    border-top: 1px solid #{colors.$border};
  }
}

// Заголовок
.title {
  @include mixins.lineClamp(1, 1.2, 14px);
  // Свойтсва
  color: colors.$text;
  font-weight: 400;
  margin-bottom: containers.$cardPaddingY;
}
