@use "../../../../assets/styles/colors";
@use "../../../../assets/styles/containers";

// Стиль обертки
:host {
  display: block;
  padding: containers.$cardPaddingY;
  // Последующие элементы
  :host-context + & {
    border-top: 1px solid #{colors.$border};
  }
}
