@use "containers";
@use "screens";

// Пагинатор и список
::ng-deep {
  $elms: "app-pagination" "app-dream-list" "app-inform";
  // Цикл по элементам
  @each $elm in $elms {
    #{$elm} {
      display: block;
      // Отступы
      @each $elmNext in $elms {
        & + #{$elmNext} {
          @include screens.adaptiveFor(containers.$paddingsY) using($paddingY) {
            margin-top: $paddingY;
          }
        }
      }
    }
  }
}
