<ng-container *ngIf="ready">
  <!-- Шапка -->
  <app-main-menu #mainMenu
                 [autoCollapse]="true"
                 [imageFullShow]="true"
                 [type]="navMenuType.collapse"
                 [image]="imagePrefix + backgroundImageData.imageNameShort"
                 [imagePositionX]="backgroundImageData.positionX"
                 [imagePositionY]="backgroundImageData.positionY"
                 [imageOverlay]="backgroundImageData.imageOverlay"
                 [title]="title"
                 [subTitle]="subTitle"
                 [avatarImage]="menuAvatarImage"
                 [avatarIcon]="menuAvatarIcon"
                 [floatButtonIcon]="floatButtonIcon"
                 [floatButtonLink]="floatButtonLink"
                 [floatButtonLinkParams]="floatButtonData"
                 [backButtonLink]="backButtonLink"></app-main-menu>

  <!-- Контейнер с данными -->
  <div class="root-section"
       [ngClass]="{ center: loading }">
    <div class="container">
      <!-- Список сновидений -->
      <ng-container *ngIf="!loading; else listLoader">
        <!-- Пагинатор -->
        <ng-container [ngTemplateOutlet]="pagination"></ng-container>
        <!-- Список сновидений -->
        <app-dream-list [dreams]="dreams"
                        [sourcePlace]="!!visitedUser? '': 'diary-all'"
                        (dreamDelete)="search()"
                        *ngIf="dreamsCount > 0; else listNotFound"></app-dream-list>
        <!-- Пагинатор -->
        <ng-container [ngTemplateOutlet]="pagination"
                      *ngIf="dreamsCount > 0 && pageCount > pageLimit / 2"></ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>



<!-- Лоадер страницы -->
<app-page-loader *ngIf="!ready"></app-page-loader>



<!-- Загрузка -->
<ng-template #listLoader>
  <app-inform title="Загрузка сновидений"
              subTitle="Пожалуйста подождите"></app-inform>
</ng-template>

<!-- Не найдено -->
<ng-template #listNotFound>
  <app-inform [aboveIcon]="true"
              icon="close"
              title="Ошибка поиска"
              subTitle="Сновидения не найдены. Измените условия поиска или повторите позже"></app-inform>
</ng-template>

<!-- Пагинатор -->
<ng-template #pagination>
  <app-pagination title="Поиск по сновидениям"
                  [subTitle]="dreamsCount > 0? (dreamsCount | i18nPlural: dreamPlural): ''"
                  [pageCurrent]="pageCurrent"
                  [pageLimit]="pageLimit"
                  [count]="dreamsCount"
                  (changePage)="onPageChange($event)"></app-pagination>
</ng-template>
