<ng-container *ngIf="!pageLoading; else pageLoader">
  <!-- Шапка -->
  <app-main-menu #mainMenu
                 [autoCollapse]="true"
                 [imageFullShow]="true"
                 [type]="navMenuType.collapse"
                 [image]="imagePrefix + backgroundImageData.imageNameShort"
                 [imagePositionX]="backgroundImageData.positionX"
                 [imagePositionY]="backgroundImageData.positionY"
                 [imageOverlay]="backgroundImageData.imageOverlay"
                 [mainTitle]="title"
                 [subTitle]="subTitle"
                 [avatarImage]="menuAvatarImage"
                 [avatarIcon]="menuAvatarIcon"
                 [floatButtonIcon]="floatButtonIcon"
                 [floatButtonLink]="floatButtonLink"
                 [floatButtonLinkParams]="floatButtonData"
                 [backButtonLink]="backButtonLink"></app-main-menu>

  <!-- Контейнер с данными -->
  <div class="root-section"
       [ngClass]="{ center: loading || !userHasAccess }">
    <!-- Дневник сновидений -->
    <div class="container">
      <!-- Список сновидений -->
      <ng-container *ngIf="!loading; else listLoader">
        <ng-container *ngIf="userHasAccess; else AccessDeniedByPrivate">
          <ng-container *ngIf="dreamsCount > 0; else listNotFound">
            <!-- Пагинатор -->
            <ng-container [ngTemplateOutlet]="pagination"></ng-container>
            <!-- Список сновидений -->
            <app-dream-list [dreams]="dreams"
                            [sourcePlace]="!!visitedUser? '': 'diary-all'"
                            [showProfile]="itsAllPage"
                            [highlightWords]="getSearchWords"
                            (dreamDelete)="search()"></app-dream-list>
            <!-- Пагинатор -->
            <ng-container [ngTemplateOutlet]="pagination"
                          *ngIf="bottomPaginationIsAvail"></ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <!-- Фильтры для поиска -->
  <app-search-panel #searchPanel
                    [backgroundImageId]="backgroundImageData.id"
                    headerTitle="Настройки фильтров"
                    headerSubTitle="Поиска сновидений"
                    avatarIcon="content_paste_search"
                    [formGroup]="searchForm"
                    (clear)="onClear()"
                    (submit)="onSearch()"
                    *ngIf="!loading">
    <!-- Базовый поиск -->
    <search-group>
      <!-- Поиск по ФИО -->
      <app-text-input formControlName="q"
                      label="Поиск"
                      (submit)="onSearch()"></app-text-input>
    </search-group>
    <!-- Параметры сновидения -->
    <search-group mainTitle="Основные параметры">
      <!-- Статуст доступности -->
      <app-autocomplete-input formControlName="status"
                              type="select"
                              [optionData]="dreamStatuses"
                              label="Статус сновидения"
                              *ngIf="getDreamStatusesFieldAvail"></app-autocomplete-input>
      <!-- Показать сновидения с картой -->
      <div class="input-field">
        <mat-checkbox formControlName="withMap"
                      color="primary">Сновидения с картой</mat-checkbox>
      </div>
      <!-- Показать сновидения с текстом -->
      <div class="input-field no-margin">
        <mat-checkbox formControlName="withText"
                      color="primary">Сновидения с текстом</mat-checkbox>
      </div>
    </search-group>
    <!-- Доп. параметры сновидения -->
    <search-group mainTitle="Дополнительные параметры">
      <!-- Типы сновидений -->
      <app-autocomplete-input formControlName="type"
                              type="select"
                              [optionData]="dreamTypes"
                              label="Тип сновидений"></app-autocomplete-input>
      <!-- Настроения сновидений -->
      <app-autocomplete-input formControlName="mood"
                              type="select"
                              [optionData]="dreamMoods"
                              label="Настроения сновидений"></app-autocomplete-input>
    </search-group>
  </app-search-panel>
</ng-container>



<!-- Лоадер страницы -->
<ng-template #pageLoader>
  <app-page-loader></app-page-loader>
</ng-template>



<!-- Загрузка -->
<ng-template #listLoader>
  <app-inform mainTitle="Загрузка сновидений"
              subTitle="Пожалуйста подождите"></app-inform>
</ng-template>

<!-- Недоступно настройками приватности -->
<ng-template #AccessDeniedByPrivate>
  <app-inform [aboveIcon]="true"
              icon="policy"
              mainTitle="Дневник недоступен"
              subTitle="Пользователь предпочел скрыть свой дневник сновидений настройками приватности"></app-inform>
</ng-template>

<!-- Не найдено -->
<ng-template #listNotFound>
  <app-inform [aboveIcon]="true"
              icon="close"
              mainTitle="Ошибка поиска"
              subTitle="Сновидения не найдены. Измените условия поиска или {{itsMyPage? 'запишите новое сновидение': 'повторите позже'}}">
    <div class="buttons">
      <ng-container *ngIf="!itsMyPage; else listNotFoundMyButtons">
        <!-- Поиск -->
        <a mat-flat-button
           color="primary"
           (click)="openSearch()">
          <mat-icon>search</mat-icon>Открыть поиск
        </a>
        <!-- Сброс -->
        <button mat-stroked-button
                color="basic"
                (click)="onClear()"
                *ngIf="getIsSearch">
          <mat-icon>close</mat-icon>Сбросить
        </button>
      </ng-container>
      <!-- Кнопки для моего дневника -->
      <ng-template #listNotFoundMyButtons>
        <!-- Новый сон -->
        <a mat-flat-button
           color="primary"
           routerLink="/diary/editor">
          <mat-icon>add</mat-icon>Новый сон
        </a>
        <!-- Поиск -->
        <a mat-stroked-button
           color="basic"
           (click)="openSearch()">
          <mat-icon>search</mat-icon>Открыть поиск
        </a>
        <!-- Сброс -->
        <button mat-icon-button
                color="warn"
                matTooltip="Сброс фильтров"
                (click)="onClear()"
                *ngIf="getIsSearch"><mat-icon>close</mat-icon></button>
      </ng-template>
    </div>
  </app-inform>
</ng-template>

<!-- Пагинатор -->
<ng-template #pagination>
  <app-pagination mainTitle="Поиск по сновидениям"
                  [subTitle]="dreamsCount > 0? (dreamsCount | i18nPlural: dreamPlural): ''"
                  [pageCurrent]="pageCurrent"
                  [pageLimit]="pageLimit"
                  [count]="dreamsCount"
                  (changePage)="onPageChange($event)">
    <!-- Поиск для большого экрана -->
    <a mat-flat-button
       color="primary"
       (click)="openSearch()"
       *ngIf="!isMobile">
      <mat-icon>search</mat-icon>Поиск
    </a>
    <!-- Поиск для телефона -->
    <a mat-mini-fab
       color="primary"
       (click)="openSearch()"
       *ngIf="isMobile">
      <mat-icon>search</mat-icon>
    </a>
  </app-pagination>
</ng-template>