@use "sass:map";
@use "@angular/material" as mat;
@use "./assets/styles/vars";
@use "./assets/styles/colors";
@use "./assets/styles/containers";
@use "./assets/styles/material";
@use "./assets/styles/screens";

@include mat.core();
$mat-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(colors.$matPrimary),
      accent: mat.define-palette(colors.$matSecondary, A200, A100, A400),
      warn: mat.define-palette(colors.$matStatusWarn),
    ),
  )
);
@include mat.all-component-themes($mat-theme);

@import "https://fonts.googleapis.com/icon?family=Material+Icons&display=block";
@import "https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap";

// Шрифт иконок
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("./assets/fonts/material-icons.woff");
}

// Базовый стиль
html {
  $scroll-size: 0;
  // Свойства
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: colors.$background;
  top: 0 !important;
  position: static !important;
  scrollbar-width: none;
  // Свойства потомков
  &,
  * {
    &,
    &:before,
    &:after {
      box-sizing: border-box;
      font-family: "Fira Sans", sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.3px;
    }
  }
  // Документ и тело
  &,
  body {
    padding: 0;
    margin: 0;
    min-height: 100%;
  }
  // Скроллбар
  &::-webkit-scrollbar {
    width: $scroll-size;
  }
  // Тело
  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // Курсоры
    &.cursor {
      // Повороты
      &-move {
        cursor: move !important;
      }
      // Перемещения
      &-all-scroll {
        cursor: all-scroll !important;
      }
    }
    // Отступ снизу для мобильного меню
    &.mobile-menu-bottom-spacing {
      padding-bottom: vars.$mobileMenuBottomHeight;
    }
  }
  // Текст
  & {
    // Жирность
    b,
    strong {
      font-weight: 900;
    }
    // Ссылка
    a {
      color: map.get(colors.$matPrimary, 500);
    }
  }

  // Скролл запрещен
  &.cdk-global-scrollblock,
  &.no-scroll {
    &,
    > body {
      overflow-y: hidden;
    }
  }
}

// Базовые настройки
@include material.matSnackBar;
@include material.matButton;

// Выделение элементов
*[unselectable="on"] {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Секции
* {
  $_elm: section;
  // Свойства
  &.#{$_elm} {
    background-color: colors.$background;
    width: 100%;
  }
  // Основная секция
  &.root-#{$_elm} {
    width: 100%;
    min-height: calc(100vh - #{vars.$headerHeight});
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: colors.$background;
    // Последний элемент
    > .#{$_elm}:last-child {
      flex-grow: 1;
    }
    // По середине
    &.center {
      justify-content: center;
    }
    // Для телефона
    @include screens.adaptive(xsmall, small) {
      min-height: calc(100vh - #{vars.$headerHeight + vars.$mobileMenuBottomHeight});
    }
  }
  // Цвета
  &.#{$_elm},
  &.root-#{$_elm} {
    // Основной цвет
    &.primary-color {
      background-color: map.get(colors.$matPrimary, 500);
    }
    // Белый контейнер
    &.white {
      background-color: colors.$card;
    }
    // Серый контейнер
    &.light-gray {
      background-color: colors.$background;
    }
  }
}

// Контейнер
.container {
  @include containers.container;
}

// Материал иконки
.material-icons,
mat-icon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

// Для вывода JSON
pre {
  max-width: 100%;
  white-space: pre-wrap;
}

// Всплывающие уведомления
.mat-mdc-snack-bar-container {
  $spacing: 8px;
  // Свойства
  margin: $spacing;
  // Для телефонов
  @include screens.adaptive(xsmall, small) {
    margin-bottom: $spacing + vars.$mobileMenuBottomHeight;
  }
}
