@use "sass:map";
@use "@angular/material" as mat;
@use "./assets/styles/colors";
@use "./assets/styles/containers";
@use "./assets/styles/material";

@include mat.core();
$mat-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(colors.$mat-primary),
      accent: mat.define-palette(colors.$mat-secondary, A200, A100, A400),
      warn: mat.define-palette(colors.$mat-status-warn),
    ),
  )
);
@include mat.all-component-themes($mat-theme);

@import "https://fonts.googleapis.com/icon?family=Material+Icons&display=block";
@import "https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap";

// Базовый стиль
html {
  $scroll-size: 0;
  // Свойства
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: colors.$background;
  top: 0 !important;
  position: static !important;
  // Скролл запрещен
  &.no-scroll {
    overflow-y: hidden;
  }
  // Свойства потомков
  &,
  * {
    &,
    &:before,
    &:after {
      box-sizing: border-box;
      font-family: "Fira Sans", sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.3px;
    }
  }
  // Документ и тело
  &,
  body {
    padding: 0;
    margin: 0;
    min-height: 100%;
  }
  // Скроллбар
  &::-webkit-scrollbar {
    width: $scroll-size;
  }
  // Тело
  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // Курсоры
    &.cursor {
      // Повороты
      &-move {
        cursor: move !important;
      }
      // Перемещения
      &-all-scroll {
        cursor: all-scroll !important;
      }
    }
  }
  // Текст
  & {
    b,
    strong {
      font-weight: 900;
    }
  }
}

// Базовые настройки
@include material.mat-snack-bar;

// Выделение элементов
*[unselectable="on"] {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Секции
* {
  $_elm: section;
  // Свойства
  &.#{$_elm} {
    background-color: colors.$background;
    width: 100%;
  }
  // Основная секция
  &.root-#{$_elm} {
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    // Последний элемент
    > .#{$_elm}:last-child {
      flex-grow: 1;
    }
  }
  // Цвета
  &.#{$_elm},
  &.root-#{$_elm} {
    // Основной цвет
    &.primary-color {
      background-color: map.get(colors.$mat-primary, 500);
    }
    // Белый контейнер
    &.white {
      background-color: colors.$card;
    }
    // Серый контейнер
    &.light-gray {
      background-color: colors.$background;
    }
  }
}

// Материал иконки
.material-icons,
mat-icon {
  @font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: local("./assets/fonts/material-icons.woff");
  }
  // Свойства
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}
