<div class="layout"
     #layout
     [ngStyle]="styles"
     *ngIf="scrollActive && !isMobile">
  <div class="button top"
       (mousedown)="onButtonMouseDown('top')"></div>
  <div class="track"
       #track>
    <div class="slider {{sliderMousePress? 'hover': ''}}"
         #slider
         [style.top]="sliderPosition + '%'"
         [style.height]="sliderHeight + '%'"
         (mousedown)="onSliderMouseDown($event)"></div>
  </div>
  <div class="button bottom"
       (mousedown)="onButtonMouseDown('bottom')"></div>
</div>