@use "sass:map";
@use "colors";
@use "screens";
@use "containers";
@use "mixins";

$base_elm: ".mat-mdc-card";
$image-color: 500;
// Цвета
$colors: (
  primary: colors.$matPrimary,
  accent: colors.$matSecondary,
  warn: colors.$matStatusWarn,
  disabled: colors.$matDisabled
);

// Родительский блок
:host {
  display: block;
}

// Стиль карточки
#{$base_elm} {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: colors.$card;
  border-radius: containers.$cardBorderRadius;

  // Тени
  &:not([class*="mat-elevation-z"]) {
    box-shadow: containers.$cardBoxShadow;
  }

  // Полная высота
  &.full-height {
    height: 100%;
  }

  // Шапка
  &-header {
    $menu-size: 40px;

    align-items: center;
    display: grid;
    grid-gap: 0 10px;
    padding: 0;

    // Макеты
    & {
      // Общий макет
      grid-template-areas: "title" "subtitle";
      grid-template-columns: 1fr;
      // Макет с аватаркой
      &.use-avatar {
        grid-template-areas: "avatar title" "avatar subtitle";
        grid-template-columns: #{containers.$avatarSize} 1fr;
      }
      // Макет с меню
      &.use-menu {
        grid-template-areas: "title menu" "subtitle menu";
        grid-template-columns: 1fr #{$menu-size};
      }
      // Макет с меню и аватаркой
      &.use-avatar.use-menu {
        grid-template-areas: "avatar title menu" "avatar subtitle menu";
        grid-template-columns: #{containers.$avatarSize} 1fr #{$menu-size};
      }
    }

    // Текст шапки
    :host ::ng-deep &-text {
      margin: 0;
    }

    // Заголовок
    #{$base_elm}-title {
      @include mixins.margin;
      // Свойства
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      color: colors.$title;
    }

    // Подзаголовок
    #{$base_elm}-subtitle {
      @include mixins.margin;
      // Свойства
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: colors.$subtitle;
    }

    // Аватарка
    #{$base_elm}-avatar {
      width: containers.$avatarSize;
      height: containers.$avatarSize;
      border-radius: containers.$cardBorderRadius;
      overflow: hidden;
      margin-bottom: 0;

      // С картинкой
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      // Без картинки
      > mat-icon {
        width: containers.$avatarSize;
        height: containers.$avatarSize;
        line-height: containers.$avatarSize;
        font-size: containers.$avatarSize * 0.6;
        text-align: center;
        background-color: map.get(colors.$matPrimary, $image-color);
        color: map.get(colors.$matPrimary, contrast, $image-color);
      }

      // Для закрашенных аватарок
      &[background="fill"] {
        @each $key, $color in $colors {
          &[color="#{$key}"] > mat-icon {
            background-color: map.get($color, $image-color);
            color: map.get($color, contrast, $image-color);
          }
        }
      }
      // Для прозрачных аватарок
      &[background="transparent"] {
        > mat-icon {
          background-color: transparent;
        }
        @each $key, $color in $colors {
          &[color="#{$key}"] > mat-icon {
            color: map.get($color, $image-color);
          }
        }
      }
    }
  }

  // Содержимое
  &-content {
    margin-bottom: 0;
    flex-grow: 1;
    padding: 0;
    // Скрытый блок
    &[hidden] {
      display: none;
    }
    // Утступ сверху
    &:first-child {
      padding-top: 0;
    }
  }

  // Поле кнопок
  &-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin: 0;
    padding: 0;
    min-height: 0;
    // Если элемент в конце списка
    #{$base_elm} > &:last-child {
      padding-top: 0;
      margin-bottom: 0;
    }
    // Адаптив
    @media (max-width: 330px) {
      justify-content: space-between;

      :host ::ng-deep & > *:first-child:last-child {
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
    // Скрытый блок
    &[hidden] {
      display: none;
    }
  }

  // Адаптив
  @include screens.adaptiveFor(containers.$cardPaddings) using($padding) {
    padding: #{map.get($padding, y)} #{map.get($padding, x)};
    gap: #{map.get($padding, y)} #{map.get($padding, x)};
  }
}

// Прикрепленные свойства
:host ::ng-deep .attachment {
  containers.$avatarSize: 28px;
  // Свойства
  display: grid;
  gap: 0 8px;
  grid-template: "image title" "image subtitle";
  grid-template-columns: containers.$avatarSize 1fr;
  align-items: center;
  // Список элементов
  &__list {
    display: grid;
    gap: 20px 15px;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    // Адаптив
    @media (max-width: 400px) {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }
  // Картинка
  &__image {
    $sizes: (
      small: 0.5,
      middle: 0.75,
      large: 1
    );
    // Свойства
    display: block;
    width: containers.$avatarSize;
    height: containers.$avatarSize;
    grid-area: image;
    // Иконка
    > mat-icon {
      width: containers.$avatarSize;
      height: containers.$avatarSize;
      line-height: containers.$avatarSize;
      font-size: containers.$avatarSize;
      color: map.get(colors.$matPrimary, $image-color);
      text-align: center;
    }
    // Разные цвета
    @each $key, $color in $colors {
      &[color="#{$key}"] > mat-icon {
        color: map.get($color, $image-color);
      }
    }
    // Разные размеры
    @each $key, $size in $sizes {
      &[size="#{$key}"] > mat-icon {
        font-size: containers.$avatarSize * $size;
      }
    }
  }
  // Заголовок
  &__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: colors.$title;
    grid-area: title;
  }
  // Подзаголовок
  &__subtitle {
    font-size: 13px;
    line-height: 14px;
    font-weight: 300;
    color: colors.$subtitle;
    grid-area: subtitle;
  }
}
