/app
/email-templates
/db_backup
package-lock.json
/OnlineDreamsInterpreter
/server/mysql
/server/logs

.DS_Store

media/images/hashed/large/*
media/images/hashed/middle/*
media/images/hashed/original/*
media/images/hashed/small/*
!media/images/hashed/large/info.txt
!media/images/hashed/middle/info.txt
!media/images/hashed/original/info.txt
!media/images/hashed/small/info.txt

media/images/user_avatars/crop/*
media/images/user_avatars/full/*
media/images/user_avatars/middle/*
media/images/user_avatars/small/*
!media/images/user_avatars/crop/info.txt
!media/images/user_avatars/full/info.txt
!media/images/user_avatars/middle/info.txt
!media/images/user_avatars/small/info.txt

ssl/localhost.crt
ssl/localhost.key
ssl/openssl.cnf