<div #map
     class="map"
     (mousedown)="onMapMoveStart($event)"
     (contextmenu)="$event.preventDefault()"
     (wheel)="onZoom($event)"
     *ngIf="dreamMap">
  <div class="map__layout"
       [attr.width]="dreamMap.size.width"
       [attr.height]="dreamMap.size.height"
       [ngStyle]="layoutStyle()"
       [attr.fog]="renderDistanceCorrect">
    <ng-container *ngFor="let y of iY">
      <ng-container *ngIf="renderY(y)">
        <ng-container *ngFor="let x of iX">
          <ng-container *ngIf="renderX(x)">
            <!-- Ячейка -->
            <div class="ceil"
                 [ngClass]="{ 'web-ceil': !ceil(x, y).terrain }"
                 attr.coord="{{x}}-{{y}}"
                 [attr.fog]="renderFog(x, y)">
              <app-dream-map-terrain [ceil]="ceil(x, y)"
                                     [maxFog]="renderDistanceCorrect"
                                     [fog]="renderFog(x, y)"
                                     [rotateX]="rotateZ"
                                     [rotateZ]="rotateX"
                                     [topCeil]="renderY(y - 1)? ceil(x, y - 1): null"
                                     [rightCeil]="renderX(x + 1)? ceil(x + 1, y): null"
                                     [bottomCeil]="renderY(y + 1)? ceil(x, y + 1): null"
                                     [leftCeil]="renderX(x - 1)? ceil(x - 1, y): null"
                                     *ngIf="ceil(x, y).terrain"></app-dream-map-terrain>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>