@use "../../../../assets/styles/mixins";

// Родительский блок
:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  // Область рендеринга
  > canvas {
    @include mixins.inset;
    // Свойства
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
