<ng-container *ngIf="!pageLoading && !!visitedUser; else pageLoader">
  <!-- Шапка -->
  <app-main-menu [autoCollapse]="true"
                 [imageFullShow]="true"
                 [type]="navMenuType"
                 [image]="imagePrefix + backgroundImageData[navMenuType === navMenuTypes.full? 'imageName': 'imageNameShort']"
                 [imagePositionX]="backgroundImageData.positionX"
                 [imagePositionY]="backgroundImageData.positionY"
                 [imageOverlay]="backgroundImageData.imageOverlay"
                 [title]="title"
                 [subTitle]="subTitle"
                 [avatarImage]="menuAvatarImage"
                 [avatarIcon]="menuAvatarIcon"
                 [floatButtonIcon]="floatButtonIcon"
                 [floatButtonLink]="floatButtonLink"
                 [backButtonLink]="backButtonLink"></app-main-menu>
  <!-- Контейнер с данными -->
  <div class="root-section"
       [ngClass]="{ center: !userHasAccess }">
    <!-- Данные о пользователе -->
    <ng-container *ngIf="userHasAccess; else accessDeniedByPrivate">
      <!-- Сведения аккаунта -->
      <div class="section">
        <div class="container">
          <div class="information">
            <!-- Левая колонка -->
            <div class="information__left">
              <div class="information__left-helper">
                <ng-container [ngTemplateOutlet]="leftContent"></ng-container>
              </div>
            </div>
            <!-- Правая колонка -->
            <div class="information__right">
              <ng-container [ngTemplateOutlet]="rightContent"></ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>



<!-- Левая колонка -->
<ng-template #leftContent>
  <!-- Аватарка -->
  <app-avatar-block [user]="visitedUser"
                    [itsMyPage]="itsMyPage"></app-avatar-block>
</ng-template>

<!-- Правая колонка -->
<ng-template #rightContent>
  <!-- Статус пользователя -->
  <div class="status"
       *ngIf="!!visitedUser.pageStatus?.length || itsMyPage">
    <app-status-block [user]="visitedUser"
                      [itsMyPage]="itsMyPage"></app-status-block>
  </div>
  <!-- Остальные сведения -->
  <div class="general">
    <app-general-info-block [user]="visitedUser"></app-general-info-block>
  </div>
  <!-- Блок действий -->
  <div class="actions"
       *ngIf="isAutorizedUser">
    <app-action-block [user]="visitedUser"
                      [itsMyPage]="itsMyPage"></app-action-block>
  </div>
  <!-- Список сновидений -->
  <div class="dreams"
       *ngIf="userHasAccess">
    <app-dreams-block [user]="visitedUser"
                      [itsMyPage]="itsMyPage"></app-dreams-block>
  </div>
</ng-template>



<!-- Недоступно настройками приватности: страница -->
<ng-template #accessDeniedByPrivate>
  <app-inform [aboveIcon]="true"
              icon="policy"
              title="Страница недоступна"
              subTitle="Пользователь предпочел скрыть свою страницу настройками приватности">
    <app-action-block [user]="visitedUser"
                      [itsMyPage]="itsMyPage"
                      [shortenForm]="true"></app-action-block>
  </app-inform>
</ng-template>

<!-- Лоадер страницы -->
<ng-template #pageLoader>
  <app-page-loader></app-page-loader>
</ng-template>
