<ng-container *ngIf="!pageLoading && !!visitedUser; else pageLoader">
  <!-- Шапка -->
  <app-main-menu [autoCollapse]="true"
                 [imageFullShow]="true"
                 [type]="navMenuType"
                 [image]="imagePrefix + backgroundImageData[navMenuType === navMenuTypes.full? 'imageName': 'imageNameShort']"
                 [imagePositionX]="backgroundImageData.positionX"
                 [imagePositionY]="backgroundImageData.positionY"
                 [imageOverlay]="backgroundImageData.imageOverlay"
                 [title]="title"
                 [subTitle]="subTitle"
                 [avatarImage]="menuAvatarImage"
                 [avatarIcon]="menuAvatarIcon"
                 [floatButtonIcon]="floatButtonIcon"
                 [floatButtonLink]="floatButtonLink"
                 [backButtonLink]="backButtonLink"></app-main-menu>
  <!-- Контейнер с данными -->
  <div class="root-section"
       [ngClass]="{ center: !userHasAccess }">
    <!-- Данные о пользователе -->
    <ng-container *ngIf="userHasAccess; else accessDeniedByPrivate">
      <!-- Сведения аккаунта -->
      <div class="section">
        <div class="container">
          <div class="information with-ava">
            <!-- Аватарка -->
            <div class="information__avatar">
              <app-avatar-block [user]="visitedUser"
                                [itsMyPage]="itsMyPage"></app-avatar-block>
            </div>
            <!-- Сведения -->
            <div class="information__data">
              <!-- Статус пользователя -->
              <div class="information__data-item"
                   *ngIf="!!visitedUser.pageStatus?.length || itsMyPage">
                <app-status-block [user]="visitedUser"
                                  [itsMyPage]="itsMyPage"></app-status-block>
              </div>
              <!-- Блок действий -->
              <div class="information__data-item">
              </div>
              <!-- Остальные сведения -->
              <div class="information__data-item">
                <ng-container [ngTemplateOutlet]="userGeneralData"></ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Сновидения -->
      <div class="section white">
        <div class="container">
          <!-- Список сновидений -->
          <ng-container *ngIf="userHasDiaryAccess; else diaryaccessDeniedByPrivate">
            <ng-container *ngIf="!dreamsLoading">
              <ng-container *ngIf="!!dreamsCount">
                <!-- Заголовок -->
                <app-title [type]="5"
                           [title]="itsMyPage? 'Мои сновидения': 'Сновидения ' + (visitedUser | petrovich)"
                           [subTitle]="dreamsCount | i18nPlural: dreamPlural">
                  <!-- Все сновидения -->
                  <a mat-stroked-button
                     color="basic"
                     routerLink="/diary/{{visitedUser.id}}">
                    <mat-icon>book</mat-icon>
                    Все сны
                  </a>
                  <!-- Новое сновидение -->
                  <a mat-flat-button
                     color="primary"
                     routerLink="/diary/editor"
                     *ngIf="itsMyPage">
                    <mat-icon>add</mat-icon>
                    Новый сон
                  </a>
                </app-title>
                <!-- Список сновидений -->
                <app-dream-list [dreams]="dreams"
                                sourcePlace="profile"
                                [oneLine]="true"
                                [showProfile]="false"></app-dream-list>
              </ng-container>
              <!-- Нет сновидений -->
              <app-inform icon="close"
                          [aboveIcon]="true"
                          title="Нет сновидений"
                          [subTitle]="itsMyPage? 'Вы еще не записали ни одного сновидения': (visitedUser.name) + ' еще не записал' + (userIsMale? '': 'а') + ' ни одного сновидения'"
                          *ngIf="!dreamsCount"></app-inform>
            </ng-container>
            <!-- Лоадер сновидений -->
            <app-inform title="Загрузка сновидений"
                        subTitle="Пожалуйста подождите"
                        *ngIf="dreamsLoading"></app-inform>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>



<!-- Недоступно настройками приватности -->
<ng-template #accessDeniedByPrivate>
  <app-inform [aboveIcon]="true"
              icon="policy"
              title="Страница недоступна"
              subTitle="Пользователь предпочел скрыть свою страницу настройками приватности"></app-inform>
</ng-template>

<!-- Недоступно настройками приватности -->
<ng-template #diaryaccessDeniedByPrivate>
  <app-inform [aboveIcon]="true"
              icon="policy"
              title="Дневник недоступен"
              subTitle="Пользователь предпочел скрыть свой дневник сновидений настройками приватности"></app-inform>
</ng-template>



<!-- Основные данные о пользователе -->
<ng-template #userGeneralData>
  <!-- Общие данные -->
  <div class="user-data__overlay">
    <!-- Имя -->
    <ng-container [ngTemplateOutlet]="userGeneralDataField"
                  [ngTemplateOutletContext]="{
                                  $implicit: 'Имя',
                                  value: visitedUser.name + ' ' + visitedUser.lastName }"></ng-container>
    <!-- Никнейм -->
    <ng-container [ngTemplateOutlet]="userGeneralDataField"
                  [ngTemplateOutletContext]="{
                                  $implicit: 'Отчество (никнейм)',
                                  value: visitedUser.patronymic }"
                  *ngIf="!!visitedUser.patronymic?.length"></ng-container>
    <!-- Пол -->
    <ng-container [ngTemplateOutlet]="userGeneralDataField"
                  [ngTemplateOutletContext]="{
                                  $implicit: 'Пол',
                                  value: getVisitingUserSexLabel }"></ng-container>
    <!-- День рождения -->
    <ng-container [ngTemplateOutlet]="userGeneralDataField"
                  [ngTemplateOutletContext]="{
                                  $implicit: 'День рождения',
                                  value: visitedUser.birthDate | date: 'd MMMM y' }"></ng-container>
  </div>
  <!-- Технические данные -->
  <div class="user-data__overlay">
    <!-- Дата регистрации -->
    <ng-container [ngTemplateOutlet]="userGeneralDataField"
                  [ngTemplateOutletContext]="{
                                  $implicit: 'Дата регистрации',
                                  value: visitedUser.registerDate | date: 'd MMMM y' }"></ng-container>
  </div>
  <!-- Поле данных о пользователе -->
  <ng-template #userGeneralDataField
               let-label
               let-value="value">
    <div class="user-data">
      <div class="user-data__label">{{label}}</div>
      <div class="user-data__value">{{value}}</div>
    </div>
  </ng-template>
</ng-template>



<!-- Лоадер страницы -->
<ng-template #pageLoader>
  <app-page-loader></app-page-loader>
</ng-template>
