<!-- Шапка окна -->
<div mat-dialog-title
     class="title"
     [ngClass]="{ hasSubTitle: !!data.subTitle }">
  <div class="title__title">{{data.title}}</div>
  <div class="title__subTitle"
       *ngIf="!!data.subTitle">{{data.subTitle}}</div>
  <mat-icon class="title__button"
            mat-dialog-close>close</mat-icon>
</div>

<!-- Содержимое -->
<div mat-dialog-content>
  <div class="images"
       *ngIf="!loading && !!position; else loader">
    <!-- Интерфейс обрезки -->
    <div class="images__original">
      <div class="image">
        <img #scaledImage
             [src]="data.image" />
        <div class="cropper"
             [ngClass]="{ circle: isMiddle }"
             [style]="{
               left: (position.x1 * sizeKoof) + 'px',
               top: (position.y1 * sizeKoof) + 'px',
               width: ((position.x2 - position.x1) * sizeKoof) + 'px',
               height: ((position.y2 - position.y1) * sizeKoof) + 'px'
             }">
          <div class="area"
               (mousedown)="onMouseDown($event, ['move'])"
               (touchstart)="onMouseDown($event, ['move'])"></div>
          <!-- Точки для прямоугольного превью -->
          <ng-container *ngIf="!isMiddle">
            <div class="point {{cornerKey.join(' ')}}"
                 (mousedown)="onMouseDown($event, cornerKey)"
                 (touchstart)="onMouseDown($event, cornerKey)"
                 *ngFor="let cornerKey of cornerKeys"></div>
          </ng-container>
          <!-- Точки для круглого превью -->
          <ng-container *ngIf="isMiddle">
            <div class="point {{cornerKey}}"
                 (mousedown)="onMouseDown($event, [cornerKey])"
                 (touchstart)="onMouseDown($event, [cornerKey])"
                 *ngFor="let cornerKey of lineKeys"></div>
          </ng-container>
          <!-- Линии -->
          <div class="line {{lineKey}}"
               (mousedown)="onMouseDown($event, [lineKey])"
               (touchstart)="onMouseDown($event, [lineKey])"
               *ngFor="let lineKey of lineKeys"></div>
        </div>
      </div>
    </div>
    <!-- Превью -->
    <div #previewElement
         class="images__preview"
         *ngIf="showPreview">
      <!-- Аватарка -->
      <div class="images__preview-overlay"
           [ngClass]="{ circle: isMiddle }"
           [ngStyle]="{ height: previewPosition.blockHeight + 'px' }"
           *ngIf="!!previewPosition">
        <img [src]="data.image"
             [ngStyle]="getPreviewPositionCss" />
      </div>
    </div>
  </div>
</div>

<!-- Панель действия -->
<div mat-dialog-actions>
  <div class="buttons">
    <!-- Сохранить изменения -->
    <a mat-flat-button
       color="primary"
       (click)="onSaveCrop()"
       *ngIf="!loading && !!position">Сохранить</a>
    <!-- Закрыть окно -->
    <a mat-stroked-button
       color="basic"
       mat-dialog-close>Отмена</a>
  </div>
</div>



<!-- Загрузка -->
<ng-template #loader>
  <app-inform title="Загрузка аватарки"
              subTitle="Пожалуйста подождите"></app-inform>
</ng-template>
