@use "sass:math";
@use "../../../../assets/styles/colors";
@use "../../../../assets/styles/material";
@use "../../../../assets/styles/mixins";
@use "../../../../assets/styles/vars";

$win-width: 800px - (24px * 2);
$preview-width: 200px;

$height: 540px;

// Базовый стиль окна
@include material.matDialog;

// Картинки
.images {
  $gap: 15px;
  // Свойства
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  user-select: none;
  // Оригинальная картинка
  &__original {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    // Обертка картинки
    > .image {
      width: auto;
      height: auto;
      overflow: hidden;
      position: relative;
      // Картинка
      > img {
        display: block;
        max-width: min(100%, #{$win-width - $preview-width - $gap});
        max-height: min(#{$height}, #{vars.$dialogContentMaxHeight});
      }
      // Резчик
      > .cropper {
        $size: 18px;
        // Свойства
        position: absolute;
        outline: 1000vw solid colors.$overlayColor;
        border: 1px dotted colors.$borderLight;
        // Вся область
        > .area {
          @include mixins.inset;
          position: absolute;
          cursor: move;
          z-index: 0;
        }
        // Точки
        > .point {
          $v-size: math.min($size, 8px);
          $v-line: 1px;
          // Свойства
          position: absolute;
          transform: translateX(-50%) translateY(-50%);
          width: $size;
          height: $size;
          top: 50%;
          left: 50%;
          z-index: 2;
          // Видимая часть
          &:before {
            @include mixins.inset(50%);
            content: "";
            display: block;
            position: inherit;
            width: $v-size;
            height: $v-size;
            border: #{$v-line} solid colors.$borderLight;
            transform: translateX(-50%) translateY(-50%);
            background-color: rgba(255, 255, 255, 0.5);
          }
          // Левые точки
          &.left {
            left: 0;
            cursor: w-resize;
          }
          // Правые точки
          &.right {
            left: 100%;
            cursor: e-resize;
          }
          // Левые точки
          &.top {
            top: 0;
            cursor: n-resize;
          }
          // Правые точки
          &.bottom {
            top: 100%;
            cursor: s-resize;
          }
          // Курсоры
          & {
            // Верхний левый
            &.top.left {
              cursor: nw-resize;
            }
            // Верхний правый
            &.top.right {
              cursor: ne-resize;
            }
            // Нижний левый
            &.bottom.left {
              cursor: sw-resize;
            }
            // Нижний правый
            &.bottom.right {
              cursor: se-resize;
            }
          }
        }
        // Линии
        > .line {
          position: absolute;
          transform: translateX(-50%) translateY(-50%);
          width: $size;
          height: $size;
          top: 50%;
          left: 50%;
          z-index: 1;
          // Левая
          &.left {
            height: 100%;
            left: 0;
            cursor: w-resize;
          }
          // Правая
          &.right {
            height: 100%;
            left: 100%;
            cursor: e-resize;
          }
          // Верхняя
          &.top {
            width: 100%;
            top: 0;
            cursor: n-resize;
          }
          // Нижняя
          &.bottom {
            width: 100%;
            top: 100%;
            cursor: s-resize;
          }
        }

        // Круглый
        &.circle {
          $circleSize: 25%;
          // Свойства
          border-radius: 50%;
          // Линии
          > .line {
            // Левая и правая
            &.left,
            &.right {
              width: $circleSize;
              height: 100%;
            }
            // Верхняя и нижняя
            &.top,
            &.bottom {
              width: 100%;
              height: $circleSize;
            }
            // Левая
            &.left {
              left: calc(#{math.div($circleSize, 2)} - #{math.div($size, 2)});
            }
            // Правая
            &.right {
              left: calc(100% - #{math.div($circleSize, 2)} + #{math.div($size, 2)});
            }
            // Верхняя
            &.top {
              top: calc(#{math.div($circleSize, 2)} - #{math.div($size, 2)});
            }
            // Нижняя
            &.bottom {
              top: calc(100% - #{math.div($circleSize, 2)} + #{math.div($size, 2)});
            }
          }
        }
      }
    }
  }
  // Превью
  &__preview {
    width: $preview-width;
    // Обертка
    &-overlay {
      width: 100%;
      overflow: hidden;
      // Круглая картинка
      &.circle {
        border-radius: 50%;
      }
      // Картинка
      > img {
        display: block;
        position: relative;
      }
    }
  }
}
