<div class="viewer"
     *ngVar="loadingStep !== loadingSteps.stopped as loading">
  <canvas #canvas
          [hidden]="loading"></canvas>
  <!-- Загрузка -->
  <ng-container [ngTemplateOutlet]="loader"
                *ngIf="loading; else widgets"></ng-container>
  <!-- Вспомогательный блок -->
  <div #helper
       class="viewer__helper"></div>
</div>

<!-- Инструменты редактора -->
<ng-template #widgets>
  <!-- Компас -->
  <span class="compass">
    <span class="compass__circle"
          [ngStyle]="compassStyles$ | async">
      <span class="compass__label">
        <span class="compass__label-text"
              [ngStyle]="{ transform: 'rotate(' + compassRadialShift + 'deg)' }">{{'3d.viewer.compass.label' | translate}}</span>
      </span>
    </span>
  </span>
</ng-template>

<!-- Загрузка -->
<ng-template #loader>
  <div class="loader"
       *ngVar="progressBarState as state">
    <!-- Прогресс текстом -->
    <div class="loader__progress-title"
         *ngIf="state.mode === 'determinate'">{{state.progress | number: '1.0-0'}}%</div>
    <!-- Иконка -->
    <mat-icon>{{state.icon}}</mat-icon>
    <!-- Прогресс -->
    <mat-progress-bar [value]="state.progress"
                      [mode]="state.mode"></mat-progress-bar>
    <!-- Заголовок -->
    <div class="loader__title">{{('3d.viewer.loader.title.' + loadingStep) | translate}}</div>
  </div>
</ng-template>