<div class="viewer"
     *ngVar="(loading$ | async) as loading">
  <canvas #canvas
          [hidden]="loading"></canvas>
  <!-- Загрузка -->
  <ng-container [ngTemplateOutlet]="loader"
                *ngIf="loading; else widgets"></ng-container>
  <!-- Вспомогательный блок -->
  <div #helper
       class="viewer__helper"></div>
</div>

<!-- Инструменты редактора -->
<ng-template #widgets>
  <ng-container *ngVar="(showControls$ | async) as showControls">
    <!-- Компас -->
    <span class="compass"
          *ngIf="showControls">
      <span class="compass__circle"
            [ngStyle]="compassStyles$ | async">
        <span class="compass__circle-border">
          <span class="compass__label">
            <span class="compass__label-text"
                  [ngStyle]="compassCorrectStyles">{{'3d.viewer.compass.label' | translate}}</span>
          </span>
          <!-- Отметка о положении на карте -->
          <span class="compass__mark"
                [ngStyle]="compassCorrectStyles">
            <span class="compass__mark-area"
                  [ngStyle]="compassMarkAreaStyles$ | async">
              <span class="compass__mark-overlay"
                    [ngStyle]="compassMarkColumnStyles$ | async">
                <span class="compass__mark-head"
                      [ngStyle]="compassMarkHeadStyles$ | async"></span>
                <span class="compass__mark-column"></span>
              </span>
            </span>
          </span>
        </span>
      </span>
    </span>
    <!-- Статистика -->
    <div #statsBlock
         class="stats"
         [ngClass]="{ show: debugInfo && showControls }"
         *ngVar="cursorInWorkArea$ | async as cursorInWorkArea">
      <!-- Текущая координата -->
      <div class="stats__item">
        <!-- За пределами рабочей области -->
        <div class="stats__item-center"
             *ngIf="!cursorInWorkArea">{{'3d.viewer.stats.out_of_map' | translate}}</div>
        <!-- Внутри рабочей области -->
        <ng-container *ngIf="cursorInWorkArea">
          <div class="stats__item-simple">
            <b>X:</b>
            {{(cursorCoords$ | async).x}}
          </div>
          <div class="stats__item-simple">
            <b>Y:</b>
            {{(cursorCoords$ | async).y}}
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-template>

<!-- Загрузка -->
<ng-template #loader>
  <div class="loader"
       *ngVar="progressBarState as state">
    <!-- Прогресс текстом -->
    <div class="loader__progress-title"
         *ngIf="state.mode === 'determinate'">{{state.progress | number: '1.0-0'}}%</div>
    <!-- Иконка -->
    <mat-icon>{{state.icon}}</mat-icon>
    <!-- Прогресс -->
    <mat-progress-bar [value]="state.progress"
                      [mode]="state.mode"></mat-progress-bar>
    <!-- Заголовок -->
    <div class="loader__title">{{('3d.viewer.loader.title.' + loadingStep) | translate}}</div>
    <!-- Подзаголовок -->
    <div class="loader__sub-title"
         *ngIf="state.subSteps > 0">
      {{'general.labels.of' | translate: { from: state.completedSubSteps | number: '0.0-0', to: state.subSteps | number: '0.0-0' } }}
      {{state.subSteps | i18nPlural: ('3d.viewer.loader.sub_title.' + loadingStep | translate)}}
    </div>
  </div>
</ng-template>