@use "sass:map";
@use "sass:math";
@use "mixins";
@use "colors";
@use "containers";
@use "screens";

$controlOffset: 5px;

// Родительский блок
:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: inherit;
}

// Обертка
.viewer {
  width: 100%;
  height: 100%;
  position: absolute;
  user-select: none;
  background-color: colors.$card;
  border-radius: containers.$cardBorderRadius;
  box-shadow: containers.$cardBoxShadow;
  overflow: hidden;
  // Помощник
  &__helper {
    @include mixins.inset;
    // Свойства
    z-index: -100;
    position: absolute;
  }
  // Область рендеринга
  > canvas {
    @include mixins.inset;
    // Свойства
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
}

// Загрузка
.loader {
  $iconSize: 36px;
  // Подклчюения
  @include mixins.inset;
  // Свойства
  z-index: 1;
  position: absolute;
  background-color: inherit;
  padding: containers.$paddingX;
  gap: containers.$paddingX;
  display: grid;
  grid-template-columns: #{$iconSize} 1fr 320px 1fr #{$iconSize};
  grid-template-rows: #{$iconSize} 1fr auto auto 1fr #{$iconSize};
  grid-template-areas: "1 1 1 1 1" "2 2 2 2 2" "3-1 3-1 title 3-2 3-2" "4-1 4-1 sub-title 4-2 4-2" "5 5 5 5 5" "progressTitle progressBar progressBar progressBar icon";
  align-items: center;
  // Прогресс текстом
  &__progress-title {
    grid-area: progressTitle;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    font-weight: 400;
  }
  // Заголовок
  &__title {
    grid-area: title;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
  // Подзаголовок
  &__sub-title {
    grid-area: sub-title;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
  }
  // Элементы внутри
  > mat-progress-bar {
    grid-area: progressBar;
    // Убрать анимацию
    ::ng-deep .mdc-linear-progress__bar {
      transition: none;
    }
  }
  // Икнока
  > mat-icon {
    grid-area: icon;
    color: map.get(colors.$matPrimary, 500);
    width: $iconSize;
    height: $iconSize;
    line-height: $iconSize;
    font-size: $iconSize * 0.8;
    text-align: center;
  }
  // Адаптив
  @include screens.adaptive(xxsmall, small) {
    grid-template-columns: #{$iconSize} 1fr #{$iconSize};
    grid-template-areas: "1 1 1" "2 2 2" "title title title" "sub-title sub-title sub-title" "5 5 5" "progressTitle progressBar icon";
  }
}

// Компасс
.compass {
  $size: 96px;
  $position: 18px;
  $labelSize: 22px;
  $borderSize: 6px;
  $northBorderRadius: 6px;
  $markSize: 6px;
  // Свойства
  position: absolute;
  display: block;
  bottom: $position;
  right: $position;
  width: $size;
  height: $size;
  transform-style: preserve-3d;
  perspective: 170px;
  user-select: none;
  pointer-events: none;
  // Круг
  &__circle {
    @include mixins.inset;
    // Свойства
    display: block;
    border-radius: 50% #{$northBorderRadius} 50% 50%;
    position: absolute;
    padding: 5px;
    background-color: colors.$text;
    z-index: 0;
    transform-style: preserve-3d;
    // Видимые границы
    &-border {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      border-style: solid solid dotted dotted;
      border-radius: 50% #{$northBorderRadius} 50% 50%;
      border-width: #{$borderSize} #{$borderSize} 2px 2px;
      border-color: #{colors.$border} #{colors.$border} #{rgba(colors.$border, 0.5)} #{rgba(colors.$border, 0.5)};
      transform-style: preserve-3d;
    }
  }
  // Обозначение севера
  &__label {
    display: block;
    width: $labelSize;
    height: $labelSize;
    text-align: center;
    position: absolute;
    right: -$borderSize;
    top: -$borderSize;
    background-color: colors.$border;
    border-radius: 0 #{$northBorderRadius} 0 50%;
    color: colors.$subtitle;
    transform-origin: 50% #{$labelSize - math.div($labelSize + $borderSize, 2) + math.div($size, 2)};
    z-index: 1;
    transform-style: flat;
    // Текст
    &-text {
      display: inline-block;
      vertical-align: top;
      line-height: $labelSize;
      font-size: $labelSize * 0.7;
      font-weight: 400;
    }
  }
  // Обозначение
  &__mark {
    @include mixins.inset($borderSize);
    // Свойства
    position: absolute;
    background-color: colors.$text;
    border-radius: 50%;
    z-index: 1;
    transform-style: preserve-3d;
    // Элемент положения
    &-area {
      position: relative;
      display: block;
      width: $markSize;
      height: $markSize;
      transform: translateX(-#{math.div($markSize, 2)}) translateY(-#{math.div($markSize, 2)});
      transform-style: preserve-3d;
    }
    // Обертка
    &-overlay {
      position: absolute;
      bottom: 0;
      display: block;
      height: 400%;
      transform-origin: 50% 100%;
      transform-style: preserve-3d;
    }
    // Колонка
    &-column {
      display: block;
      width: 1px;
      height: calc(100% - #{math.div($markSize, 2)});
      border-radius: 0.5px;
      margin-left: math.div($markSize - 1px, 2);
      background-color: colors.$border;
      opacity: 0.5;
    }
    // Наконечник
    &-head {
      display: block;
      width: $markSize;
      min-height: $markSize;
      border-radius: 50%;
      background-color: colors.$border;
      margin-bottom: -$markSize;
      box-shadow: 0 0 5px 1px rgba(0 0 0 / 0.8);
    }
  }
}

// Статистика
.stats {
  z-index: 1;
  user-select: none;
  // Данные
  ::ng-deep > div {
    position: absolute !important;
    left: #{$controlOffset} !important;
    top: #{$controlOffset} !important;
  }
}
