@use "sass:map";
@use "../../styles/settings/colors";
@use "../../styles/settings/vars";

$footerGap: 15px;
$footerLeftColumnSize: 40%;
$footerRightColumnSize: calc(100% - #{$footerGap} - #{$footerLeftColumnSize});
$footerBottomColumnSize: 100%;

.footer {
  background-color: #111;
  border-radius: 0 0 #{vars.$mainContainerBorderRadius} #{vars.$mainContainerBorderRadius};

  &__left {
    width: $footerLeftColumnSize;
  }

  &__right {
    width: $footerRightColumnSize;
  }

  &__bottom {
    width: $footerBottomColumnSize;
  }

  &__small-text {
    font-size: 11px;
    line-height: 1.2;
    font-weight: 100;
    opacity: 0.7;
  }

  &,
  * {
    color: #fff;
  }
}
