@use "sass:map";
@use "../../styles/settings/vars";
@use "../../styles/settings/colors";

.header {
  height: vars.$headerSize;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: map.get(colors.$mat-primary, 500);

  &__left {
    text-decoration: none;
  }

  &__title,
  &__subtitle {
    color: map.get(colors.$mat-primary, contrast, 500);
  }

  &__title {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }

  &__subtitle {
    font-size: 13px;
    line-height: 18px;
    opacity: 0.9;
    font-weight: 300;
  }
}
