include ../../components/container
-
	title = "Dreams Diary Default Email Template";
	current_page = "home";
	headerTitle = "Online Dreams Diary (Онлайн дневник сновидений)";
	headerSubTitle = "";
	footerSmallText = ""
	siteLink = "https://dreams-diary.ru";
block vars
<!DOCTYPE htmlPUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office")
	head
		title= title
		meta( name = "viewport", content = "width=device-width, initial-scale=1.0" )
		meta( http-equiv = "Content-Type", content = "text/html; charset=UTF-8" )
		style=renderScss("src/layouts/main/styles.scss")
		link( href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;600&display=swap" rel="stylesheet" )
	body
		table#page
			tr.main-container__overlay
				td
				td.main-container
					table
						tr
							td.main-container__content
								block header
									include header
								#all-content
									block content
								block footer
									include footer
				td