mat-form-field([appearance]="appearance")
  mat-label {{label}}

  .values
    span.values__label(class="{{control.value?'':'select'}}", (click)="control.setValue(false)") {{values[0]}}
    .values__toggle
      mat-slide-toggle(#toggle="", color="primary", [formControl]="control")
    span.values__label(class="{{control.value?'select':''}}", (click)="control.setValue(true)") {{values[1]}}

  input(matInput="", hidden="", [formControl]="control", type="text")