<mat-form-field [appearance]="appearance"
                [class]="hasValidators? '': 'disabled-validators'">
  <mat-label>{{label}}</mat-label>
  <div class="values">
    <!-- Текстовая отметка для значения: нет -->
    <span class="values__label"
          [ngClass]="{ select: !isChecked }"
          (click)="control.setValue(false)">{{values[0]}}</span>
    <!-- Переключатель -->
    <div class="values__toggle">
      <mat-slide-toggle #toggle=""
                        color="primary"
                        [checked]="isChecked"
                        (toggleChange)="control.setValue(!control.value)"></mat-slide-toggle>
    </div>
    <!-- Текстовая отметка для значения: да -->
    <span class="values__label"
          [ngClass]="{ select: isChecked }"
          (click)="control.setValue(true)">{{values[1]}}</span>
  </div>
  <input matInput=""
         hidden=""
         [formControl]="control"
         type="text" />
</mat-form-field>