@use "sass:math";
@use "./../viewer/settings/styles" as settings;
@use "../../../../assets/styles/mixins";

// Цикл по туману
@mixin fog-style {
  @for $layoutFog from 1 to settings.$layout-fogs + 1 {
    @for $ceilFog from 1 to $layoutFog + 1 {
      &[max-fog="#{$layoutFog}"][fog="#{$ceilFog}"] {
        $sin: math.sin(math.div(90deg, $layoutFog) * $ceilFog);
        $cos: math.cos(math.div(90deg, $layoutFog) * $ceilFog);
        // Прозрачность
        $opacity-min: 0.8;
        $opacity-max: 0.99;
        $opacity-koof: math.div($opacity-min - $opacity-max, 1);
        // Блюр
        $blur-min: 0.2px;
        $blur-max: 3px;
        $blur-koof: math.div($blur-min - $blur-max, 1);
        // Свойства
        filter: blur(#{($blur-koof * $cos) + $blur-max});
        opacity: ($opacity-koof * $sin) + $opacity-max;
      }
    }
  }
}

// Основной блок
:host {
  @include mixins.inset;
  // Свойства
  display: block;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 999999px;
  font-size: 50px;
}

// Обозначение наземного слоя
.background {
  @include mixins.inset;
  // Свойства
  position: absolute;
  background-position: 0 0;
  background-size: 100%;
  // Цикл по высоте
  @for $i from 1 to settings.$z-max {
    &[z="#{$i}"] {
      transform: rotateX(90deg) translateY(#{math.div(100%, settings.$z-koof) * $i}) rotateX(90deg);
    }
  }
  // Цикл по фонfм
  @for $i from 1 to settings.$background-images + 1 {
    &[terrain="#{$i}"] {
      background-image: url("./images/background/#{$i}.jpg");
    }
  }
  // Цикл по туману
  @include fog-style;
}
// Обозначение подземного слоя
.underground {
  // Общие стили
  &-side,
  &-front,
  &-left,
  &-right {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    background-size: 100% auto, 100% auto;
    background-position: bottom center, top center;
    background-repeat: repeat, no-repeat;
    background-blend-mode: multiply;
    // Цикл по фоном
    @for $i from 1 to settings.$background-images + 1 {
      &[terrain="#{$i}"] {
        background-image: url("./images/underground/#{$i}.jpg"), url("./images/border/z/#{$i}.jpg");
      }
    }
    // Цикл по туману
    @include fog-style;
  }

  // Задняя стенка
  &-side {
    bottom: 100%;
    transform-origin: bottom left;
    //filter: brightness(1);
  }
  // Левая стенка
  &-left {
    bottom: 100%;
    transform-origin: bottom left;
    //filter: brightness(0.9);
  }
  // Правая стенка
  &-right {
    bottom: 0;
    left: 100%;
    transform-origin: bottom left;
    //filter: brightness(0.8);
  }
  // Передняя стенка
  &-front {
    bottom: 0;
    transform-origin: bottom left;
    //filter: brightness(0.7);
  }

  // Цикл по высоте
  @for $z from 1 to settings.$z-max {
    @for $c-z from 0 to $z {
      $__selector: '[z="#{$z}"][closest-z="#{$c-z}"]';
      $origin: math.div(100%, $z - $c-z) * $c-z;
      // Общие свойства
      &-side,
      &-front,
      &-left,
      &-right {
        &#{$__selector} {
          height: math.div(100%, settings.$z-koof) * ($z - $c-z);
        }
      }
      // Задняя
      &-side#{$__selector} {
        transform: rotateX(-90deg) translateY(#{-$origin});
      }
      // Левая
      &-left#{$__selector} {
        transform: rotateX(-90deg) rotateY(-90deg) translateY(#{-$origin});
      }
      // Правая
      &-right#{$__selector} {
        transform: rotateX(-90deg) rotateY(90deg) translateY(#{-$origin});
      }
      // Передняя
      &-front#{$__selector} {
        transform: rotateX(-90deg) translateY(#{-$origin});
      }
    }
  }
}
