<!-- Тип местности -->
<div class="background"
     [attr.terrain]="ceil.terrain.id"
     [attr.z]="ceil.coord.z"
     [attr.max-fog]="maxFog"
     [attr.fog]="fog"
     *ngIf="ceil"></div>
<!-- Подземные слои -->
<ng-container *ngIf="ceil.coord.z">
  <ng-container *ngFor="let wallType of wallTypes">
    <!-- Стенки -->
    <div class="underground-{{wallType.value}}"
         [attr.terrain]="ceil.terrain.id"
         [attr.z]="ceil.coord.z"
         [attr.max-fog]="maxFog"
         [attr.closest-z]="closestZ(wallType.key)"
         [attr.fog]="fog"
         *ngIf="canRender(wallType.key)"></div>
  </ng-container>
</ng-container>