@use "mixins";
@use "screens";
@use "colors";
@use "containers";

// Панель просмотра
.search-panel {
  @include mixins.inset;
  // Свойтсва
  position: fixed;
  user-select: none;
  pointer-events: none;
  z-index: 12;
  // Затенение
  &__overlay {
    @include mixins.inset;
    // Свойтсва
    position: absolute;
    background-color: colors.$overlayColor;
    transition: opacity screens.$animationTime;
    opacity: 0;
    // Статус: открыто
    &.open {
      opacity: 1;
      pointer-events: auto;
    }
  }
  // Контейнер меню
  &__container {
    @include mixins.inset;
    // Свойтсва
    left: auto;
    position: absolute;
    width: containers.$mobileMenuWidth;
    background-color: colors.$card;
    right: -#{containers.$mobileMenuWidth};
    transition: right screens.$animationTime;
    pointer-events: auto;
    display: grid;
    grid-template-rows: #{containers.$mobileMenuHeight} minmax(0, 1fr) auto;
    grid-template-areas: "header" "content" "actions";
    // Статус: открыто
    &.open {
      right: 0;
    }
  }
  // Заголовок
  &__title {
    height: containers.$mobileMenuHeight;
    position: relative;
    grid-area: header;
    // Изображение
    &-image {
      @include mixins.inset;
      // Свойства
      position: absolute;
      // Картинка
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  // Содержимое
  &__content {
    grid-area: content;
    width: containers.$mobileMenuWidth;
  }
  // Действия
  &__actions {
    grid-area: actions;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: containers.$cardPaddingY;
    background-color: colors.$border;
  }
}
