<div class="search-panel">
  <!-- Затенение страницы -->
  <div class="search-panel__overlay"
       [ngClass]="{ open: isShow }"
       (click)="closePanel()"></div>
  <!-- Панель поиска -->
  <div class="search-panel__container"
       [ngClass]="{ open: isShow }">
    <!-- Шапка меню и т.д. -->
    <app-panels-header [backgroundImageId]="backgroundImageId"
                       [mainTitle]="headerTitle"
                       [subTitle]="headerSubTitle"
                       [avatarImage]="avatarImage"
                       [avatarIcon]="avatarIcon"
                       (closeClick)="closePanel()"></app-panels-header>
    <!-- Элементы управления -->
    <app-scroll class="search-panel__content">
      <ng-content></ng-content>
    </app-scroll>
    <!-- Действия -->
    <div class="search-panel__actions">
      <!-- Сбросить форму -->
      <a mat-stroked-button
         color="basic"
         (click)="onClear()">
        <mat-icon>close</mat-icon>Сброс
      </a>
      <!-- Поиск -->
      <a mat-flat-button
         color="primary"
         (click)="onSubmit()">
        <mat-icon>search</mat-icon>Поиск
      </a>
    </div>
  </div>
</div>
