<ng-container *ngIf="isAutorizedUser">
  <app-scroll [id]="listId"
              class="list"
              [ngClass]="{ show }"
              [ngStyle]="listStyles"
              (scrollChange)="onScrollChange($event)"
              *ngIf="!!notifications?.length; else noNotifications">
    <ng-container *ngFor="let notification of notifications">
      <ng-container [ngTemplateOutlet]="notificationTemplate"
                    [ngTemplateOutletContext]="{ notification, user: notificationUser(notification) | async }"></ng-container>
    </ng-container>
  </app-scroll>
</ng-container>



<!-- Шаблон уведомлений -->
<ng-template #notificationTemplate
             let-notification="notification"
             let-inUser="user">
  <ng-container *ngIf="notification.createDate | date: 'd.M.y - H:mm' as date">
    <!-- Заявка в друзья -->
    <notification-add-to-friend #notificationElm
                                [user]="inUser"
                                [notification]="notification"
                                [date]="date"></notification-add-to-friend>
  </ng-container>
</ng-template>



<!-- Уведомлений нет -->
<ng-template #noNotifications>
</ng-template>