<h1 *ngIf="type == 1"
    [ngClass]="getClass">
  <ng-container [ngTemplateOutlet]="content"></ng-container>
</h1>

<h2 *ngIf="type == 2"
    [ngClass]="getClass">
  <ng-container [ngTemplateOutlet]="content"></ng-container>
</h2>

<h3 *ngIf="type == 3"
    [ngClass]="getClass">
  <ng-container [ngTemplateOutlet]="content"></ng-container>
</h3>

<h4 *ngIf="type == 4"
    [ngClass]="getClass">
  <ng-container [ngTemplateOutlet]="content"></ng-container>
</h4>

<h5 *ngIf="type == 5"
    [ngClass]="getClass">
  <ng-container [ngTemplateOutlet]="content"></ng-container>
</h5>



<!-- Шаблон -->
<ng-template #content>
  <div class="image"
       [attr.background]="iconBackground"
       [attr.color]="iconColor"
       *ngIf="!!icon">
    <mat-icon>{{icon}}</mat-icon>
  </div>
  <!-- Заголовок -->
  <sup>{{mainTitle}}</sup>
  <!-- Подзаголовок -->
  <sub *ngIf="subTitle">{{subTitle}}</sub>
  <!-- Контент -->
  <div #actionsPanel
       class="actions"
       [hidden]="!showActionsPanel">
    <ng-content></ng-content>
  </div>
</ng-template>