@use "sass:math";
@use "sass:map";
@use "screens";
@use "colors";
@use "containers";
@use "mixins";

$fontSizes: (
  default: 30px,
  large: 28px,
  middle: 24px,
  small: 22px,
  xsmall: 20px,
  xxsmall: 20px
);

$breaksActions: (
  default: false,
  small: true,
  xsmall: true,
  xxsmall: true
);

$spacings: containers.$paddingsY;
$imageKoof: 0.9;
$subtitleKoof: 0.7;
$lineHeight: 1.3;
$gapKoof: 0.5;

:host {
  display: block;
}

// Свойства
@for $i from 1 to 6 {
  h#{$i} {
    line-height: #{$lineHeight} !important;
    display: grid;
    width: 100%;
    grid-template-areas: "title";
    grid-template-columns: 1fr;
    align-items: center;
    position: relative;
    margin-bottom: 0 !important;
    margin-top: 0;

    // Варианты
    & {
      // Картинка
      &.image {
        grid-template-areas: "image title";
      }
      // Подзаголовок
      &.subtitle {
        grid-template-areas: "title" "subtitle";
        // Поменять местами заголовки
        &.revert-titles {
          grid-template-areas: "subtitle" "title";
        }
      }
      // Панель
      &.actions {
        grid-template-areas: "title actions";
      }
      // Картинка и подзаголовок
      &.image.subtitle {
        grid-template-areas: "image title" "image subtitle";
        // Поменять местами заголовки
        &.revert-titles {
          grid-template-areas: "image subtitle" "image title";
        }
      }
      // Картинка и панель
      &.image.actions {
        grid-template-areas: "image title actions";
      }
      // Подзаголовок и панель
      &.subtitle.actions {
        grid-template-areas: "title actions" "subtitle actions";
        // Поменять местами заголовки
        &.revert-titles {
          grid-template-areas: "subtitle actions" "title actions";
        }
      }
      // Картинка, подзаголовок и панель
      &.image.subtitle.actions {
        grid-template-areas: "image title actions" "image subtitle actions";
        // Поменять местами заголовки
        &.revert-titles {
          grid-template-areas: "image subtitle actions" "image title actions";
        }
      }

      // Адаптив
      @include screens.adaptive(xxsmall, small) {
        &:not(.one-line) {
          // Панель
          &.actions {
            grid-template-areas: "title" "actions";
          }
          // Картинка и панель
          &.image.actions {
            grid-template-areas: "image title" "actions actions";
          }
          // Подзаголовок и панель
          &.subtitle.actions {
            grid-template-areas: "title" "subtitle" "actions";
            // Поменять местами заголовки
            &.revert-titles {
              grid-template-areas: "subtitle" "title" "actions";
            }
          }
          // Картинка, подзаголовок и панель
          &.image.subtitle.actions {
            grid-template-areas: "image title" "image subtitle" "actions actions";
            // Поменять местами заголовки
            &.revert-titles {
              grid-template-areas: "image subtitle" "image title" "actions actions";
            }
          }
        }
      }
    }

    // Заголовок
    > sup {
      display: block;
      font-size: inherit;
      font-weight: 400;
      color: colors.$title;
      grid-area: title;
    }
    // Подзаголовок
    > sub {
      display: block;
      font-size: #{$subtitleKoof}em;
      font-weight: 300;
      color: colors.$subtitle;
      grid-area: subtitle;
    }
    // Картинка
    > .image {
      grid-area: image;
      // Картинка
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: containers.$cardBorderRadius;
      }
      // Иконка
      > mat-icon {
        text-align: center;
        border-radius: containers.$cardBorderRadius;
      }
    }
    // Панель действий
    > .actions {
      grid-area: actions;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      gap: 5px;

      // Адаптив
      @include screens.adaptive(xxsmall, small) {
        justify-content: space-between;
        margin-top: 5px;
      }
    }

    // Адаптив
    @include screens.adaptiveFor($fontSizes, $spacings, $breaksActions) using($fontSize, $spacing, $breakActions) {
      $imageSize: $fontSize * (1 + $subtitleKoof) * $lineHeight * $imageKoof;
      // Свойства
      font-size: #{$fontSize} !important;
      gap: 0 #{$gapKoof * $fontSize};
      // Отступ
      &:not(.no-margin) {
        margin-bottom: #{$spacing} !important;
      }
      // Варианты
      & {
        // Картинка
        // Картинка и подзаголовок
        &.image,
        &.image.subtitle {
          grid-template-columns: #{$imageSize} 1fr;
        }
        // Панель
        // Подзаголовок и панель
        &.actions,
        &.subtitle.actions {
          grid-template-columns: 1fr auto;
        }
        // Картинка и панель
        // Картинка, подзаголовок и панель
        &.image.actions,
        &.image.subtitle.actions {
          grid-template-columns: #{$imageSize} 1fr auto;
        }
        // Перенести панель действий
        @if ($breakActions == true) {
          &:not(.one-line) {
            // Панель
            // Подзаголовок и панель
            &.actions,
            &.subtitle.actions {
              grid-template-columns: 1fr;
            }
            // Картинка и панель
            // Картинка, подзаголовок и панель
            &.image.actions,
            &.image.subtitle.actions {
              grid-template-columns: #{$imageSize} 1fr;
            }
          }
        }
      }
      // Картинка
      > .image {
        @include mixins.customsColors($imageSize, 0.7);
      }
    }
  }
}
