@use "../../../../assets/styles/material";
@use "../../../../assets/styles/mixins";

// Обертка поля
@include material.mat-form-field;

// Список
mat-chip-list {
  width: 100%;
}

// Поле ввода
.mat-input-element {
  font-weight: 400;
}

// Ключевое слово
.mat-chip {
  // Элемент
  &-elm {
    display: grid !important;
    grid-template-columns: auto auto;
    grid-template-areas: "word remove";
    grid-gap: 8px;
    max-width: 100%;
  }
  // Слово
  &-word {
    @include mixins.lineClamp(1, 16px);
    // Свойства
    grid-area: "word";
  }
  // Кнопка удаления
  &-remove {
    margin-left: 0;
    // Иконка
    > mat-icon {
      grid-area: "remove";
      width: 18px;
      height: 18px;
      line-height: 18px;
      font-size: 18px;
    }
  }
}
