<mat-form-field [appearance]="appearance">
  <mat-label>{{label}}</mat-label>
  <mat-chip-list #chipList
                 aria-label="label"
                 multiple
                 cdkDropList
                 [formControl]="control"
                 (cdkDropListDropped)="onDrop($event)">
    <mat-chip cdkDrag
              [selected]="word"
              [value]="word"
              (removed)="onRemoveWord(word)"
              *ngFor="let word of words">
      <div class="mat-chip-elm">
        <div class="mat-chip-word">{{word}}</div>
        <div matChipRemove>
          <mat-icon>cancel</mat-icon>
        </div>
      </div>
    </mat-chip>
    <input #chipInput
           [placeholder]="placeholder"
           [matChipInputFor]="chipList"
           [matChipInputAddOnBlur]="true"
           (keyup)="onKeyUp($event)"
           (matChipInputTokenEnd)="onAddWord($event)">
  </mat-chip-list>
  <mat-error *ngIf="control.invalid">{{getErrorMessageKey()}}</mat-error>
</mat-form-field>