@use "sass:map";
@use "sass:math";
@use "colors";
@use "mixins";
@use "screens";
@use "containers";

$controlOffset: 5px;

// Родительский блок
:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: inherit;
}

// Области редактора
.area {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

// Блок просмотра
.viewer {
  width: 100%;
  height: 100%;
}

// Управление
.controls {
  @include mixins.inset;
  // Свойства
  position: absolute;
  display: flex;
  user-select: none;
  pointer-events: none;
  justify-content: flex-end;
  align-items: flex-start;
  padding: $controlOffset;
}

// Кнопки
.buttons {
  border-radius: containers.$cardBorderRadius;
  overflow: hidden;
  margin: 0;
  padding: 0;
  // Кнопка
  &__item {
    pointer-events: all;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    background-color: colors.$card;
    transition: background-color #{screens.$animationTime};
    // Общее
    &,
    > mat-icon {
      width: containers.$avatarSize;
      height: containers.$avatarSize;
      line-height: containers.$avatarSize;
    }
    // Иконка
    > mat-icon {
      font-size: containers.$avatarSize * 0.7;
      color: colors.$subtitle;
      transition: color #{screens.$animationTime};
    }
    // Выделение
    &:hover {
      background-color: map.get(colors.$matPrimary, 500);
      // Иконка
      > mat-icon {
        color: map.get(colors.$matPrimary, contrast, 500);
      }
    }
  }
}

// Настройки
.settings {
  $closeSize: containers.$avatarSize;
  $mainControlSize: 90px;
  // Настройки
  @include mixins.inset;
  // Свойства
  position: absolute;
  background-color: colors.$overlayColor;
  display: grid;
  grid-template-areas:
    "1 title close"
    "content content content"
    "3 3 3";
  grid-template-columns: #{$closeSize} 1fr #{$closeSize};
  grid-template-rows: #{$closeSize} 1fr #{$closeSize};
  align-items: center;
  padding: $controlOffset;
  gap: $controlOffset;
  transition: background-color #{screens.$animationTime};
  // Скрыть затенение
  &.noOverlay {
    background-color: transparent;
  }
  // Кнопка закрытия
  &__close {
    display: block;
    width: $closeSize;
    height: $closeSize;
    line-height: $closeSize;
    font-size: $closeSize;
    color: colors.$tabBorder;
    text-align: center;
    transition: color #{screens.$animationTime};
    cursor: pointer;
    grid-area: close;
    // Наведение
    &:hover {
      color: colors.$titleDark;
    }
  }
  // Заголовок настройки
  &__title {
    @include mixins.lineClamp(1, 1.2, 22px);
    // Свойства
    display: block;
    margin: 0;
    grid-area: title;
    text-align: center;
    font-weight: 400;
    color: colors.$titleDark;
  }
  // Содержимое настроек
  &__content {
    grid-area: content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  // Настройки времени
  &-time {
    $controlSize: $mainControlSize * 4;
    $lineSize: 2px;
    $subControlSize: containers.$avatarSize;
    $lineSpacing: math.div($subControlSize, 2) + 6px;
    $subControlHeight: 1px;
    // Свойства
    display: block;
    position: relative;
    width: $controlSize;
    height: $controlSize;
    // Общие стили
    &__line,
    &__cicrle,
    &__sun,
    &__moon {
      position: absolute;
      display: block;
    }
    // Горизонт
    &__line {
      height: $lineSize;
      background-color: colors.$titleDark;
      top: calc(50% - #{math.div($lineSize, 2)});
      left: 0;
      right: 0;
      z-index: 1;
    }
    // Опорный путь
    &__cicrle {
      @include mixins.inset($lineSpacing);
      // Свойства
      border: #{$lineSize} dotted transparent;
      border-top-color: colors.$text;
      border-left-color: colors.$text;
      border-radius: 50%;
      transform: rotate(45deg);
      z-index: 0;
    }
    // Солнце и Луна
    &__sun,
    &__moon {
      margin-top: math.div(-$subControlSize, 2);
      margin-left: math.div(-$subControlSize, 2);
      cursor: pointer;
      z-index: 2;
      background-color: colors.$titleDark;
      color: colors.$title;
      border-radius: 50%;
      text-align: center;
      transition:
        background-color #{screens.$animationTime},
        color #{screens.$animationTime};
      // Общий стиль
      &,
      > mat-icon {
        user-select: none;
        width: $subControlSize;
        height: $subControlSize;
        line-height: $subControlSize;
      }
      // Иконка
      > mat-icon {
        pointer-events: none;
        font-size: $subControlSize * 0.7;
      }
      // Выделение
      &:hover {
        background-color: map.get(colors.$matPrimary, 500);
        color: map.get(colors.$matPrimary, contrast, 500);
      }
    }
  }
}
