@use "colors";
@use "containers";

// Родительский блок
:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: inherit;
}

// Области редактора
.area {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: colors.$card;
  border-radius: containers.$cardBorderRadius;
  box-shadow: containers.$cardBoxShadow;
}

// Блок просмотра
.viewer {
  width: 100%;
  height: 100%;
}
