<div class="area">
  <!-- Просмотр -->
  <viewer-3d class="viewer"
             [dreamMap]="dreamMap"
             [debugInfo]="debugInfo"
             [showCompass]="showCompass"></viewer-3d>
  <!-- Управление: настройки -->
  <ng-container [ngTemplateOutlet]="controlsSettings"
                *ngIf="showControls$ | async"></ng-container>
</div>



<!-- Настройки -->
<ng-template #controlsSettings>
  <div class="controls controls--settings">
    <ul class="buttons">
      <!-- Время суток -->
      <li class="buttons__item">
        <mat-icon>wb_twilight</mat-icon>
      </li>
    </ul>
  </div>
</ng-template>