<div class="area">
  <!-- Просмотр -->
  <viewer-3d class="viewer"
             [dreamMap]="dreamMap"
             [debugInfo]="debugInfo"
             [showCompass]="showCompass"
             [showCursor]="true"></viewer-3d>
  <!-- Управление: настройки -->
  <ng-container [ngTemplateOutlet]="controlsSettings"
                *ngIf="showControls$ | async"></ng-container>
  <!-- Управление: текущая настройка -->
  <ng-container [ngTemplateOutlet]="controlsSettingsCurrent"
                *ngIf="showSettings$ | async"></ng-container>
</div>



<!-- Управление: настройки -->
<ng-template #controlsSettings>
  <div class="controls controls--settings">
    <ul class="buttons">
      <!-- Время суток -->
      <li class="buttons__item"
          [matTooltip]="'3d.editor.controls.settings.time' | translate"
          matTooltipPosition="below"
          (click)="onTimeSettingsOpen()">
        <mat-icon>wb_sunny</mat-icon>
      </li>
    </ul>
  </div>
</ng-template>

<!-- Управление: текущая настройка -->
<ng-template #controlsSettingsCurrent>
  <div class="settings"
       [ngClass]="{ noOverlay: !showingOverlay }"
       *ngVar="(currentSetting$ | async) as currentSetting">
    <!-- Закрыть настройки -->
    <mat-icon class="settings__close"
              (click)="onCloseSettings()"
              *ngIf="showingOverlay">close</mat-icon>
    <!-- Название настройки -->
    <h5 class="settings__title"
        *ngIf="showingOverlay">{{('3d.editor.controls.settings.' + currentSetting) | translate}}</h5>
    <!-- Содержимое -->
    <div class="settings__content">
      <ng-container [ngTemplateOutlet]="settingsTime"
                    *ngIf="currentSetting === settingsTypes.time"></ng-container>
    </div>
  </div>
</ng-template>



<!-- Настройки: время суток -->
<ng-template #settingsTime>
  <span #settingsTimeContainer
        class="settings-time">
    <span class="settings-time__line"></span>
    <span class="settings-time__cicrle">
      <!-- Основные засечки -->
      <ng-container *ngIf="skyTimeControl.showLargeSerifs">
        <span class="settings-time__cicrle-serif large"
              [ngStyle]="{ transform: 'rotate(' + angleRotate(i, skyTimeControl.largeStep) + 'deg)' }"
              *ngFor="let i of skyTimeControl.largeSerifItterator"></span>
      </ng-container>
      <!-- Вспомогательные засечки -->
      <ng-container *ngIf="skyTimeControl.showSerifs">
        <span class="settings-time__cicrle-serif"
              [ngStyle]="{ transform: 'rotate(' + angleRotate(i, skyTimeControl.step) + 'deg)' }"
              *ngFor="let i of skyTimeControl.serifItterator"></span>
      </ng-container>
    </span>
    <!-- Солнце -->
    <span class="settings-time__sun"
          [ngStyle]="settingsSunStyles$ | async"
          mousePress
          (mouseUp)="showOverlay()"
          (mouseDown)="hideOverlay()"
          (mouseMovePress)="onSkyTimeChange($event)">
      <mat-icon>wb_sunny</mat-icon>
    </span>
    <!-- Луна -->
    <span class="settings-time__moon"
          [ngStyle]="settingsMoonStyles$ | async"
          mousePress
          (mouseUp)="showOverlay()"
          (mouseDown)="hideOverlay()"
          (mouseMovePress)="onSkyTimeChange($event, 1)">
      <mat-icon>brightness_2</mat-icon>
    </span>
  </span>
</ng-template>