<div class="area">
  <!-- Просмотр -->
  <viewer-3d class="viewer"
             [dreamMap]="dreamMap"
             [debugInfo]="debugInfo"
             [showCompass]="showCompass"
             [showCursor]="true"></viewer-3d>
  <!-- Управление: настройки -->
  <ng-container [ngTemplateOutlet]="controlsSettings"
                *ngIf="showControls$ | async"></ng-container>
  <!-- Управление: текущая настройка -->
  <ng-container [ngTemplateOutlet]="controlsSettingsCurrent"
                *ngIf="showSettings$ | async"></ng-container>
</div>



<!-- Управление: настройки -->
<ng-template #controlsSettings>
  <div class="controls controls--settings">
    <!-- Время суток -->
    <ul class="buttons">
      <li class="buttons__item"
          [matTooltip]="'3d.editor.controls.settings.time' | translate"
          matTooltipPosition="below"
          (click)="onTimeSettingsOpen()">
        <mat-icon>wb_sunny</mat-icon>
      </li>
    </ul>
    <!-- Уровень мирового океана -->
    <ul class="buttons">
      <li class="buttons__item"
          [matTooltip]="'3d.editor.controls.settings.world_ocean' | translate"
          matTooltipPosition="below"
          (click)="onWorldOceanSettingsOpen()">
        <mat-icon>water</mat-icon>
      </li>
    </ul>
    <!-- Управление местностью -->
    <ul class="buttons">
      <!-- Ландшафт -->
      <li class="buttons__item"
          [matTooltip]="'3d.editor.controls.settings.landscape' | translate"
          matTooltipPosition="below">
        <mat-icon>grass</mat-icon>
      </li>
    </ul>
  </div>
</ng-template>

<!-- Управление: текущая настройка -->
<ng-template #controlsSettingsCurrent>
  <div class="settings"
       [ngClass]="{ noOverlay: !showingOverlay }"
       *ngVar="(currentSetting$ | async) as currentSetting">
    <!-- Закрыть настройки -->
    <mat-icon class="settings__close"
              (click)="onCloseSettings()"
              *ngIf="showingOverlay">close</mat-icon>
    <!-- Название настройки -->
    <h5 class="settings__title"
        *ngIf="showingOverlay">{{('3d.editor.controls.settings.' + currentSetting) | translate}}</h5>
    <!-- Содержимое -->
    <div class="settings__content"
         [ngSwitch]="currentSetting">
      <editor-3d-time (hideOverlay)="hideOverlay()"
                      (showOverlay)="showOverlay()"></editor-3d-time>
    </div>
  </div>
</ng-template>
