@use "sass:map";
@use "colors";
@use "containers";
@use "screens";
@use "mixins";

// Переменные
$sizes: (
  default: 400px,
  xsmall: 256px
);
$elm: &;
// Размеры фигуры
$figureSize: 140px;
$figureColor: map.get(colors.$matPrimary, 500);

// Загрузчик
.loader {
  $elm: &;
  // Свойства
  width: $figureSize;
  height: $figureSize;
  position: relative;
  // Иконка
  &__icon {
    width: $figureSize;
    height: $figureSize;
    line-height: $figureSize;
    font-size: $figureSize;
    color: $figureColor;
    text-align: center;
    position: static;
  }
  // Слой
  &__layout {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    line-height: 1.12;
    overflow: hidden;
  }
  // Размеры
  &__title,
  &__subtitle,
  &__description {
    max-width: 100%;
    text-align: center;
    // Адаптив
    @include screens.adaptiveFor($sizes) using($size) {
      width: $size;
    }
  }
  // Заголовок
  &__title {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    // Белый цвет
    &.white {
      color: #fff;
    }
  }
  // Подзаголовок
  &__subtitle {
    $fontSize: 14px;
    $lineHeight: 1.2;
    // Свойства
    font-size: 14px;
    font-weight: 300;
    margin-top: 3px;
    text-transform: uppercase;
    // Белый цвет
    &.white {
      color: #eee;
    }
    // Точки
    &.waitPointers > .text {
      @include mixins.lineClamp(1, $lineHeight, $fontSize);
      // Свойства
      position: relative;
      width: auto;
      display: inline-block;
      overflow: unset;
      // Точки
      > span {
        @include mixins.lineClamp(1, $lineHeight, $fontSize);
        // Свойства
        position: absolute;
        left: calc(100% + 5px);
        top: 0;
        display: block;
      }
    }
    // Отступ
    #{$elm} + & {
      margin-top: 5px;
    }
  }
  // Описание
  &__description {
    font-size: 14px;
    font-weight: 300;
    // Белый цвет
    &.white {
      color: #ddd;
    }
  }
  // Адаптив
  @include screens.adaptiveFor(containers.$paddingsY) using($padding) {
    // Отступы
    &__title + &,
    &__subtitle + &,
    &__title + &__icon,
    &__subtitle + &__icon,
    &__description {
      margin-top: $padding;
      // Маленький отступ
      &.smallMargins {
        margin-top: containers.$cardPaddingY;
      }
    }
  }
}

// Контейнер для кнопок
::ng-deep .buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
