<div class="loader__layout">
  <!-- Иконка сверху -->
  <mat-icon class="loader__icon"
            *ngIf="aboveIcon && icon !== 'loader'">{{icon}}</mat-icon>
  <!-- Заголовок -->
  <div class="loader__title {{color}}"
       *ngIf="title">{{title}}</div>
  <!-- Подзаголовок -->
  <div class="loader__subtitle {{color}}"
       *ngIf="subTitle">{{subTitle}}</div>
  <!-- Загрузчик -->
  <div class="loader"
       *ngIf="icon == 'loader'">
    <div class="loader__figure loader__figure-1 {{color}}"></div>
    <div class="loader__figure loader__figure-2 {{color}}"></div>
  </div>
  <!-- Иконка -->
  <mat-icon class="loader__icon"
            *ngIf="!aboveIcon && icon !== 'loader'">{{icon}}</mat-icon>
  <!-- Текст -->
  <div #descriptionPanel
       class="loader__description {{color}}"
       [hidden]="!showDescriptionPanel">
    <span *ngIf="description">{{description}}</span>
    <ng-content *ngIf="!description"></ng-content>
  </div>
</div>