@use "sass:map";
@use "sass:math";
@use "colors";
@use "containers";
@use "screens";
@use "mixins";

// Переменные
$sizes: (
  default: 400px,
  xsmall: 256px,
);
$elm: &;
// Размеры фигуры
$figure-size: 140px;
$figure-color-1: map.get(colors.$matPrimary, 500);
$figure-line-1: 8px;
$figure-size-1: 100%;
$figure-time-1: 0.5s;
$figure-color-2: map.get(colors.$matPrimary, 400);
$figure-size-2: $figure-size - ($figure-line-1 * 4);
$figure-line-2: math.div($figure-line-1, 2);
$figure-time-2: $figure-time-1 * 2;

// Загрузчик
.loader {
  $elm: &;
  // Свойства
  width: $figure-size;
  height: $figure-size;
  position: relative;

  // Фигура
  &__figure {
    $__elm: &;
    // Свойства
    position: absolute;
    border-radius: 50%;

    // Граница 1
    &-1 {
      @include mixins.inset(calc(50% - #{math.div($figure-size-1, 2)}));
      // Свойства
      width: $figure-size-1;
      height: $figure-size-1;
      border: $figure-line-1 solid transparent;
      border-top-color: $figure-color-1;
      animation: loader-animation #{$figure-time-1} linear infinite;
      // Белый цвет
      &.white {
        border-top-color: #fff;
      }
    }
    // Граница 2
    &-2 {
      @include mixins.inset(calc(50% - #{math.div($figure-size-2, 2)}));
      // Свойства
      width: $figure-size-2;
      height: $figure-size-2;
      border: $figure-line-2 solid transparent;
      border-bottom-color: $figure-color-2;
      animation: loader-animation #{$figure-time-2} linear infinite;
      // Белый цвет
      &.white {
        border-bottom-color: #fff;
        opacity: 0.8;
      }
    }
  }
  // Иконка
  &__icon {
    width: $figure-size;
    height: $figure-size;
    line-height: $figure-size;
    font-size: $figure-size;
    color: $figure-color-1;
    text-align: center;
    position: static;
  }
  // Слой
  &__layout {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    line-height: 1.12;
    overflow: hidden;
  }
  // Размеры
  &__title,
  &__subtitle,
  &__description {
    max-width: 100%;
    text-align: center;
    // Адаптив
    @include screens.adaptiveFor($sizes) using($size) {
      width: $size;
    }
  }
  // Заголовок
  &__title {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    // Белый цвет
    &.white {
      color: #fff;
    }
  }
  // Подзаголовок
  &__subtitle {
    $fontSize: 14px;
    $lineHeight: 1.2;
    // Свойства
    font-size: 14px;
    font-weight: 300;
    margin-top: 3px;
    text-transform: uppercase;
    // Белый цвет
    &.white {
      color: #eee;
    }
    // Точки
    &.waitPointers > .text {
      @include mixins.lineClamp(1, $lineHeight, $fontSize);
      // Свойства
      position: relative;
      width: auto;
      display: inline-block;
      overflow: unset;
      // Точки
      > span {
        @include mixins.lineClamp(1, $lineHeight, $fontSize);
        // Свойства
        position: absolute;
        left: calc(100% + 5px);
        top: 0;
        display: block;
      }
    }
    // Отступ
    #{$elm} + & {
      margin-top: 5px;
    }
  }
  // Описание
  &__description {
    font-size: 14px;
    font-weight: 300;
    // Белый цвет
    &.white {
      color: #ddd;
    }
  }
  // Адаптив
  @include screens.adaptiveFor(containers.$paddingsY) using($padding) {
    // Отступы
    &__title + &,
    &__subtitle + &,
    &__title + &__icon,
    &__subtitle + &__icon,
    &__description {
      margin-top: $padding;
      // Маленький отступ
      &.smallMargins {
        margin-top: containers.$cardPaddingY;
      }
    }
  }
}

// Контейнер для кнопок
::ng-deep .buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

// Правила анимации
@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
