<ng-container *ngIf="user">
  <!-- Шапка -->
  <app-main-menu [autoCollapse]="true"
                 type="short"
                 image="../../../../assets/images/backgrounds/6.jpg"
                 imagePositionX="center"
                 imagePositionY="center"
                 [imageOverlay]="true"
                 [title]="user.name + ' ' + user.lastName"
                 subTitle="Настройки"
                 [avatarImage]="user.avatars.middle"
                 avatarIcon="person"
                 backButtonLink="/profile"></app-main-menu>

  <!-- Контейнер с данными -->
  <div class="root-section">
    <div class="container">
    </div>
  </div>
</ng-container>