@use "sass:map";
@use "../../../../../assets/styles/screens";
@use "../../../../../assets/styles/material";
@use "../../../../../assets/styles/containers";
@use "../../../../controlers/elements/image-upload/image-upload.component.scss" as imageUpload;

$properties: (
  xsmall: (
    count: 1,
    gap: map.get(containers.$paddings-y, xsmall),
  ),
  small: (
    count: 1,
    gap: map.get(containers.$paddings-y, small),
  ),
  middle: (
    count: 2,
    gap: map.get(containers.$paddings-y, middle),
  ),
  large: (
    count: 3,
    gap: 30px,
  ),
  xlarge: (
    count: 4,
    gap: 30px,
  ),
);

// Контейнер
.container {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  // Адаптив отступов
  @include screens.adaptiveFor($properties) using($property) {
    gap: map.get($property, gap) 0;
  }
}

// Список
.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  // Адаптив ширины
  @include screens.adaptiveFor($properties) using($property) {
    gap: map.get($property, gap);
    > * {
      width: calc((100% - #{map.get($property, gap) * (map.get($property, count) - 1)}) / #{map.get($property, count)});
    }
  }
}

// Кнопка
.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  // Список кнопок
  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0 15px;
    // Адаптив кнопок
    @include screens.adaptive(auto, xsmall) {
      justify-content: space-between;
    }
    // Адаптив кнопок
    @include screens.adaptive(xsmall, small) {
      justify-content: center;
    }
  }
}

// Лоадер карточки
.loader {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

// Аватарки
.avatar {
  // Обрезанная аватарка
  &-crop {
    @include imageUpload.image-container;
    // Картинка
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

// Скрытие элементов
*[hidden] {
  display: none !important;
}
