<ng-container *ngIf="user">
  <!-- Шапка -->
  <app-main-menu [autoCollapse]="true"
                 type="short"
                 image="../../../../assets/images/backgrounds/5.jpg"
                 imagePositionX="center"
                 imagePositionY="bottom"
                 [imageOverlay]="true"
                 [title]="user.name + ' ' + user.lastName"
                 subTitle="Персональные данные"
                 [avatarImage]="user.avatars.middle"
                 avatarIcon="person"
                 floatButtonIcon="save"
                 (floatButtonCallback)="onSaveData.bind(this)"
                 backButtonLink="/profile/settings"></app-main-menu>

  <!-- Контейнер с данными -->
  <div class="root-section">
    <!-- Форма редактирования -->
    <div class="container">
      <!-- Форма -->
      <div class="list">

        <!-- Аватарка -->
        <app-card [title]="fileLoading? '': 'Оригинальная аватарка'"
                  [fullHeight]="true">
          <ng-container content>
            <!-- Форма загрузки аватарки -->
            <app-image-upload [formControl]="avatar"
                              (upload)="onUploadAvatar($event)"
                              (beforeGetFile)="onBeforeGetFile($event)"
                              (afterGetFile)="onAfterGetFile($event)"
                              (deleteFile)="onDeleteAvatar()"
                              [hidden]="fileLoading"></app-image-upload>
            <!-- Загрузка сохранения -->
            <div class="loader"
                 *ngIf="fileLoading">
              <app-inform [title]="fileLoaderTitles[fileLoaderKey][0]"
                          [subTitle]="fileLoaderTitles[fileLoaderKey][1]"></app-inform>
            </div>
          </ng-container>
        </app-card>

        <!-- Обрезка основной аватарки -->
        <app-card [title]="fileLoading? '': 'Основная аватарка'"
                  [fullHeight]="true"
                  *ngIf="user.avatars.full && user.avatars.full == avatar.value">
          <ng-container content>
            <!-- Аватарка -->
            <div class="avatar-crop"
                 [hidden]="fileLoading"
                 (click)="onOpenCrop('crop')">
              <img [src]="this.user.avatars.crop" />
            </div>
            <!-- Загрузка сохранения -->
            <div class="loader"
                 *ngIf="fileLoading">
              <app-inform [title]="fileLoaderTitles[fileLoaderKey][0]"
                          [subTitle]="fileLoaderTitles[fileLoaderKey][1]"></app-inform>
            </div>
          </ng-container>
          <ng-container actions
                        *ngIf="!fileLoading">
            <a mat-flat-button
               color="primary"
               (click)="onOpenCrop('crop')">Изменить</a>
          </ng-container>
        </app-card>

        <!-- Обрезка миниатюры -->
        <app-card [title]="fileLoading? '': 'Миниатюра'"
                  [fullHeight]="true"
                  *ngIf="user.avatars.full && user.avatars.full == avatar.value">
          <ng-container content>
            <!-- Аватарка -->
            <div class="avatar-crop"
                 [hidden]="fileLoading"
                 (click)="onOpenCrop('middle')">
              <img [src]="this.user.avatars.middle" />
            </div>
            <!-- Загрузка сохранения -->
            <div class="loader"
                 *ngIf="fileLoading">
              <app-inform [title]="fileLoaderTitles[fileLoaderKey][0]"
                          [subTitle]="fileLoaderTitles[fileLoaderKey][1]"></app-inform>
            </div>
          </ng-container>
          <ng-container actions
                        *ngIf="!fileLoading">
            <a mat-flat-button
               color="primary"
               (click)="onOpenCrop('middle')">Изменить</a>
          </ng-container>
        </app-card>

        <!-- Персональные данные -->
        <app-card [title]="dataLoading? '': 'Персональные данные'"
                  [fullHeight]="true">
          <ng-container content>
            <!-- Форма -->
            <form [formGroup]="form"
                  *ngIf="!dataLoading">
              <!-- Имя -->
              <app-text-input label="Имя"
                              formControlName="name"
                              [errors]="errors.name"
                              [maxLength]="formData.nameMaxLength"
                              (submitCallback)="onSaveData()"></app-text-input>
              <!-- Фамилия -->
              <app-text-input label="Фамилия"
                              formControlName="lastName"
                              [errors]="errors.lastName"
                              [maxLength]="formData.nameMaxLength"
                              (submitCallback)="onSaveData()"></app-text-input>
              <!-- Отчество -->
              <app-text-input label="Отчество"
                              formControlName="patronymic"
                              [errors]="errors.patronymic"
                              [maxLength]="formData.nameMaxLength"
                              (submitCallback)="onSaveData()"></app-text-input>
            </form>
            <!-- Загрузка сохранения -->
            <div class="loader"
                 *ngIf="dataLoading">
              <app-inform title="Сохранение данных"
                          subTitle="Пожалуйста подождите"></app-inform>
            </div>
          </ng-container>
          <ng-container actions
                        *ngIf="!dataLoading">
            <!-- Сохранить изменения -->
            <a mat-flat-button
               color="primary"
               (click)="onSaveData()">Сохранить</a>
          </ng-container>
        </app-card>

        <!-- Контактные данные -->
        <app-card [title]="dataLoading? '': 'Контактные данные'"
                  [fullHeight]="true">
          <ng-container content>
            <!-- Форма -->
            <form [formGroup]="form"
                  *ngIf="!dataLoading">
              <!-- Дата рождения -->
              <app-text-input required
                              type="date"
                              label="Дата рождения"
                              formControlName="birthDate"
                              [errors]="errors.birthDate"
                              [minDate]="ageToDate(formData.birthDateMaxAge)"
                              [maxDate]="ageToDate(formData.birthDateMinAge)"
                              (submitCallback)="onSaveData()"></app-text-input>
              <!-- Пол -->
              <app-toggle-input label="Ваш пол"
                                [values]="['Мужской','Женский']"
                                formControlName="sex"></app-toggle-input>
              <!-- Адрес почты -->
              <app-text-input label="E-mail"
                              formControlName="email"
                              [errors]="errors.email"
                              [maxLength]="formData.emailMaxLength"
                              (submitCallback)="onSaveData()"></app-text-input>
            </form>
            <!-- Загрузка сохранения -->
            <div class="loader"
                 *ngIf="dataLoading">
              <app-inform title="Сохранение данных"
                          subTitle="Пожалуйста подождите"></app-inform>
            </div>
          </ng-container>
          <ng-container actions
                        *ngIf="!dataLoading">
            <!-- Сохранить изменения -->
            <a mat-flat-button
               color="primary"
               (click)="onSaveData()">Сохранить</a>
          </ng-container>
        </app-card>

      </div>
      <!-- Кнопки -->
      <div class="buttons">
        <app-card>
          <div content
               class="buttons__list">
            <!-- Отменить изменения -->
            <a mat-stroked-button
               color="basic"
               routerLink="/profile/settings">Отменить</a>
            <!-- Сохранить изменения -->
            <a mat-flat-button
               color="primary"
               (click)="onSaveData()">Сохранить</a>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</ng-container>