extend ../../layouts/main/layout
block vars
  -
    headerSubTitle = "Подтверждение регистрации";
    footerSmallText = "Данное письмо не является автоматической рассылкой. Если вы получили данное письмо, значит вы или кто-то другой указал ваш почтовый адрес в качестве своей контактной почты. Следйте инструкциям в письме, чтобы предпринять необходимые действия.";
    name = "{{name}}";
    email = "{{email}}";
    confirmationLink = "{{confirmationLink}}";
    if(!production) {
      name = "Андрей";
      email = "akb2-online@ya.ru";
      confirmationLink = siteLink + "/account-confirmation/TEST_CODE_EXAMPLE";
    }
block content
  section.section--white
    .container
      p
        | Здравствуйте, <b>!{name}</b>. Адрес вашей электронной почты (<b>!{email}</b>) был указан на сайте
        |
        a(href=siteLink)=headerTitle
        |
        | на странице
        |
        a(href = siteLink + "/register") регистрации
        | .
  section.section
    .container--middle
      h1.h1--middle Это были вы?
      p.
        Если это были вы, тогда перейдите, пожалуйста, по ссылке ниже, чтобы окончить регистрацию на сайте
        и начать полноценно использовать все возможности сайта. Для входа используйте логин и пароль,
        указанные при регистрации.
      p.center
        a.button--big--primary( href = confirmationLink ) Окончить регистрацию
  section.section--white
    .container
      h2 Это были не вы?
      p.
        Ничего страшного, если это были не вы. Тогда просто проигнорируйте данное письмо.