<app-main-menu [autoCollapse]="true"
               type="short"
               image="../../../../assets/images/backgrounds/5.jpg"
               imagePositionX="center"
               imagePositionY="bottom"
               [imageOverlay]="true"
               title="Андрей Кобелев"
               subTitle="Личный кабинет"
               avatarIcon="person"
               floatButtonIcon="settings"
               floatButtonLink="/settings"></app-main-menu>





<div class="root-section">
  <div class="container">
    <div *ngFor="let n of cycle">
      12312312312313123123
    </div>
  </div>
</div>