<app-main-menu [autoCollapse]="true"
               type="short"
               image="../../../../assets/images/backgrounds/4.jpg"
               imagePositionX="left"
               imagePositionY="center"
               title="Имя Фамилия Имя Фамилия Имя Фамилия Имя Фамилия Имя Фамилия Имя Фамилия"
               subTitle="Личный кабинет Личный кабинет Личный кабинет Личный кабинет Личный кабинет Личный кабинет"
               avatarIcon="person"
               floatButtonIcon="settings"
               floatButtonLink="/settings"></app-main-menu>





<div class="root-section">
  <div class="container">
    <div *ngFor="let n of cycle">
      12312312312313123123
    </div>
  </div>
</div>