<div class="panel">
  <!-- Описание -->
  <div class="panel__description">
    <!-- Заголовок -->
    <div class="panel__description-title">{{mainTitle}}</div>
    <!-- Подзаголовок -->
    <div class="panel__description-subtitle"
         *ngIf="subTitle?.length > 0">{{subTitle}}</div>
  </div>
  <!-- Управление пагинацией -->
  <div class="panel__pagination"
       *ngIf="count > 0">
    <ng-container [ngTemplateOutlet]="isMobile? pageMobile: (pageMax > 5? pageButtons2: pageButtons1)"></ng-container>
  </div>
  <!-- Дополнительный контент -->
  <div #actionsPanel
       class="panel__actions"
       [hidden]="!showActionsPanel">
    <ng-content></ng-content>
  </div>
</div>



<!-- Шаблон для телефонов -->
<ng-template #pageMobile>
  <!-- Предыдущая страница -->
  <a mat-mini-fab
     class="mat-elevation-z"
     [disableRipple]="!isPrevAvail"
     [ngClass]="{ 'no-pointer': !isPrevAvail }"
     [color]="isPrevAvail? 'basic': 'transparent'"
     (click)="onPagePrev()">
    <mat-icon *ngIf="isPrevAvail">chevron_left</mat-icon>
  </a>
  <!-- Текущая страница -->
  {{pageCurrent}}
  <!-- Следующая страница -->
  <a mat-mini-fab
     class="mat-elevation-z"
     [disableRipple]="!isNextAvail"
     [ngClass]="{ 'no-pointer': !isNextAvail }"
     [color]="isNextAvail? 'basic': 'transparent'"
     (click)="onPageNext()">
    <mat-icon *ngIf="isNextAvail">chevron_right</mat-icon>
  </a>
</ng-template>

<!-- Шаблон с циклом по всем страницам -->
<ng-template #pageButtons1>
  <a mat-mini-fab
     class="mat-elevation-z"
     [color]="pageCurrent === page? 'primary': 'basic'"
     (click)="pageCurrent === page? false: onPageSet(page)"
     *ngFor="let page of pageIterator">{{page}}</a>
</ng-template>

<!-- Шаблон с пропуском страниц -->
<ng-template #pageButtons2>
  <!-- Первая страница -->
  <a mat-mini-fab
     class="mat-elevation-z"
     [color]="pageCurrent === 1? 'primary': 'basic'"
     (click)="pageCurrent === 1? false: onPageSet(1)">1</a>
  <!-- Пропуск -->
  <a mat-mini-fab
     disableRipple
     class="no-pointer mat-elevation-z"
     color="transparent"
     *ngIf="this.pageMax > 7 && pageCurrent > 4">...</a>
  <!-- Промежуточные страницы -->
  <a mat-mini-fab
     class="mat-elevation-z"
     [color]="pageCurrent === page? 'primary': 'basic'"
     (click)="pageCurrent === page? false: onPageSet(page)"
     *ngFor="let page of pageClosestCurrentIterator">{{page}}</a>
  <!-- Пропуск -->
  <a mat-mini-fab
     disableRipple
     class="no-pointer mat-elevation-z"
     color="transparent"
     *ngIf="this.pageMax > 7 && pageCurrent < pageMax - 3">...</a>
  <!-- Последняя страница -->
  <a mat-mini-fab
     class="mat-elevation-z"
     [color]="pageCurrent === pageMax? 'primary': 'basic'"
     (click)="pageCurrent === pageMax? false: onPageSet(pageMax)">{{pageMax}}</a>
</ng-template>