@use "../../../../assets/styles/screens";
@use "../../../../assets/styles/vars";

$gap: 6px;

// Обертка
.overlay {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: stretch;
  gap: $gap;
  // Обертка
  &__center {
    text-align: center;
  }
  // Левая и правая колонка
  &__left,
  &__right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: space-between;
    gap: $gap;
    // Кнопки
    > .mat-button-base {
      width: 100%;
    }
  }
  // Группа кнопок
  &__group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: $gap;
    // Растянуть элемент
    &-grow {
      flex-grow: 1;
    }
  }
  // Сообщение
  &__message {
    min-width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }
  // Адаптив
  @include screens.adaptive(large, large) {
    & {
      &:not(.shortenForm) {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      // Левая и правая колонка
      &__left,
      &__right {
        &:not(.shortenForm) {
          flex-direction: row;
          // Кнопки
          > .mat-button-base {
            width: auto;
          }
        }
      }
      // Левая колонка
      &__left:not(.shortenForm) {
        justify-content: flex-start;
      }
      // Правая колонка
      &__right:not(.shortenForm) {
        justify-content: flex-end;
      }
      // Сообщение
      &__message:not(.shortenForm) {
        text-align: left;
      }
    }
  }
}
