<app-card *ngIf="user">
  <div content
       class="overlay__center">
    <!-- Блок сообщения -->
    <ng-container [ngTemplateOutlet]="friendMessage"></ng-container>
    <!-- блоки действий -->
    <div class="overlay"
         [ngClass]="{ shortenForm }">
      <!-- Блок слева -->
      <div class="overlay__left"
           [ngClass]="{ shortenForm }">
        <ng-container [ngTemplateOutlet]="itsMyPage? leftMyPage: leftOtherPage"></ng-container>
      </div>
      <!-- Блок справа -->
      <div class="overlay__right"
           [ngClass]="{ shortenForm }">
        <ng-container [ngTemplateOutlet]="itsMyPage? rightMyPage: rightOtherPage"></ng-container>
      </div>
    </div>
  </div>
</app-card>



<!-- Моя страница: левый блок -->
<ng-template #leftMyPage>
  <!-- Мой дневник -->
  <a mat-flat-button
     color="primary"
     routerLink="/diary/{{user.id}}">
    <mat-icon>book</mat-icon>Дневник снов
  </a>
</ng-template>

<!-- Моя страница: правый блок -->
<ng-template #rightMyPage>
  <!-- Мои данные -->
  <a mat-stroked-button
     color="primary"
     routerLink="/profile/settings/person">
    <mat-icon>badge</mat-icon>Мои данные
  </a>
  <!-- Безопасность -->
  <a mat-stroked-button
     color="primary"
     routerLink="/profile/settings/security">
    <mat-icon>lock</mat-icon>Безопасность
  </a>
  <!-- Приватность -->
  <a mat-stroked-button
     color="primary"
     routerLink="/profile/settings/private">
    <mat-icon>admin_panel_settings</mat-icon>Приватность
  </a>
</ng-template>

<!-- Чужая страница: левый блок -->
<ng-template #leftOtherPage>
  <!-- Добавить в друзья -->
  <button mat-flat-button
          color="primary"
          [attr.button-loader]="friendLoader"
          (click)="onAddToFriend()"
          *ngIf="friendStatus === friendStatuses.NotExists">
    <mat-icon>person_add</mat-icon>Добавить в друзья
  </button>
  <!-- Исходящая заявка -->
  <button mat-stroked-button
          class="mat-elevation-z"
          color="warn"
          [attr.button-loader]="friendLoader"
          (click)="onRejectFriends()"
          *ngIf="friendStatus === friendStatuses.OutSubscribe">
    <mat-icon>close</mat-icon>Отменить заявку
  </button>
  <!-- Входящая заявка -->
  <div class="overlay__group"
       *ngIf="friendStatus === friendStatuses.InSubscribe">
    <!-- Сообщение о заявке -->
    <button mat-flat-button
            color="primary"
            class="overlay__group-grow"
            [attr.button-loader]="friendLoader"
            (click)="onConfirmFriends()">
      <mat-icon>check</mat-icon>Принять
    </button>
    <!-- Отменить заявку -->
    <button mat-mini-fab
            class="mat-elevation-z"
            color="basic"
            matTooltip="Отклонить заявку"
            [attr.button-loader]="friendLoader"
            (click)="onRejectFriends()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <!-- В друзьях -->
  <button mat-stroked-button
          class="mat-elevation-z"
          color="warn"
          [attr.button-loader]="friendLoader"
          (click)="onCancelFromFriends()"
          *ngIf="friendStatus === friendStatuses.Friends">
    <mat-icon>close</mat-icon>Удалить из друзей
  </button>
</ng-template>

<!-- Чужая страница: правый блок -->
<ng-template #rightOtherPage>
  <!-- Написать сообщение: не друзья -->
  <button mat-stroked-button
          color="basic"
          *ngIf="!highLightMessageButton">
    <mat-icon>forum</mat-icon>Написать
  </button>
  <!-- Написать сообщение: друзья -->
  <button mat-flat-button
          color="primary"
          *ngIf="highLightMessageButton">
    <mat-icon>forum</mat-icon>Написать
  </button>
</ng-template>



<!-- Сообщение о статусе заявки в друзья -->
<ng-template #friendMessage>
  <!-- Чужая страница -->
  <ng-container *ngIf="!itsMyPage">
    <!-- Исходящая заявка -->
    <div class="overlay__message"
         [ngClass]="{ shortenForm }"
         *ngIf="friendStatus === friendStatuses.OutSubscribe">
      Вы отправили {{user | petrovich: 3}} заявку в друзья
    </div>
    <!-- Входящая заявка -->
    <div class="overlay__message"
         [ngClass]="{ shortenForm }"
         *ngIf="friendStatus === friendStatuses.InSubscribe">
      {{user.name}} отправил{{userIsMale? '': 'а'}} вам заявку в друзья
    </div>
    <!-- В друзьях -->
    <div class="overlay__message"
         [ngClass]="{ shortenForm }"
         *ngIf="friendStatus === friendStatuses.Friends">
      {{user.name}} у вас в друзьях
    </div>
  </ng-container>
</ng-template>
