<!-- Список сновидений -->
<div class="list"
     *ngIf="dreams?.length > 0">
  <!-- Блок сновидения -->
  <div class="list__item dream"
       *ngFor="let dream of dreams">
    <!-- Обложка -->
    <div class="dream__image"
         [attr.imageOverlay]="isHasImage(dream) && dream.headerBackground.imageOverlay? 'true': 'false'"
         [attr.positionX]="dream.headerBackground.positionX"
         [attr.positionY]="dream.headerBackground.positionY"
         [ngClass]="{ 'no-image': !isHasImage(dream) }">
      <!-- Картинка -->
      <img [src]="imagePrefix + dream.headerBackground.imageNameShort"
           *ngIf="isHasImage(dream)" />
      <!-- Иконка -->
      <mat-icon *ngIf="!isHasImage(dream)">panorama_outline</mat-icon>
    </div>
    <!-- Основное описание -->
    <div class="dream__text title"
         [ngClass]="{ menu: dreamsMenuItems[dream.id]?.length > 0 }">
      <!-- Название сновидения -->
      <div class="dream__text-title"
           [ngClass]="{ 'default-title': !dream.title?.length }">{{dream.title || defaultTitle}}</div>
      <!-- Когда приснился -->
      <div class="dream__text-subtitle">Приснилось {{(dream.date || today) | date: 'dd MMMM YYYY'}}</div>
      <!-- Меню -->
      <app-card-menu class="dream__text-menu"
                     menuIcon="more_vert"
                     [menuItems]="dreamsMenuItems[dream.id]"
                     *ngIf="dreamsMenuItems[dream.id]?.length > 0"></app-card-menu>
    </div>
    <!-- Дополнительное описание -->
    <div class="dream__text">
      <!-- Название сновидения -->
      <div class="dream__text-description">{{dream.description || defaultDescription}}</div>
    </div>
  </div>
</div>