<!-- Список сновидений -->
<div class="list"
     [ngClass]="{ oneLine }"
     [attr.items]="elmsPerLine"
     *ngIf="dreams?.length > 0">
  <!-- Блок сновидения -->
  <div class="list__item dream"
       *ngFor="let dream of dreams; trackBy: listTrackBy">
    <!-- Обложка -->
    <div class="dream__image"
         [attr.imageOverlay]="isHasImage(dream) && dream.headerBackground.imageOverlay? 'true': 'false'"
         [attr.positionX]="dream.headerBackground.positionX"
         [attr.positionY]="dream.headerBackground.positionY"
         [ngClass]="{ 'no-image': !isHasImage(dream), 'no-content': !dream.description && !dream.keywords.length }">
      <!-- Картинка -->
      <a routerLink="/diary/viewer/{{dream.id}}"
         [queryParams]="viewerQueryParams(dream)"
         *ngIf="isHasImage(dream)">
        <img [src]="imagePrefix + dream.headerBackground.imageNameShort" />
      </a>
      <!-- Основное описание -->
      <div class="dream__text title"
           [ngClass]="{ menu: dreamsMenuItems[dream.id]?.length > 0, 'has-image': isHasImage(dream) }">
        <!-- Название сновидения -->
        <div class="dream__text-title"
             [ngClass]="{ 'default-title': !dream.title?.length }"
             routerLink="/diary/viewer/{{dream.id}}"
             [queryParams]="viewerQueryParams(dream)">{{dream.title || defaultTitle}}</div>
        <!-- Когда приснился -->
        <div class="dream__text-subtitle"
             routerLink="/diary/viewer/{{dream.id}}"
             [queryParams]="viewerQueryParams(dream)">Приснилось {{(dream.date || today) | date: 'dd MMMM YYYY'}}</div>
        <!-- Меню -->
        <app-card-menu class="dream__text-menu"
                       menuIcon="more_vert"
                       [menuItems]="dreamsMenuItems[dream.id]"
                       *ngIf="dreamsMenuItems[dream.id]?.length > 0"></app-card-menu>
      </div>
      <!-- Дополнительное описание -->
      <div class="dream__text description"
           [ngClass]="{
             'no-content': !dream.description,
             'has-image': isHasImage(dream),
             'no-keywords': !dream.keywords.length
           }">
        <div class="dream__text-description">{{dream.description}}</div>
      </div>
      <!-- Ключевые слова -->
      <div class="dream__text keywords"
           [ngClass]="{ 'no-content': !dream.keywords.length, 'has-image': isHasImage(dream) }">
        <div class="dream__text-keywords">
          <ng-container *ngFor="let keyword of dream.keywords; let key = index">
            <div class="keyword">
              <div class="keyword__text">{{keyword}}</div>
              <div class="keyword__comma"
                   *ngIf="(key + 1) < dream.keywords.length">,</div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- Автор и действие -->
    <div class="dream__text actions">
      <!-- Отметки -->
      <ng-container [ngTemplateOutlet]="dreamAuthor"
                    [ngTemplateOutletContext]="{ $implicit: showProfile, user: dream.user, dream }"></ng-container>
      <!-- Кнопка просмотра -->
      <a mat-flat-button
         color="primary"
         routerLink="/diary/viewer/{{dream.id}}"
         [queryParams]="viewerQueryParams(dream)">Просмотр</a>
    </div>
  </div>
</div>



<!-- Иконки - описания -->
<ng-template #dreamAuthor
             let-showProfile
             let-dream="dream"
             let-user="user">
  <div class="dream__icons">
    <!-- Автор сновидения -->
    <a class="dream__icons-icon"
       routerLink="/profile/{{user.id}}"
       matTooltip="{{user.name}} {{user.lastName}}"
       background="fill"
       color="primary"
       *ngIf="showProfile">
      <!-- Картинка -->
      <img [src]="user.avatars.small"
           *ngIf="user.avatars.small.length > 0" />
      <!-- Иконка -->
      <mat-icon *ngIf="user.avatars.small.length === 0">person</mat-icon>
      <!-- Метка онлайн -->
      <div class="dream__icons-icon-online"
           *ngIf="user.online"></div>
    </a>
    <!-- Уровень доступности -->
    <div class="dream__icons-icon"
         [attr.color]="status.iconColor"
         [attr.background]="status.iconBackground"
         [attr.position]="status.imagePosition"
         [matTooltip]="status.subTitle"
         *ngIf="getDreamPrivate(dream) as status">
      <mat-icon>{{status.icon}}</mat-icon>
    </div>
    <!-- Тип сновидения -->
    <div class="dream__icons-icon"
         [ngClass]="{ colorized: item.iconBackground === 'fill' }"
         [attr.color]="item.iconColor"
         [attr.background]="item.iconBackground"
         [attr.position]="item.imagePosition"
         [matTooltip]="item.title"
         *ngIf="getDreamType(dream) as item">
      <img [src]="item.image" />
    </div>
    <!-- Настроение сновидения -->
    <div class="dream__icons-icon"
         [ngClass]="{ colorized: item.iconBackground === 'fill' }"
         [attr.color]="item.iconColor"
         [attr.background]="item.iconBackground"
         [attr.position]="item.imagePosition"
         [matTooltip]="item.title"
         *ngIf="getDreamMood(dream) as item">
      <img [src]="item.image" />
    </div>
  </div>
  <!-- Пустой блок -->
  <div *ngIf="!showProfile"></div>
</ng-template>