<ng-container *ngIf="user">
  <!-- Шапка -->
  <app-main-menu [autoCollapse]="true"
                 [imageFullShow]="true"
                 [type]="navMenuType.collapse"
                 [image]="imagePrefix + user.settings.profileBackground[( user.settings.profileHeaderType === navMenuType.full? 'imageName': 'imageNameShort' )]"
                 [imagePositionX]="user.settings.profileBackground.positionX"
                 [imagePositionY]="user.settings.profileBackground.positionY"
                 [imageOverlay]="user.settings.profileBackground.imageOverlay"
                 [title]="user.name + ' ' + user.lastName"
                 subTitle="Персонализация"
                 [avatarImage]="user.avatars.middle"
                 avatarIcon="person"
                 backButtonLink="/profile/settings"></app-main-menu>

  <!-- Контейнер с данными -->
  <app-nav-menu-settings [backgroundId]="user.settings.profileBackground.id"
                         [navMenuType]="user.settings.profileHeaderType"
                         [loader]="backgroundImageLoader"
                         [useAvatar]="true"
                         floatIcon="message"
                         (changeSettings)="changeSettings($event)"></app-nav-menu-settings>
</ng-container>

<!-- Лоадер страницы -->
<app-page-loader *ngIf="!user"></app-page-loader>