@use "sass:map";
@use "../../../../../assets/styles/screens";
@use "../../../../../assets/styles/colors";
@use "../../../../../assets/styles/containers";

// Текущие данные о токене
.token {
  $counts: (
    xsmall: auto,
    small: 2,
    middle: 3,
    large: 4,
    xlarge: 5,
  );
  $gaps-x: (
    default: 45px,
    middle: 30px,
    small: 20px,
    xsmall: 10px,
  );
  $gaps-y: (
    default: 30px,
    middle: 25px,
    small: 20px,
    xsmall: 15px,
  );
  $image-sizes: (
    default: 64px,
    small: 50px,
    xsmall: 40px,
  );
  $text-spacings: (
    default: 10px,
    small: 3px,
    xsmall: 0px,
  );
  $title-heights: (
    default: 18px,
    small: 17px,
    xsmall: 15px,
  );
  // Свойства
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  // Адаптив
  @include screens.adaptiveFor($gaps-x, $gaps-y) using($gap-x, $gap-y) {
    gap: #{$gap-y} #{$gap-x};
  }
  @include screens.adaptive(xsmall, xsmall) {
    flex-flow: column nowrap;
  }
  // Элемент
  &__element {
    display: grid;
    grid-template-areas: "image title" "image subtitle";
    gap: 0 10px;

    // Картинка
    &-image {
      grid-area: image;
      overflow: hidden;
      // Иконка
      > mat-icon {
        width: inherit;
        height: inherit;
        color: map.get(colors.$mat-secondary, 500);
        text-align: center;
      }
      // Картинка
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    // Тексты
    &-name,
    &-value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    // Заголовок
    &-name {
      grid-area: title;
      font-size: 14px;
      font-weight: 300;
      color: colors.$subtitle;
    }
    // Подзаголовок
    &-value {
      grid-area: subtitle;
      font-size: 20px;
      font-weight: 500;
      color: colors.$title;
    }

    // Адаптив
    @include screens.adaptiveFor($counts, $gaps-x, $image-sizes, $text-spacings, $title-heights)
      using($count, $gap-x, $image-size, $text-spacing, $title-height) {
      grid-template-columns: #{$image-size} 1fr;
      // Один элемент на строке
      @if ($count == auto) {
        width: auto;
        max-width: 100%;
      }
      // Расчитать ширину
      @else {
        width: calc((100% - #{$gap-x * ($count - 1)}) / #{$count});
      }

      // Картинка
      &-image {
        width: $image-size;
        height: $image-size;
        // Иконка
        > mat-icon {
          line-height: $image-size;
          font-size: $image-size * 0.78;
        }
      }
      // Заголовок
      &-name {
        margin-top: $text-spacing;
        line-height: $title-height;
        height: $title-height;
        font-size: $title-height * 0.85;
      }
      // Подзаголовок
      &-value {
        margin-bottom: $text-spacing;
      }
      // Подзаголовок
      &-value {
        $line-height: $image-size - $title-height - ($text-spacing * 2);
        // Свойства
        line-height: $line-height;
        height: $line-height;
        font-size: $line-height * 0.7;
      }
    }
  }
}

// Таблица данных
.table {
  border-radius: containers.$border-radius;
  box-shadow: containers.$box-shadow;
  // Линии
  &__line {
    display: grid;
    grid-template-columns: 160px 160px 1fr 1fr 1fr 40px;
    align-items: stretch;
    background-color: map.get(colors.$mat-primary, 50);
    color: map.get(colors.$mat-primary, contrast, 50);
    // Заголовок
    &.title {
      background-color: map.get(colors.$mat-primary, 500);
      color: map.get(colors.$mat-primary, contrast, 500);
    }
    // Четные линии
    &:nth-child(2n) {
      background-color: colors.$card;
      color: colors.$text;
    }
    // Первая линия
    &:first-child {
      border-radius: containers.$border-radius containers.$border-radius 0 0;
    }
    // Последняя линия
    &:last-child {
      border-radius: 0 0 containers.$border-radius containers.$border-radius;
    }
  }
  // Ячейки
  &__ceil {
    $paddings: (
      default: 14px 20px,
    );
    $font-sizes: (
      default: 15px,
    );
    // Свойства
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    // Адаптив
    @include screens.adaptiveFor($paddings, $font-sizes) using($padding, $font-size) {
      padding: $padding;
      font-size: $font-size;
    }

    // Мелкий текст
    .light {
      font-size: 0.8em;
      opacity: 0.8;
    }
  }
}

// Иконки
.attach {
  $image-size: 42px;
  // Свойства
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  // Картинка
  &__image {
    width: $image-size;
    height: $image-size;
    flex-basis: $image-size;
    // Картинка
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  // Текст
  &__text {
    flex-grow: 1;
  }
}
