<div #statusOverlay
     class="status__overlay"
     *ngIf="!!user.pageStatus || itsMyPage">
  <ng-container [ngTemplateOutlet]="statusText"></ng-container>
  <!-- Редактирование статуса -->
  <ng-container [ngTemplateOutlet]="statusEdit"
                *ngIf="itsMyPage"></ng-container>
</div>



<!-- Текст статуса -->
<ng-template #statusText>
  <form #statusBlock
        class="status"
        [formGroup]="statusForm"
        [ngClass]="{ edit: !loader && (editStatus$ | async) }"
        (click)="inputField?.nativeElement?.focus()">
    <!-- Редактирование -->
    <ng-container *ngIf="!loader && (editStatus$ | async); else statusTextViewer">
      <textarea #inputField
                formControlName="status"
                type="text"
                autocomplete="off"
                class="status__editor"
                maxlength="128"
                [placeholder]="placeholderText"
                [ngStyle]="editInputStyles"
                (keydown)="onKeyDown($event)"></textarea>
    </ng-container>
    <!-- Просмотр -->
    <ng-template #statusTextViewer>
      <div class="status__content"
           [ngClass]="{ default: !user.pageStatus }">{{!!user.pageStatus? user.pageStatus: placeholderText}}</div>
    </ng-template>
  </form>
  <!-- Помощник для автоматического размера -->
  <div #inputHelper
       class="status__editor-helper"
       *ngIf="!loader && (editStatus$ | async)">
    <div #inputHelperText
         class="status__editor-helper-text">{{getEditorText}}</div>
  </div>
</ng-template>

<!-- Управление -->
<ng-template #statusEdit>
  <div class="loader"
       *ngIf="loader; else statusEditTrue"></div>
  <!-- Редактирование -->
  <ng-template #statusEditTrue>
    <ng-container *ngIf="(editStatus$ | async); else statusEditFalse">
      <!-- Сохранить -->
      <button #saveButton
              mat-mini-fab
              color="primary"
              matTooltip="Сохранить"
              (click)="onSaveStatus()"><mat-icon>save</mat-icon></button>
      <!-- Отменить -->
      <button #cancelButton
              mat-mini-fab
              color="basic"
              matTooltip="Отмена"
              (click)="onCloseEdit(null)"><mat-icon>close</mat-icon></button>
    </ng-container>
  </ng-template>
  <!-- Открыть редактирование -->
  <ng-template #statusEditFalse>
    <!-- Открыть редактирование -->
    <button #editButton
            mat-mini-fab
            color="primary"
            matTooltip="Изменить статус"
            (click)="onOpenEdit()"><mat-icon>edit</mat-icon></button>
  </ng-template>
</ng-template>
