.cube {
  $size: 500px;

  width: $size;
  height: $size;
  position: relative;
  transform-style: preserve-3d;

  // Слой
  &__layout {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Сцена
  &__scene {
    perspective: $size * 3;
  }

  // Стороны
  &__side {
    $translateZ: translateZ($size / 2);

    width: $size;
    height: $size;
    opacity: .9;
    border: 0px dotted #000;
    position: absolute;
    line-height: $size;
    text-align: center;
    color: #fff;
    font-size: $size / 10;

    &.front {
      background-color: #600;
      transform: rotateY(0deg) #{$translateZ};
    }

    &.right {
      background-color: #006;
      transform: rotateY(90deg) #{$translateZ};
    }

    &.back {
      background-color: #066;
      transform: rotateY(180deg) #{$translateZ};
    }

    &.left {
      background-color: #660;
      transform: rotateY(-90deg) #{$translateZ};
    }

    &.top {
      background-color: #060;
      transform: rotateX(90deg) #{$translateZ};
    }

    &.bottom {
      background-color: #606;
      transform: rotateX(-90deg) #{$translateZ};
    }
  }
}
