<app-main-menu
  [autoCollapse]="true"
  type="collapse"
  title="3D куб"
  backButtonLink="/"
></app-main-menu>

<div class="cube__layout">
  <div class="cube__scene">
    <div
      class="cube"
      [style.transform]="'rotateY('+rotateX+'deg) rotateX('+rotateY+'deg)'"
    >
      <div class="cube__side front">Перед</div>
      <div class="cube__side top">Верх</div>
      <div class="cube__side right">Право</div>
      <div class="cube__side bottom">Низ</div>
      <div class="cube__side left">Лево</div>
      <div class="cube__side back">Зад</div>
    </div>
  </div>
</div>