@use "sass:map";
@use "sass:math";
@use "colors";
@use "screens";
@use "mixins";
@use "containers";
@use "vars";

$breakpointMobile: small;

// Главное меню
.main-menu {
  @include mixins.inset(0, 0, auto, 0);
  // Свойства
  position: fixed;
  max-width: 100vw;
  z-index: 12;
  user-select: none;
  box-shadow: containers.$cardBoxShadow;
  top: 0;
  transform-origin: 0;
  will-change: height, box-shadow;
  // Полноразмерное меню
  &.type-full {
    height: vars.$screenHeight;
  }
  // Вспомогательный блок
  &.helper {
    position: static;
  }

  // Слой
  &__layer {
    position: absolute;
    inset: 0;
    z-index: 0;

    // Задний слой
    &.back {
      overflow: hidden;
    }
    // Передний фон
    &.front {
      pointer-events: none;
    }

    // Контейнер
    &-container {
      display: grid;
      grid-template-rows: 1fr 0;
      grid-template-areas: "left center right" "full full full";
      grid-gap: 0 15px;
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
      grid-template-columns: minmax(1px, 1fr) auto auto;
      // Адаптив горизонтальных отступов
      @include screens.adaptive(auto, $breakpointMobile) {
        padding-left: 0;
        padding-right: 0;
      }

      // Все варианты
      &_left,
      &_center,
      &_right,
      &_full {
        max-width: 100%;
      }
      // Слева
      &_left {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        grid-area: left;
      }
      // По середине
      &_center {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-end;
        grid-area: center;
      }
      // Справа
      &_right {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: flex-end;
        grid-area: right;
      }
      // Ширина
      &_full {
        grid-area: full;
      }
    }
    // Картинка
    &-image {
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
      outline: 100px solid #000;
      will-change: height, filter, top;
      // Полноразмерное меню
      &.type-full {
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        outline: none;
        // Адаптив
        @include screens.adaptive(middle) {
          width: 47vw;
          height: 47vw;
          left: -10vw;
          bottom: -6vw;
        }
        // Адаптив
        @include screens.adaptive(auto, middle) {
          width: 470px;
          height: 470px;
          left: -100px;
          bottom: -60px;
        }
        // Перекрытие
        &.overlay:after {
          background-color: map.get(colors.$matPrimary, 500);
          opacity: 0.6;
        }
      }
      // Короткое меню
      &.type-short {
        position: relative;
        // Перекрытие
        &.overlay:after {
          background-color: #000;
          opacity: 0.4;
        }
      }

      // Картинка
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      // Перекрытие
      &.overlay:after {
        @include mixins.inset;
        content: "";
        position: absolute;
        display: block;
      }

      // Временная картинка
      &.temp {
        position: absolute;
        animation: temp-image-hidden #{screens.$animationTime} linear 1;
        opacity: 0;
        // Правила анимации
        @keyframes temp-image-hidden {
          from {
            opacity: 1;
          }
          to {
            opacity: 0;
          }
        }
      }
    }
    // Градиент
    &-gradient {
      position: absolute;
      inset: 0;
    }
    // Заливка
    &-fill {
      position: absolute;
      inset: 0;
      background-color: map.get(colors.$matPrimary, 500);
    }
  }
  // Заголовок
  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    color: colors.$titleDark;
    font-weight: 400;
  }
  // Подзаголовок
  &__subtitle {
    line-height: 1.14;
    color: colors.$subTitleDark;
    font-weight: 300;
    letter-spacing: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
  }
  // Аватарка
  &__avatar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    // Картинка
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: #fff;
    }
    // Иконка
    > mat-icon {
      text-align: center;
      width: 100%;
      height: 100%;
      font-size: inherit;
      line-height: inherit;
      background-color: map.get(colors.$matPrimary, contrast, 500);
      color: map.get(colors.$matPrimary, 500);
    }
  }
}

// Мобильное меню
.mobile-menu {
  $layout-width: containers.$mobileMenuWidth;
  $info-height: containers.$mobileMenuHeight;
  // Свойства
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  user-select: none;
  // Открытое меню
  &.show {
    pointer-events: auto;
  }
  // Размеры
  &,
  * {
    &,
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }

  // Затенение
  &__overlay {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: colors.$overlayColor;
    opacity: 0;
    transition: opacity screens.$animationTime;

    &.show {
      opacity: 1;
    }
  }

  // Слой с данными
  &__layout {
    width: $layout-width;
    margin-left: -$layout-width;
    height: 100%;
    background-color: colors.$card;
    position: relative;
    z-index: 1;
    transition: margin-left screens.$animationTime;
    display: grid;
    grid-template-rows: $info-height 1fr;
    grid-template-columns: 1fr;
    // Открытое меню
    &.show {
      margin-left: 0;
    }
  }

  // Пункты меню
  &__list {
    $__list: &;
    // Свойства
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    overflow-y: scroll;
    // Группы пунктов
    &-group {
      border-top: 0 solid colors.$borderLight;
      & + & {
        border-top-width: 1px;
      }
    }
    // Элемент списка
    &-item {
      $__item: &;
      // Свойства
      width: 100%;
      transition: border-top-color screens.$animationTime;
      // Выделение
      &:hover {
        &,
        & + #{$__item} {
          border-top-color: colors.$colorPrimary;
        }
        // Ссылка
        #{$__list}-link {
          background-color: colors.$colorPrimary;
          // Иконка
          > mat-icon {
            color: colors.$titleDark;
          }
          // Текст
          > span {
            color: colors.$subTitleDark;
          }
        }
      }
    }
    // Ссылка
    &-link {
      $iconSize: 48px;
      $imageSize: 32px;
      // Свойства
      display: grid;
      grid-template-columns: $iconSize 1fr;
      grid-gap: 10px;
      text-decoration: none;
      transition: background-color screens.$animationTime;
      background-color: transparent;
      align-items: center;
      border: none;
      width: 100%;
      padding: 0;
      // Иконка
      > mat-icon {
        width: $iconSize;
        height: $iconSize;
        line-height: $iconSize;
        font-size: 24px;
        color: colors.$title;
        text-align: center;
        transition: color screens.$animationTime;
      }
      // Картинка
      > img {
        width: $imageSize;
        height: $imageSize;
        object-fit: cover;
        border-radius: 50%;
        margin-left: math.div($iconSize - $imageSize, 2);
      }
      // Текст
      > span {
        line-height: $iconSize;
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        color: colors.$subtitle;
        font-weight: 400;
        letter-spacing: 0;
        font-family: "Roboto", sans-serif;
        transition: color screens.$animationTime;
        text-align: left;
      }
      // Активный пункт
      &.active {
        // Иконка
        > mat-icon {
          color: colors.$colorPrimary;
        }
        // Текст
        > span {
          color: colors.$colorPrimary;
        }
      }
    }
    // Список
    > ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
      // Элемент списка
      > li {
        // Следующий элемент
        + li {
          border-top: 1px solid #{colors.$border};
        }
      }
    }
  }
}

// Мобильное меню снизу
.bottom-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: vars.$headerHeight;
  background-color: colors.$card;
  box-shadow: containers.$cardBoxShadow;
  pointer-events: all;
  z-index: 11;
  // Список элементов
  &__items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    list-style: none;
    margin: 0;
  }
  // Пункт меню
  &__item {
    $size: 40px;
    // Свойства
    display: block;
    text-decoration: none;
    position: relative;
    width: $size;
    height: $size;
    // Иконка
    > mat-icon {
      display: block;
      width: inherit;
      height: inherit;
      line-height: $size;
      font-size: $size * 0.9;
      text-align: center;
      color: map.get(colors.$matPrimary, 500);
    }
    // Картинка
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    // Счетчик
    &-counter {
      $size: 20px;
      $position: -5px;
      // Свойства
      position: absolute;
      top: $position;
      right: $position;
      width: $size;
      height: $size;
      line-height: $size;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      background-color: map.get(colors.$matStatusWarn, 600);
      color: map.get(colors.$matStatusWarn, contrast, 600);
      font-size: 11px;
      // Символ бесконечности
      > .is-infinity {
        display: block;
        width: inherit;
        height: inherit;
        line-height: inherit;
        font-size: 19px;
      }
    }
  }
}

// Пункты меню
.menu-list {
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  user-select: none;
  padding-left: 0;
  // Пункт меню
  &__item {
    $__elm: &;
    // Свойства
    list-style-type: none;
    display: block;
    position: relative;
    z-index: 1;
    // Линия
    &-line {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      z-index: 0;
      transition: background-color screens.$animationTime;
    }
    // Ссылка
    &-link {
      position: relative;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      color: colors.$subTitleDark;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      transition:
        background-color screens.$animationTime,
        color screens.$animationTime;
      background-color: transparent;
      border: none;
      // Текст
      > span {
        z-index: 1;
        position: relative;
        font-size: inherit;
      }
      // Активный элемент
      &.active #{$__elm}-line {
        background-color: map.get(colors.$matSecondary, 700);
        color: map.get(colors.$matSecondary, contrast, 700);
      }
    }
    // Список
    &-list {
      position: absolute;
      top: 100%;
      right: 0;
      opacity: 0;
      visibility: hidden;
      border-style: solid;
      transition:
        opacity #{screens.$animationTime},
        visibility #{screens.$animationTime};
      // Потомки
      > #{$__elm} {
        // Декорация
        &-list-decorator {
          display: block;
          position: absolute;
          top: -1px;
          background-image: linear-gradient(90deg, transparent 0, #fff 30px, #fff calc(100% - 30px), transparent 100%);
        }
        // Пункты
        &-link {
          text-transform: none;
          width: 100%;
          text-align: left;
          white-space: nowrap;
          font-weight: 200;
          // Текст
          > span {
            font-size: inherit;
            font-weight: inherit;
          }
          // Разделить
          > #{$__elm}-line {
            height: 100%;
          }
          // С иконкой
          &.withIcon {
            padding-left: 0 !important;
          }
          // Иконка
          > #{$__elm}-icon {
            margin-left: 0 !important;
            margin-right: 0 !important;
            z-index: 1;
          }
          // Выделение
          &:hover {
            background-color: map.get(colors.$matPrimary, 900);
            // Разделить
            > #{$__elm}-line {
              background-color: transparent;
            }
          }
        }
        // Разделитель
        &-separate {
          height: 1px;
        }
      }
    }
    // Иконка
    &-icon {
      display: block;
      text-align: center;
    }
    // Текст
    &-text {
      line-height: inherit;
      font-size: inherit;
    }
    // Счетчик
    &-counter {
      position: absolute;
      z-index: 2;
      border-radius: 50%;
      overflow: hidden;
      // Текст
      &-elm {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 400;
        text-align: center;
        overflow: hidden;
        z-index: 2;
        background-color: map.get(colors.$matStatusWarn, 500);
        color: map.get(colors.$matStatusWarn, contrast, 500);
        // Для стиля с символом бесконечности
        > .is-infinity {
          font-size: 1.55rem;
          line-height: inherit;
        }
        // Последующий блок
        & + & {
          z-index: 1;
          height: 100% !important;
          opacity: 1 !important;
          background-color: map.get(colors.$matStatusWarn, 600);
          color: map.get(colors.$matStatusWarn, contrast, 600);
        }
      }
    }

    // Наведенный элемент
    &:hover > #{$__elm} {
      // Кнопка
      &-link {
        background-color: colors.$shadow;
        // Линия
        > #{$__elm}-line {
          background-color: transparent;
        }
      }
      // Список
      &-list {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// Плавающая кнопка
.floating-button,
.back-button,
.menu-button,
.to-content-button {
  $__elm: &;
  // Свойства
  overflow: hidden;
  display: block;
  border-radius: 50%;
  position: relative;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0;
  background-color: transparent;
  // Иконка
  > mat-icon {
    font-size: inherit;
    line-height: inherit;
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 1;
    color: colors.$titleDark;
  }

  &__overlay {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: colors.$colorPrimary;
    z-index: 0;
  }

  &,
  &__overlay {
    transition: background-color screens.$animationTime;
  }

  &:hover #{$__elm}__overlay {
    background-color: colors.$colorSecondary;
  }
}

// Кнопки назад и меню
.back-button,
.menu-button {
  $size: 60px;

  font-size: 44px;
  line-height: $size;
  width: $size;
  height: $size;
  border-radius: 0;
  position: absolute;
  left: 0;
}

// Кнопка до контента
.to-content-button {
  $speed: 2s;
  $copies: 3;
  // Свойства
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  // Иконка
  > mat-icon {
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    line-height: inherit;
    animation: toContentButtonAnimation #{$speed} linear infinite;
    top: 0;
    left: 0;
    opacity: 0;
    // Последующая иконка
    @for $i from 2 through $copies {
      + mat-icon:nth-child(#{$i}) {
        animation-delay: math.div($speed, $copies) * ($i - 1);
      }
    }
  }
}

// Анимация для стрелки вниз
@keyframes toContentButtonAnimation {
  0% {
    transform: scale(0) translateY(-80%);
    opacity: 0;
  }
  50% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(0) translateY(80%);
    opacity: 0;
  }
}
