<div id="mainMenuCollapsedHelperBefore"></div>

<!-- Шапка -->
<div id="mainMenuElement"
     class="main-menu {{ class }} type-{{ type }}"
     [ngStyle]="css.menu"
     (mousedown)="onScrollMouseDown($event)">

  <!-- Задний фон -->
  <div class="main-menu__layer back">
    <!-- Градиент -->
    <div class="main-menu__layer-gradient type-{{ type }}"
         *ngIf="!imageFullShow && type == 'full'">
      <app-main-background></app-main-background>
    </div>
    <!-- Картинка -->
    <div class="main-menu__layer-image type-{{ imageFullShow? 'short': type }} {{imageOverlay? 'overlay': ''}}"
         [ngStyle]="css.image"
         *ngIf="image.length && (type != 'full' || imageFullShow)">
      <img [src]="image"
           [style.object-position]="imagePositionY + ' ' + imagePositionX" />
    </div>
    <!-- Временная картинка -->
    <div class="main-menu__layer-image temp type-{{ imageFullShow? 'short': type }} {{tempImageOverlay? 'overlay': ''}}"
         [ngStyle]="css.image"
         *ngIf="tempImage.length && (type != 'full' || imageFullShow)">
      <img [src]="tempImage"
           [style.object-position]="tempImagePositionY + ' ' + tempImagePositionX" />
    </div>
    <div class="main-menu__layer-image type-full {{imageOverlay? 'overlay': ''}}"
         *ngIf="image && type == 'full' && !imageFullShow">
      <img [src]="image"
           [style.object-position]="imagePositionY + ' ' + imagePositionX" />
    </div>
    <!-- Заливка цветом -->
    <div class="main-menu__layer-fill"
         [ngStyle]="css.header"></div>
  </div>

  <!-- Средний фон -->
  <div class="main-menu__layer content">
    <!-- Все содержимое -->
    <div class="main-menu__layer-container container"
         [ngStyle]="css.menuContainer">
      <!-- Слой слева -->
      <div #contentLayerContainerLeft
           class="main-menu__layer-container_left {{backButtonLink? 'has-back-button': ''}}">
        <!-- Кнопка назад -->
        <div class="back-button"
             [ngStyle]="css.backButton"
             [routerLink]="backButtonLink"
             [queryParams]="backButtonLinkParams"
             *ngIf="backButtonLink"
             unselectable="on">
          <mat-icon>arrow_back_ios</mat-icon>
        </div>
        <!-- Вызов главного меню -->
        <div class="menu-button"
             [ngStyle]="css.backButton"
             *ngIf="isMobile && !backButtonLink"
             (click)="toggleMobileMenu(1)"
             unselectable="on">
          <mat-icon>menu</mat-icon>
        </div>
        <!-- Аватарка -->
        <div class="main-menu__avatar"
             [ngStyle]="css.avatar"
             *ngIf="hasAvatar">
          <img [src]="avatarImage"
               (error)="onAvatarError()"
               *ngIf="avatarImage" />
          <!-- Кастомная иконка -->
          <mat-icon [svgIcon]="avatarCustomIcon"
                    *ngIf="!avatarImage && !!avatarCustomIcon"></mat-icon>
          <!-- Иконка -->
          <mat-icon *ngIf="!avatarImage && !avatarCustomIcon && avatarIcon">{{avatarIcon}}</mat-icon>
        </div>
        <!-- Заголовок -->
        <div class="main-menu__title"
             [ngStyle]="css.title"
             *ngIf="!!mainTitle">{{mainTitle}}</div>
        <!-- Подзаголовок -->
        <div class="main-menu__subtitle"
             [ngStyle]="css.subtitle"
             *ngIf="!!subTitle">{{subTitle}}</div>
      </div>
      <!-- Слой посередине -->
      <div class="main-menu__layer-container_center"
           [ngStyle]="css.menuLayer">
        <!-- Пункты главного меню -->
        <ng-container [ngTemplateOutlet]="mainMenu"
                      *ngIf="!isMobile"></ng-container>
      </div>
      <!-- Слой справа -->
      <div class="main-menu__layer-container_right"
           *ngIf="floatButtonIcon && (floatButtonCallback || floatButtonLink)">
        <!-- Кнопка с ссылкой -->
        <a class="floating-button"
           [ngStyle]="css.floatingButton"
           [routerLink]="floatButtonLink"
           [queryParams]="floatButtonLinkParams"
           *ngIf="floatButtonLink">
          <div class="floating-button__overlay"
               [ngStyle]="css.floatingButtonOverlay"></div>
          <mat-icon>{{floatButtonIcon}}</mat-icon>
        </a>
        <!-- Кнопка без ссылки -->
        <button class="floating-button"
                [ngStyle]="css.floatingButton"
                *ngIf="!floatButtonLink"
                (click)="onFloatButtonClick()">
          <div class="floating-button__overlay"
               [ngStyle]="css.floatingButtonOverlay"></div>
          <mat-icon>{{floatButtonIcon}}</mat-icon>
        </button>
      </div>
      <!-- Ширина слоя -->
      <div #contentLayerContainer
           class="main-menu__layer-container_full"></div>
    </div>
    <!-- Кнопка вниз -->
    <a class="to-content-button"
       [ngStyle]="css.toContentButton"
       (click)="collapseMenu()"
       *ngIf="type=='full' && !hideToContentButton">
      <mat-icon>expand_more</mat-icon>
    </a>
  </div>

  <!-- Передний фон -->
  <div class="main-menu__layer front">
  </div>
</div>

<!-- Пункты главного меню внизу страницы -->
<ng-container [ngTemplateOutlet]="mobileMenuBottom"
              *ngIf="isMobile"></ng-container>

<!-- Пункты главного меню -->
<ng-container [ngTemplateOutlet]="mobileMenu"
              *ngIf="isMobile"></ng-container>

<!-- Вспомогательный блок для коррекции контента -->
<div class="main-menu {{ class }} type-{{ type }} helper"
     [ngStyle]="css.helper"></div>
<div id="mainMenuCollapsedHelperAfter"></div>

<!-- Скролл страницы -->
<app-body-scroll [styles]="css.scroll"
                 [headerHeight]="headerHeight"></app-body-scroll>

<!-- Уведомления -->
<app-notifications #notificationsBlock
                   [show]="isShowNotifications"
                   [listStyles]="css.notificationsList"
                   [outerClickClose]="!isMobile"
                   (showChange)="onShowNotificationsChange($event)"
                   *ngIf="isAutorizedUser"></app-notifications>



<!-- Главное меню -->
<ng-template #mainMenu>
  <nav>
    <ul class="menu-list"
        [ngStyle]="css.menuList">
      <li class="menu-list__item"
          *ngFor="let item of menuItems">
        <!-- Содержимое пункта меню -->
        <ng-container [ngTemplateOutlet]="mainMenuItem"
                      [ngTemplateOutletContext]="{ $implicit: item, style: css.menuItem, lineStyle: css.menuItemLine }"></ng-container>
        <!-- Список -->
        <div class="menu-list__item-list"
             [ngStyle]="css.menuSubList"
             *ngIf="item.children?.length">
          <div class="menu-list__item-list-decorator"
               [ngStyle]="css.menuSubListDecorator"></div>
          <ng-container [ngTemplateOutlet]="mainMenuItem"
                        [ngTemplateOutletContext]="{
                          $implicit: subItem,
                          style: key === item.children.length - 1? css.menuSubItemLast: css.menuSubItem,
                          lineStyle: css.menuSubItemLine
                        }"
                        *ngFor="let subItem of item.children; let key = index"></ng-container>
        </div>
      </li>
    </ul>
  </nav>
</ng-template>

<!-- Пункты главного меню -->
<ng-template #mainMenuItem
             let-item
             let-classes
             let-last
             let-style="style"
             let-lineStyle="lineStyle">
  <!-- Кнопка с ссылкой -->
  <a class="menu-list__item-link"
     [ngClass]="{ active: item.active }"
     [ngStyle]="style"
     [id]="item.id"
     [routerLink]="item.link"
     *ngIf="!item.isSeparate && item.link && !item.callback">
    <ng-container [ngTemplateOutlet]="mainMenuItemContent"
                  [ngTemplateOutletContext]="{ $implicit: item, lineStyle }"></ng-container>
  </a>
  <!-- Кнопка без ссылки -->
  <button class="menu-list__item-link"
          [ngClass]="{ active: item.active }"
          [ngStyle]="style"
          [id]="item.id"
          (click)="item.callback()"
          *ngIf="!item.isSeparate && !item.link && item.callback">
    <ng-container [ngTemplateOutlet]="mainMenuItemContent"
                  [ngTemplateOutletContext]="{ $implicit: item, lineStyle }"></ng-container>
  </button>
  <!-- Кнопка без действия -->
  <div class="menu-list__item-link"
       [ngClass]="{ active: item.active }"
       [ngStyle]="style"
       [id]="item.id"
       (click)="onMenuItemClick(item)"
       *ngIf="!item.isSeparate && !item.link && !item.callback">
    <ng-container [ngTemplateOutlet]="mainMenuItemContent"
                  [ngTemplateOutletContext]="{ $implicit: item, lineStyle }"></ng-container>
  </div>
  <!-- Разделитель -->
  <div class="menu-list__item-separate"
       [ngStyle]="css.menuSubItemSeparator"
       *ngIf="item.isSeparate">
  </div>
</ng-template>

<!-- Соджержимое пункта главного меню -->
<ng-template #mainMenuItemContent
             let-item
             let-lineStyle="lineStyle">
  <!-- Иконка -->
  <mat-icon class="menu-list__item-icon"
            [ngStyle]="css[!!item?.text? 'menuItemIconAndText': 'menuItemIcon']"
            *ngIf="!!item?.icon">{{item.icon}}</mat-icon>
  <!-- Текст -->
  <span class="menu-list__item-text"
        *ngIf="!!item?.text">{{item.text}}</span>
  <!-- Подчеркивание для текущего пункта меню -->
  <div class="menu-list__item-line"
       [ngStyle]="lineStyle"></div>
  <!-- Счетчик -->
  <div class="menu-list__item-counter"
       [ngStyle]="css.menuItemCounter"
       *ngIf="!!item?.counter">
    <div class="menu-list__item-counter-elm"
         [ngStyle]="css.menuItemCounterElm"
         *ngFor="let i of notificationRepeat">
      <span class="is-infinity"
            [innerHTML]="tooManyNotificationSymbol"
            *ngIf="item.counter > 99; else mainMenuItemContentCounterDigit"></span>
      <ng-template #mainMenuItemContentCounterDigit>{{item.counter}}</ng-template>
    </div>
  </div>
</ng-template>



<!-- Мобильное меню -->
<ng-template #mobileMenu>
  <div class="mobile-menu {{showMobileMenu? 'show': ''}}">
    <div class="mobile-menu__overlay {{showMobileMenu? 'show': ''}}"
         (click)="toggleMobileMenu(-1)"></div>
    <div class="mobile-menu__layout {{showMobileMenu? 'show': ''}}">
      <!-- Информация о странице -->
      <ng-container [ngTemplateOutlet]="mobileMenuInfo"></ng-container>
      <!-- Пункты главного меню -->
      <nav class="mobile-menu__list">
        <ul>
          <ng-container *ngFor="let item of menuItems">
            <li *ngIf="!!item?.mobileView?.leftPanel">
              <ng-template [ngTemplateOutlet]="mobileMenuItem"
                           [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
              <!-- Список -->
              <div class="mobile-menu__list-list"
                   *ngIf="item.children?.length">
                <ng-container *ngFor="let subItem of item.children">
                  <ng-container [ngTemplateOutlet]="mobileMenuItem"
                                [ngTemplateOutletContext]="{ $implicit: subItem }"
                                *ngIf="!!subItem?.mobileView?.leftPanel"></ng-container>
                </ng-container>
              </div>
            </li>
          </ng-container>
        </ul>
      </nav>
    </div>
  </div>
</ng-template>

<!-- Пункты мобильного меню -->
<ng-template #mobileMenuItem
             let-item>
  <!-- Кнопка с ссылкой -->
  <a class="mobile-menu__list-link"
     [ngClass]="{ active: item.active }"
     [routerLink]="item.link"
     *ngIf="!item.isSeparate && item.link && !item.callback">
    <ng-container [ngTemplateOutlet]="mobileMenuItemContent"
                  [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
  </a>
  <!-- Кнопка без ссылки -->
  <button class="mobile-menu__list-link"
          (click)="item.callback()"
          *ngIf="!item.isSeparate && !item.link && item.callback">
    <ng-container [ngTemplateOutlet]="mobileMenuItemContent"
                  [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
  </button>
  <!-- Кнопка без действия -->
  <div class="mobile-menu__list-link"
       *ngIf="!item.isSeparate && !item.link && !item.callback"></div>
</ng-template>

<!-- Соджержимое пункта мобильного меню -->
<ng-template #mobileMenuItemContent
             let-item>
  <mat-icon *ngIf="!item?.image">{{item.icon}}</mat-icon>
  <!-- Картинка -->
  <img [src]="item.image"
       *ngIf="!!item?.image" />
  <!-- Текст -->
  <span>{{item.text}}</span>
</ng-template>

<!-- Информация о странице в мобильном меню -->
<ng-template #mobileMenuInfo>
  <!-- Информация о пользователе -->
  <app-panels-header [imageSrc]="imagePrefix + user.settings.profileBackground.imageNameShort"
                     [imageOverlay]="user.settings.profileBackground.imageOverlay"
                     [positionX]="user.settings.profileBackground.positionX"
                     [positionY]="user.settings.profileBackground.positionY"
                     mainTitle="{{user.name}} {{user.lastName}}"
                     [subTitle]="user.online? 'Онлайн': (userIsMale? 'Был ': 'Была ') + (user.lastActionDate | date: 'd.M.y - H:mm')"
                     [avatarImage]="user.avatars?.small"
                     avatarIcon="profile"
                     [avatarBlink]="user.online"
                     (closeClick)="toggleMobileMenu(-1)"
                     *ngIf="!!user"></app-panels-header>
  <!-- Информация о странице -->
  <app-panels-header [imageSrc]="image"
                     [imageOverlay]="imageOverlay"
                     [positionX]="imagePositionX"
                     [positionY]="imagePositionY"
                     [mainTitle]="mainTitle"
                     [subTitle]="subTitle"
                     [avatarImage]="avatarImage"
                     [avatarIcon]="avatarIcon"
                     [avatarCustomIcon]="avatarCustomIcon"
                     [avatarBlink]="avatarBlink"
                     (closeClick)="toggleMobileMenu(-1)"
                     *ngIf="!user"></app-panels-header>
</ng-template>



<!-- Мобильное меню снизу -->
<ng-template #mobileMenuBottom>
  <nav class="bottom-menu">
    <ul class="bottom-menu__items">
      <ng-container *ngFor="let item of menuItems">
        <!-- Пункт меню -->
        <ng-container *ngIf="!item?.children?.length">
          <li *ngIf="!!item?.mobileView?.bottomPanel">
            <ng-container [ngTemplateOutlet]="mobileMenuBottomItem"
                          [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
          </li>
        </ng-container>
        <!-- Дочерние пункты меню -->
        <ng-container *ngIf="!!item?.children?.length">
          <ng-container *ngFor="let subItem of item.children">
            <li *ngIf="!!subItem?.mobileView?.bottomPanel">
              <ng-container [ngTemplateOutlet]="mobileMenuBottomItem"
                            [ngTemplateOutletContext]="{ $implicit: subItem }"></ng-container>
            </li>
          </ng-container>
        </ng-container>
      </ng-container>
    </ul>
  </nav>
</ng-template>

<!-- Пункт меню для нижнего меню -->
<ng-template #mobileMenuBottomItem
             let-item>
  <!-- Кнопка с ссылкой -->
  <a class="bottom-menu__item"
     [ngClass]="{ active: item.active }"
     [routerLink]="item.link"
     *ngIf="!item.isSeparate && item.link && !item.callback">
    <ng-container [ngTemplateOutlet]="mobileMenuBottomItemContent"
                  [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
  </a>
  <!-- Кнопка без ссылки -->
  <button class="bottom-menu__item"
          (click)="item.callback()"
          *ngIf="!item.isSeparate && !item.link && !!item.callback">
    <ng-container [ngTemplateOutlet]="mobileMenuBottomItemContent"
                  [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
  </button>
  <!-- Кнопка без действия -->
  <div class="bottom-menu__item"
       (click)="onMenuItemClick(item)"
       *ngIf="!item.isSeparate && !item.link && !item.callback">
    <ng-container [ngTemplateOutlet]="mobileMenuBottomItemContent"
                  [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
  </div>
</ng-template>

<!-- Содержимое пункта меню для нижнего меню -->
<ng-template #mobileMenuBottomItemContent
             let-item>
  <mat-icon *ngIf="!item?.image">{{item.id !== 'notifications' || !isShowNotifications? item.icon: 'notifications_off'}}</mat-icon>
  <!-- Картинка -->
  <img [src]="item.image"
       *ngIf="!!item?.image" />
  <!-- Счетчик -->
  <div class="bottom-menu__item-counter"
       *ngIf="!!item?.counter">
    <span class="is-infinity"
          [innerHTML]="tooManyNotificationSymbol"
          *ngIf="item.counter > 99; else mainMenuItemContentCounterDigit"></span>
    <ng-template #mainMenuItemContentCounterDigit>{{item.counter}}</ng-template>
  </div>
</ng-template>