@use "sass:map";
@use "sass:math";
@use "../../../../assets/styles/colors";
@use "../../../../assets/styles/screens";
@use "../../../../assets/styles/mixins";

$breakpointMobile: small;

// Главное меню
.main-menu {
  $header-size: (
    xsmall: 180px,
    small: 180px,
    middle: 240px,
    large: 360px,
    xlarge: 420px,
  );
  // Свойства
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  user-select: none;
  // Полноразмерное меню
  &.type-full {
    height: 100vh;
  }
  // Вспомогательный блок
  &.helper {
    position: static;
  }

  // Слой
  &__layer {
    position: absolute;
    inset: 0;
    z-index: 0;

    // Задний слой
    &.back {
      overflow: hidden;
    }
    // Контент
    &.content {
    }
    // Передний фон
    &.front {
      pointer-events: none;
    }

    // Контейнер
    &-container {
      display: grid;
      grid-template-rows: 1fr 0;
      grid-template-areas: "left center right" "full full full";
      grid-gap: 0 15px;
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
      // Адаптив горизонтальных отступов
      @include screens.adaptive(auto, $breakpointMobile) {
        padding-left: 0;
        padding-right: 0;
      }
      // Адаптив шаблона
      @include screens.adaptiveFor($header-size) using($size) {
        grid-template-columns: #{$size} auto 60px;
      }

      // Слева
      &_left {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        grid-area: left;
      }
      // По середине
      &_center {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-end;
        grid-area: center;
      }
      // Справа
      &_right {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: flex-end;
        grid-area: right;
      }
      // Ширина
      &_full {
        grid-area: full;
      }
    }
    // Картинка
    &-image {
      display: block;
      width: 100%;
      height: 100%;
      // Полноразмерное меню
      &.type-full {
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        // Адаптив
        @include screens.adaptive(middle) {
          width: 47vw;
          height: 47vw;
          left: -10vw;
          bottom: -6vw;
        }
        // Адаптив
        @include screens.adaptive(auto, middle) {
          width: 470px;
          height: 470px;
          left: -100px;
          bottom: -60px;
        }
        // Перекрытие
        &.overlay:after {
          background-color: map.get(colors.$mat-primary, 500);
          opacity: 0.6;
        }
      }
      // Короткое меню
      &.type-short {
        position: relative;
        // Перекрытие
        &.overlay:after {
          background-color: #000;
          opacity: 0.4;
        }
      }

      // Картинка
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      // Перекрытие
      &.overlay:after {
        @include mixins.inset;
        content: "";
        position: absolute;
        display: block;
      }

      // Временная картинка
      &.temp {
        position: absolute;
        animation: temp-image-hidden #{screens.$animation-time} linear 1;
        opacity: 0;
        // Правила анимации
        @keyframes temp-image-hidden {
          from {
            opacity: 1;
          }
          to {
            opacity: 0;
          }
        }
      }
    }
    // Градиент
    &-gradient {
      position: absolute;
      inset: 0;
    }
    // Заливка
    &-fill {
      position: absolute;
      inset: 0;
      background-color: map.get(colors.$mat-primary, 500);
    }
  }
  // Заголовок
  &__title {
    line-height: 1.2;
    color: colors.$title-dark;
    font-weight: 400;
  }
  // Подзаголовок
  &__subtitle {
    line-height: 1.14;
    color: colors.$subtitle-dark;
    font-weight: 300;
    letter-spacing: 0;
  }
  // Заголовок, gодзаголовок
  &__title,
  &__subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  // Аватарка
  &__avatar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    // Картинка
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    // Иконка
    > mat-icon {
      text-align: center;
      width: 100%;
      height: 100%;
      font-size: inherit;
      line-height: inherit;
      background-color: map.get(colors.$mat-primary, contrast, 500);
      color: map.get(colors.$mat-primary, 500);
    }
  }
}

// Мобильное меню
.mobile-menu {
  $layout-width: 280px;
  $info-height: 240px;
  // Свойства
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  user-select: none;
  // Открытое меню
  &.show {
    pointer-events: auto;
  }
  // Размеры
  &,
  * {
    &,
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }

  // Затенение
  &__overlay {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: colors.$overlay-color;
    opacity: 0;
    transition: opacity screens.$animation-time;

    &.show {
      opacity: 1;
    }
  }

  // Слой с данными
  &__layout {
    width: $layout-width;
    margin-left: -$layout-width;
    height: 100%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    transition: margin-left screens.$animation-time;
    display: grid;
    grid-template-rows: $info-height 1fr;
    grid-template-columns: 1fr;
    // Открытое меню
    &.show {
      margin-left: 0;
    }
  }

  // Информация о странице
  &__info {
    $_elm: &;
    $padding: 15px;
    $title-size: 16px;
    $subtitle-size: 13px;
    $line-height: 1.2;
    $avatar-size: 48px;
    // Свойства
    width: 100%;
    height: $info-height;
    position: relative;
    padding: $padding;
    display: block;
    // Содержимое
    &-content {
      @include mixins.inset(auto, 0, 0, 0);
      position: absolute;
      display: grid;
      grid-template-areas: "title" "subtitle";
      gap: 0 12px;
      padding: 15px;
      align-items: center;
      // С аватаркой
      &.avatar {
        grid-template-columns: #{$avatar-size} 1fr;
        grid-template-areas: "avatar title" "avatar subtitle";
      }
    }
    // Картинка
    &-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: colors.$color_2;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: colors.$overlay-color;
      }
    }
    // Аватарка
    &-avatar {
      grid-area: avatar;
      width: $avatar-size;
      height: $avatar-size;
      // Картинка
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    // Заголовок
    &-title {
      color: colors.$title-dark;
      font-size: $title-size;
      grid-area: title;
      height: $title-size * $line-height;
      #{$_elm}-content.avatar & {
        margin-top: math.div($avatar-size, 2) - ($title-size * $line-height);
      }
    }
    // Подзаголовок
    &-subtitle {
      color: colors.$subtitle-dark;
      font-size: $subtitle-size;
      grid-area: subtitle;
      height: $subtitle-size * $line-height;
      #{$_elm}-content.avatar & {
        margin-bottom: math.div($avatar-size, 2) - ($subtitle-size * $line-height);
      }
    }
    // Заголовок, gодзаголовок
    &-title,
    &-subtitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      z-index: 1;
      line-height: $line-height;
      font-weight: 300;
    }
    // Закрытие окна
    &-close {
      position: absolute;
      top: 0;
      left: 0;
      color: colors.$title-dark;
      text-align: center;

      &,
      > mat-icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 24px;
      }
    }
  }

  // Пункты меню
  &__list {
    $__list: &;
    // Свойства
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    overflow-y: scroll;
    // Группы пунктов
    &-group {
      border-top: 0 solid colors.$border-light;
      & + & {
        border-top-width: 1px;
      }
    }
    // Элемент списка
    &-item {
      $__item: &;
      // Свойства
      width: 100%;
      transition: border-top-color screens.$animation-time;
      // Выделение
      &:hover {
        &,
        & + #{$__item} {
          border-top-color: colors.$color_1;
        }
        // Ссылка
        #{$__list}-link {
          background-color: colors.$color_1;
          // Иконка
          > mat-icon {
            color: colors.$title-dark;
          }
          // Текст
          > span {
            color: colors.$subtitle-dark;
          }
        }
      }
    }
    // Ссылка
    &-link {
      $icon-size: 48px;
      // Свойства
      display: grid;
      grid-template-columns: $icon-size 1fr;
      grid-gap: 10px;
      text-decoration: none;
      transition: background-color screens.$animation-time;
      background-color: transparent;
      border: none;
      width: 100%;
      padding: 0;
      // Иконка
      > mat-icon {
        width: $icon-size;
        height: $icon-size;
        line-height: $icon-size;
        font-size: 24px;
        color: colors.$title;
        text-align: center;
        transition: color screens.$animation-time;
      }
      // Текст
      > span {
        line-height: $icon-size;
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        color: colors.$subtitle;
        font-weight: 400;
        letter-spacing: 0;
        font-family: "Roboto", sans-serif;
        transition: color screens.$animation-time;
        text-align: left;
      }
      // Активный пункт
      &.active {
        // Иконка
        > mat-icon {
          color: colors.$color_1;
        }
        // Текст
        > span {
          color: colors.$color_1;
        }
      }
    }
    // Список
    > ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
      // Элемент списка
      > li {
        // Следующий элемент
        + li {
          border-top: 1px solid #{colors.$border};
        }
      }
    }
  }
}

// Пункты меню
.menu-list {
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  user-select: none;
  // Пункт меню
  &__item {
    $__elm: &;
    // Свойства
    list-style-type: none;
    display: block;
    position: relative;
    // Линия
    &-line {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      z-index: 0;
      transition: background-color screens.$animation-time;
    }
    // Ссылка
    &-link {
      position: relative;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      color: colors.$subtitle-dark;
      display: block;
      cursor: pointer;
      transition: background-color screens.$animation-time, color screens.$animation-time;
      background-color: transparent;
      border: none;
      // Текст
      > span {
        z-index: 1;
        position: relative;
        font-size: inherit;
      }
      // Активный элемент
      &.active #{$__elm}-line {
        background-color: map.get(colors.$mat-secondary, 500);
        color: map.get(colors.$mat-secondary, contrast, 500);
      }
    }
    // Список
    &-list {
      position: absolute;
      top: 100%;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity #{screens.$animation-time}, visibility #{screens.$animation-time};
      // отступ сверху
      @include screens.adaptive(middle, large) {
        padding-top: 10px;
      }
      // Пункты
      > #{$__elm}-link {
        background-color: map.get(colors.$mat-primary, 700);
        color: map.get(colors.$mat-primary, contrast, 700);
        color: #fff;
        margin-top: 0 !important;
        font-size: 15px !important;
        line-height: 44px !important;
        padding: 0 26px !important;
        text-transform: none;
        width: 100%;
        text-align: left;
        white-space: nowrap;
        // Линия
        > #{$__elm}-line {
          width: 5px;
          height: 100% !important;
        }
        // Выделить
        &:hover {
          background-color: map.get(colors.$mat-primary, 900);
          color: map.get(colors.$mat-primary, contrast, 900);
        }
      }
      // Разделитель
      > #{$__elm}-separate {
        height: 1px;
        background-color: map.get(colors.$mat-primary, 400);
      }
    }

    // Наведенный элемент
    &:hover > #{$__elm} {
      // Кнопка
      &-link {
        background-color: colors.$shadow;
        // Линия
        > #{$__elm}-line {
          background-color: transparent;
        }
      }
      // Список
      &-list {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// Плавающая кнопка
.floating-button,
.back-button,
.menu-button,
.to-content-button {
  $__elm: &;
  // Свойства
  overflow: hidden;
  display: block;
  border-radius: 50%;
  position: relative;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0;
  background-color: transparent;
  // Иконка
  > mat-icon {
    font-size: inherit;
    line-height: inherit;
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 1;
    color: colors.$title-dark;
  }

  &__overlay {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: colors.$color_1;
    z-index: 0;
  }

  &,
  &__overlay {
    transition: background-color screens.$animation-time;
  }

  &:hover #{$__elm}__overlay {
    background-color: colors.$color_2;
  }
}

// Кнопки назад и меню
.back-button,
.menu-button {
  $size: 60px;

  font-size: 44px;
  line-height: $size;
  width: $size;
  height: $size;
  border-radius: 0;
  position: absolute;
  left: 0;
}

// Кнопка до контента
.to-content-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
