<div id="mainMenuCollapsedHelperBefore"></div>

<div class="main-menu {{ class }} type-{{ type }}"
     [style]="css.menu"
     (mousedown)="onScrollMouseDown($event)">

  <!-- Задний фон -->
  <div class="main-menu__layer back">
    <!-- Градиент -->
    <div class="main-menu__layer-gradient type-{{ type }}"
         *ngIf="!imageFullShow && type == 'full'">
      <app-main-background></app-main-background>
    </div>
    <!-- Картинка -->
    <div class="main-menu__layer-image type-{{ imageFullShow? 'short': type }} {{imageOverlay? 'overlay': ''}}"
         [style]="css.image"
         *ngIf="image && type != 'full'">
      <img [src]="image"
           [style.object-position]="imagePositionY + ' ' + imagePositionX" />
    </div>
    <div class="main-menu__layer-image type-full {{imageOverlay? 'overlay': ''}}"
         *ngIf="image && type == 'full'">
      <img [src]="image"
           [style.object-position]="imagePositionY + ' ' + imagePositionX" />
    </div>
    <!-- Заливка цветом -->
    <div class="main-menu__layer-fill"
         [style]="css.header"></div>
  </div>

  <!-- Средний фон -->
  <div class="main-menu__layer content">
    <!-- Все содержимое -->
    <div class="main-menu__layer-container container">
      <!-- Слой слева -->
      <div #contentLayerContainerLeft
           class="main-menu__layer-container_left {{backButtonLink? 'has-back-button': ''}}">
        <!-- Кнопка назад -->
        <div class="back-button"
             [style]="css.backButton"
             [routerLink]="backButtonLink"
             [queryParams]="backButtonLinkParams"
             *ngIf="backButtonLink"
             unselectable="on">
          <mat-icon>chevron_left</mat-icon>
        </div>
        <!-- Вызов главного меню -->
        <div class="menu-button"
             [style]="css.backButton"
             *ngIf="isMobile() && !backButtonLink"
             (click)="toggleMobileMenu(1)"
             unselectable="on">
          <mat-icon>menu</mat-icon>
        </div>
        <!-- Аватарка -->
        <div class="main-menu__avatar"
             [style]="css.avatar"
             *ngIf="avatarImage || avatarIcon">
          <img [src]="avatarImage"
               *ngIf="avatarImage" />
          <mat-icon *ngIf="!avatarImage && avatarIcon">{{avatarIcon}}</mat-icon>
        </div>
        <!-- Заголовок -->
        <div class="main-menu__title"
             [style]="css.title"
             *ngIf="title">{{title}}</div>
        <!-- Подзаголовок -->
        <div class="main-menu__subtitle"
             [style]="css.subtitle"
             *ngIf="subTitle">{{subTitle}}</div>
      </div>
      <!-- Слой посередине -->
      <div class="main-menu__layer-container_center">
        <!-- Пункты главного меню -->
        <nav *ngIf="!isMobile()">
          <ul class="menu-list"
              [style]="css.menuList">
            <ng-container *ngFor="let group of menuItems">
              <ng-container *ngFor="let item of group">
                <!-- Показывать доступные пункты -->
                <li class="menu-list__item"
                    *ngIf="(item.auth == 1 && accountService.checkAuth) || (item.auth == -1 && !accountService.checkAuth) || item.auth == 0">
                  <!-- Кнопка с ссылкой -->
                  <a class="menu-list__item-link"
                     [style]="css.menuItem"
                     [routerLink]="item.link"
                     routerLinkActive="active"
                     [routerLinkActiveOptions]="{ exact: true }"
                     *ngIf="item.link && !item.callback">
                    <span>{{item.text}}</span>
                    <div class="menu-list__item-line"
                         [style]="css.menuItemLine"></div>
                  </a>
                  <!-- Кнопка без ссылки -->
                  <button class="menu-list__item-link"
                          [style]="css.menuItem"
                          (click)="item.callback()"
                          *ngIf="!item.link && item.callback">
                    <span>{{item.text}}</span>
                    <div class="menu-list__item-line"
                         [style]="css.menuItemLine"></div>
                  </button>
                </li>
              </ng-container>
            </ng-container>
          </ul>
        </nav>
      </div>
      <!-- Слой справа -->
      <div class="main-menu__layer-container_right"
           *ngIf="floatButtonCallback || floatButtonLink">
        <!-- Кнопка с ссылкой -->
        <a class="floating-button"
           [style]="css.floatingButton"
           *ngIf="floatButtonLink"
           [routerLink]="floatButtonLink"
           [queryParams]="floatButtonLinkParams">
          <div class="floating-button__overlay"
               [style]="css.floatingButtonOverlay"></div>
          <mat-icon>{{floatButtonIcon}}</mat-icon>
        </a>
        <!-- Кнопка без ссылки -->
        <button class="floating-button"
                [style]="css.floatingButton"
                *ngIf="floatButtonCallback"
                (click)="floatButtonCallback ()">
          <div class="floating-button__overlay"
               [style]="css.floatingButtonOverlay"></div>
          <mat-icon>{{floatButtonIcon}}</mat-icon>
        </button>
      </div>
      <!-- Ширина слоя -->
      <div #contentLayerContainer
           class="main-menu__layer-container_full"></div>
    </div>
    <!-- Кнопка вниз -->
    <a class="to-content-button"
       [style]="css.toContentButton"
       (click)="collapseMenu()"
       *ngIf="type=='full' && !hideToContentButton">
      <mat-icon>expand_more</mat-icon>
    </a>
  </div>

  <!-- Передний фон -->
  <div class="main-menu__layer front">
    <div class="mobile-menu {{showMobileMenu?'show':''}}"
         *ngIf="isMobile()">
      <div class="mobile-menu__overlay {{showMobileMenu?'show':''}}"
           (click)="toggleMobileMenu(-1)"></div>
      <div class="mobile-menu__layout {{showMobileMenu?'show':''}}">
        <!-- Информация о странице -->
        <div class="mobile-menu__info">
          <!-- Картинка -->
          <div class="mobile-menu__info-image type-{{ type }}"
               *ngIf="image">
            <img [src]="image" />
          </div>
          <!-- Заголовок -->
          <div class="mobile-menu__info-title"
               *ngIf="title">{{title}}</div>
          <!-- Подзаголовок -->
          <div class="mobile-menu__info-subtitle"
               *ngIf="subTitle">{{subTitle}}</div>
          <!-- Закрытие меню -->
          <div class="mobile-menu__info-close"
               (click)="toggleMobileMenu(-1)"
               unselectable="on">
            <mat-icon>close</mat-icon>
          </div>
        </div>
        <!-- Пункты главного меню -->
        <nav class="mobile-menu__list">
          <ul>
            <ng-container *ngFor="let group of menuItems">
              <div class="mobile-menu__list-group"
                   *ngIf="hasAvailMenuItem(group)">
                <ng-container *ngFor="let item of group">
                  <li class="mobile-menu__list-item"
                      *ngIf="(item.auth == 1 && accountService.checkAuth) || (item.auth == -1 && !accountService.checkAuth) || item.auth == 0">
                    <!-- Кнопка с ссылкой -->
                    <a class="mobile-menu__list-link"
                       [routerLink]="item.link"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }"
                       *ngIf="item.link && !item.callback">
                      <mat-icon>{{item.icon}}</mat-icon>
                      <span>{{item.text}}</span>
                    </a>
                    <!-- Кнопка без ссылки -->
                    <button class="mobile-menu__list-link"
                            (click)="item.callback()"
                            *ngIf="!item.link && item.callback">
                      <mat-icon>{{item.icon}}</mat-icon>
                      <span>{{item.text}}</span>
                    </button>
                  </li>
                </ng-container>
              </div>
            </ng-container>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Вспомогательный блок для коррекции контента -->
<div class="main-menu {{ class }} type-{{ type }} helper"
     [style]="css.helper"></div>
<div id="mainMenuCollapsedHelperAfter"></div>

<!-- Скролл страницы -->
<app-scroll [styles]="css.scroll"
            [breakpointMobile]="breakpointMobile"
            [headerHeight]="headerHeight"></app-scroll>