<div class="notification"
     [ngClass]="{ noRead: notification.status === 0 }"
     color="primary"
     *ngIf="!!user && !!notification">
  <!-- Картинка -->
  <notification-image [notification]="notification"
                      [image]="user.avatars.small"
                      icon="chat_add_on"></notification-image>
  <!-- Текст -->
  <div class="notification__text"
       [innerHTML]="notification.text | notificationText: { user }"></div>
  <!-- Действия -->
  <div class="notification__action">
    <!-- Добавить в друзья -->
    <a mat-mini-fab
       [routerLink]="notification.link"
       color="primary"
       class="mat-elevation-z"
       matTooltip="Перейти"><mat-icon>chevron_right</mat-icon></a>
  </div>
  <!-- Дата -->
  <div class="notification__date">{{date}}</div>
</div>