<mat-form-field [appearance]="appearance">
  <mat-label>{{label}}</mat-label>
  <ng-container *ngIf="type == 'text' || type == 'password' || type == 'email'">
    <input matInput
           [type]="type=='password'?(showPassword?'text':'password'):type"
           [formControl]="control"
           [maxlength]="maxLength"
           (keyup)="onKeyup($event)" />
    <mat-icon class="showPassword"
              matSuffix
              (click)="togglePasswordVisibility()"
              *ngIf="type=='password'">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
  </ng-container>
  <ng-container *ngIf="type == 'date'">
    <input matInput
           [formControl]="control"
           [min]="minDate"
           [max]="maxDate"
           [matDatepicker]="datePicker"
           (click)="datePicker.open()" />
    <mat-icon class="showPassword"
              matSuffix="matSuffix"
              (click)="datePicker.open()">today</mat-icon>
    <mat-datepicker #datePicker
                    [startAt]="control.value"></mat-datepicker>
  </ng-container>
  <mat-error *ngIf="control.invalid">{{getErrorMessageKey()}}</mat-error>
</mat-form-field>