@use "../../../../assets/styles/material";

// Обертка поля
@include material.mat-form-field;

// Поле ввода
.mat-input-element {
  font-weight: 400;
}

// Иконка отображения пароля
.showPassword {
  $size: 24px;
  $height: 16px;

  cursor: pointer;
  color: inherit;
  width: $size;
  height: $size;
  line-height: $size;
  font-size: $size;

  > mat-icon {
    font-size: inherit;
    display: block;
  }
}
