mat-form-field([appearance]="appearance")
  mat-label {{label}}
  ng-container(*ngIf!="type == 'text' || type == 'password' || type == 'email'")
    input(
      matInput="",
      [type]!="type=='password'?(showPassword?'text':'password'):type",
      [formControl]="control",
      [maxlength]="maxLength"
    )
    mat-icon.showPassword(
      matSuffix="",
      (click)="togglePasswordVisibility()",
      *ngIf="type=='password'"
    ) {{showPassword?'visibility_off':'visibility'}}
  ng-container(*ngIf="type == 'date'")
    input(
      matInput="",
      readonly="",
      [formControl]="control",
      [min]="minDate",
      [max]="maxDate",
      [matDatepicker]="picker",
      (click)="picker.open()"
    )
    mat-icon.showPassword(
      matSuffix,
      (click)="picker.open()"
    ) today
    mat-datepicker(#picker="")
  mat-error(*ngIf="control.invalid") {{getErrorMessageKey()}}