<!-- Текстовые поля -->
<ng-container *ngIf="type == 'text' || type == 'password' || type == 'email'">
  <mat-form-field #field
                  [appearance]="appearance"
                  [class]="hasValidators? '': 'disabled-validators'">
    <mat-label (click)="onFocus()">{{label | translate}}</mat-label>
    <!-- Текстовое поле -->
    <input #input
           matInput
           [type]="type === 'password'? (showPassword? 'text': 'password'): type"
           [formControl]="control"
           [autocomplete]="autocomplete"
           [name]="name ?? autocomplete"
           [id]="id ?? name ?? autocomplete"
           [maxlength]="maxLength"
           [attr.test-id]="testAttr"
           (keydown)="onKeyDown($event)"
           (keypress)="onKeyPress($event)"
           (keyup)="onKeyUp($event)"
           *ngIf="!multiLine" />
    <textarea #input
              matInput
              cdkTextareaAutosize
              [autocomplete]="autocomplete"
              [name]="name ?? autocomplete"
              [id]="id ?? name ?? autocomplete"
              [cdkAutosizeMinRows]="multiLineMinLines"
              [cdkAutosizeMaxRows]="multiLineMaxLines"
              [formControl]="control"
              [maxlength]="maxLength"
              [attr.test-id]="testAttr"
              (keydown)="onKeyDown($event)"
              (keypress)="onKeyPress($event)"
              (keyup)="onKeyUp($event)"
              *ngIf="multiLine"></textarea>
    <button mat-icon-button
            matSuffix
            class="showPassword"
            (click)="togglePasswordVisibility()"
            *ngIf="type=='password'">
      <mat-icon>{{showPassword?'visibility_off':'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="control.invalid">{{getErrorMessageKey() | translate}}</mat-error>
  </mat-form-field>
</ng-container>
<!-- Дата -->
<ng-container *ngIf="type == 'date'">
  <mat-form-field #field
                  [appearance]="appearance"
                  [class]="hasValidators? '': 'disabled-validators'">
    <mat-label (click)="onFocus()">{{label | translate}}</mat-label>
    <!-- Текстовое поле -->
    <input #input
           matInput
           [formControl]="control"
           [min]="minDate"
           [max]="maxDate"
           [autocomplete]="autocomplete"
           [name]="name ?? autocomplete"
           [id]="id ?? name ?? autocomplete"
           [matDatepicker]="datePicker"
           [attr.test-id]="testAttr"
           (keydown)="onKeyDown($event)"
           (keypress)="onKeyPress($event)"
           (keyup)="onKeyUp($event)" />
    <mat-icon class="showPassword"
              matSuffix="matSuffix"
              (click)="datePicker.open()">today</mat-icon>
    <mat-datepicker #datePicker
                    [startAt]="control.value"></mat-datepicker>
    <mat-error *ngIf="control.invalid">{{getErrorMessageKey() | translate}}</mat-error>
  </mat-form-field>
</ng-container>