<mat-form-field [appearance]="appearance"
                [class]="hasValidators? '': 'disabled-validators'">
  <mat-label>{{label}}</mat-label>
  <!-- Текстовое поле -->
  <ng-container *ngIf="type == 'text' || type == 'password' || type == 'email'">
    <input #input
           matInput
           [type]="type=='password'?(showPassword?'text':'password'):type"
           [formControl]="control"
           [autocomplete]="autocomplete"
           [maxlength]="maxLength"
           (keydown)="onKeyDown($event)"
           (keypress)="onKeyPress($event)"
           (keyup)="onKeyUp($event)"
           *ngIf="!multiLine" />
    <textarea #input
              matInput
              cdkTextareaAutosize
              [autocomplete]="autocomplete"
              [cdkAutosizeMinRows]="multiLineMinLines"
              [cdkAutosizeMaxRows]="multiLineMaxLines"
              [formControl]="control"
              [maxlength]="maxLength"
              (keydown)="onKeyDown($event)"
              (keypress)="onKeyPress($event)"
              (keyup)="onKeyUp($event)"
              *ngIf="multiLine"></textarea>
    <mat-icon class="showPassword"
              matSuffix
              (click)="togglePasswordVisibility()"
              *ngIf="type=='password'">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
  </ng-container>
  <!-- Дата -->
  <ng-container *ngIf="type == 'date'">
    <input #input
           matInput
           [formControl]="control"
           [min]="minDate"
           [max]="maxDate"
           [autocomplete]="autocomplete"
           [matDatepicker]="datePicker"
           (keydown)="onKeyDown($event)"
           (keypress)="onKeyPress($event)"
           (keyup)="onKeyUp($event)"
           (click)="datePicker.open()" />
    <mat-icon class="showPassword"
              matSuffix="matSuffix"
              (click)="datePicker.open()">today</mat-icon>
    <mat-datepicker #datePicker
                    [startAt]="control.value"></mat-datepicker>
  </ng-container>
  <mat-error *ngIf="control.invalid">{{getErrorMessageKey()}}</mat-error>
</mat-form-field>