<ng-container *ngIf="user">
  <!-- Шапка -->
  <app-main-menu [autoCollapse]="true"
                 [imageFullShow]="true"
                 type="full"
                 image="../../../../assets/images/backgrounds/{{user.settings.profileBackground.imageName}}"
                 [imagePositionX]="user.settings.profileBackground.positionX"
                 [imagePositionY]="user.settings.profileBackground.positionY"
                 [imageOverlay]="user.settings.profileBackground.imageOverlay"
                 [title]="user.name + ' ' + user.lastName"
                 [subTitle]="user.pageStatus"
                 [avatarImage]="user.avatars.middle"
                 avatarIcon="person"
                 floatButtonIcon="settings"
                 floatButtonLink="/profile/settings"></app-main-menu>

  <!-- Контейнер с данными -->
  <div class="root-section">
    <div class="container">
    </div>
  </div>
</ng-container>