<div class="section light-gray"
     *ngIf="ready && dream; else pageLoader">
  <!-- Шапка -->
  <app-main-menu [autoCollapse]="true"
                 [imageFullShow]="true"
                 [type]="dream.headerType"
                 [image]="imagePrefix + dream.headerBackground[dream.headerType === _navMenuType.full? 'imageName': 'imageNameShort']"
                 [imagePositionX]="dream.headerBackground.positionX"
                 [imagePositionY]="dream.headerBackground.positionY"
                 [imageOverlay]="dream.headerBackground.imageOverlay"
                 [title]="dream.title || defaultTitle"
                 subTitle="Приснилось {{(dream.date || today) | date: 'dd MMMM YYYY'}}"
                 [backButtonLink]="backLink"
                 [backButtonLinkParams]="backLinkParams"
                 [floatButtonIcon]="floatButtonData.icon"
                 [floatButtonLink]="floatButtonData.link"
                 [floatButtonLinkParams]="floatButtonData.params"></app-main-menu>

  <!-- Контейнер с данными -->
  <div class="root-section light-gray">
    <!-- Карта -->
    <div class="container"
         *ngIf="isMapAvail">
      <div class="dream__map">
        <app-dream-map-viewer [dreamMap]="dream.map"
                              [debugInfo]="true"></app-dream-map-viewer>
      </div>
    </div>
    <!-- Текст -->
    <div class="container"
         *ngIf="isTextAvail">
      <div class="dream__text"
           [innerHTML]="dream.text"></div>
    </div>
  </div>
</div>

<!-- Лоадер страницы -->
<ng-template #pageLoader>
  <app-page-loader></app-page-loader>
</ng-template>