<div class="section light-gray"
     *ngIf="ready && dream; else pageLoader">
  <!-- Шапка -->
  <app-main-menu #mainMenu
                 [autoCollapse]="true"
                 [imageFullShow]="true"
                 [type]="dream.headerType"
                 [image]="imagePrefix + dream.headerBackground[dream.headerType === _navMenuType.full? 'imageName': 'imageNameShort']"
                 [imagePositionX]="dream.headerBackground.positionX"
                 [imagePositionY]="dream.headerBackground.positionY"
                 [imageOverlay]="dream.headerBackground.imageOverlay"
                 [mainTitle]="dream.title || defaultTitle"
                 subTitle="Приснилось {{(dream.date || today) | date: 'dd MMMM YYYY'}}"
                 [backButtonLink]="backLink"
                 [backButtonLinkParams]="backLinkParams"
                 [floatButtonIcon]="floatButtonData.icon"
                 [floatButtonLink]="floatButtonData.link"
                 [floatButtonLinkParams]="floatButtonData.params"></app-main-menu>

  <!-- Контейнер с данными -->
  <div class="root-section light-gray">
    <div #contentPanel
         class="container content"
         [ngClass]="{ noComments: !writeAccess && !readAccess }">
      <!-- Краткие данные -->
      <div #keywordsPanel
           class="content__keywords"
           [ngClass]="{ open: topPanelOpen }"
           [ngStyle]="{ top: topPanelHelperShift + 'px' }">
        <div #keywordsPanelHelper
             class="content__keywords-helper">
          <!-- Тип приватности -->
          <ng-container [ngTemplateOutlet]="dreamSettingLabel"
                        [ngTemplateOutletContext]="labels"
                        *ngIf="getDreamPrivateLabels as labels"></ng-container>
          <!-- Тип сновидения -->
          <ng-container [ngTemplateOutlet]="dreamSettingLabel"
                        [ngTemplateOutletContext]="labels"
                        *ngIf="getDreamTypeLabels as labels"></ng-container>
          <!-- Настроение сновидения -->
          <ng-container [ngTemplateOutlet]="dreamSettingLabel"
                        [ngTemplateOutletContext]="labels"
                        *ngIf="getDreamMoodLabels as labels"></ng-container>
          <!-- Ключевые слова -->
          <ng-container [ngTemplateOutlet]="dreamKeyword"
                        [ngTemplateOutletContext]="{ $implicit: keyword }"
                        *ngFor="let keyword of dream.keywords"></ng-container>
        </div>
        <!-- Развернуть -->
        <button mat-mini-fab
                color="primary"
                class="content__keywords-button mat-elevation-z"
                [matTooltip]="topPanelOpen? 'Скрыть список': 'Раскрыть список'"
                (click)="onKeywordsExpandStateChange()"
                *ngIf="keywordsExpandAvail"><mat-icon>{{topPanelOpen? 'expand_less': 'expand_more'}}</mat-icon></button>
      </div>
      <!-- Описание или карта -->
      <div #leftPanel
           class="content__data"
           [ngClass]="{ noComments: !writeAccess && !readAccess }"
           [ngStyle]="{ top: leftPanelHelperShift + 'px' }">
        <!-- Карта -->
        <ng-container *ngIf="isMapAvail">
          <div class="dream__map">
            <app-dream-map-viewer [dreamMap]="dream.map"
                                  [debugInfo]="true"></app-dream-map-viewer>
          </div>
        </ng-container>
        <!-- Текст -->
        <ng-container *ngIf="isTextAvail">
          <!-- Текст сновидения -->
          <app-highlight-keywords class="dream__text"
                                  color="primary"
                                  [keywords]="[selectedKeyword]"
                                  [text]="dream.text"></app-highlight-keywords>
          <!-- Толкование -->
          <ng-container *ngIf="isTextAvail && (!!dream?.interpretation || dream.user.id === user.id)">
            <div class="dream__text">
              <!-- Заголовок -->
              <app-title [type]="3"
                         [noMargin]="true"
                         [oneLine]="true"
                         mainTitle="Возможное толкование">
                <!-- Обновить -->
                <button mat-mini-fab
                        color="primary"
                        matTooltip="Обновить толкование"
                        [attr.button-loader]="interpretationLoading"
                        (click)="onUpdateInterpritation()"
                        *ngIf="dream.user.id === user.id">
                  <mat-icon>refresh</mat-icon>
                </button>
              </app-title>
              <!-- Текст толкования -->
              <blockquote [innerHTML]="dream.interpretation"
                          *ngIf="!!dream?.interpretation"></blockquote>
              <!-- Нет толкования -->
              <blockquote *ngIf="!dream?.interpretation">Пока что нет толкования</blockquote>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <!-- Комментарии -->
      <div #rightPanel
           class="content__comments"
           [ngStyle]="{ top: rightPanelHelperShift + 'px' }">
        <!-- Редактор -->
        <div class="content__comments-editor"
             *ngIf="writeAccess">
          <app-comment-editor content
                              [materialType]="commentMaterialType"
                              [materialId]="dream.id"
                              [materialOwner]="dream.user.id"
                              placeholder="Что вы об этом думаете?"
                              [wrapControls]="true"
                              [bottomSmiles]="true"></app-comment-editor>
        </div>
        <!-- Список комментариев -->
        <app-comment-list #commentListElm
                          [materialType]="commentMaterialType"
                          [materialId]="dream.id"
                          *ngIf="readAccess"></app-comment-list>
      </div>
    </div>
  </div>
  <!-- Другие сновидения -->
  <div class="section"
       *ngIf="!!otherDreams?.length">
    <div class="container">
      <app-title [type]="4"
                 icon="auto_stories"
                 iconColor="primary"
                 iconBackground="fill"
                 mainTitle="Так же смотрите"
                 subTitle="Другие сновидения {{dream.user | petrovich}}"></app-title>
      <!-- Список сновидений -->
      <app-dream-list [dreams]="otherDreams"
                      [oneLine]="true"
                      [showProfile]="false"
                      [elmsPerLine]="4"></app-dream-list>
    </div>
  </div>
</div>



<!-- Лоадер страницы -->
<ng-template #pageLoader>
  <app-page-loader></app-page-loader>
</ng-template>

<!-- Шаблон данных для характеристики сновидения -->
<ng-template #dreamSettingLabel
             let-icon="icon"
             let-image="image"
             let-mainTitle="mainTitle"
             let-subTitle="subTitle"
             let-color="color"
             let-background="background"
             let-position="position"
             let-colorized="colorized">
  <div class="setting-label">
    <!-- Картинка -->
    <div class="setting-label__image"
         [ngClass]="{ colorized }"
         [attr.color]="color"
         [attr.background]="background"
         [attr.position]="position">
      <!-- Картинка -->
      <img [src]="image"
           *ngIf="!!image?.length" />
      <!-- Иконка -->
      <mat-icon *ngIf="!image?.length">{{!!icon ? icon: 'person' }}</mat-icon>
    </div>
    <!-- Данные -->
    <div class="setting-label__data">
      <div class="setting-label__main-title">{{mainTitle}}</div>
      <div class="setting-label__sub-title">{{subTitle}}</div>
    </div>
  </div>
</ng-template>

<!-- Шаблон ключевого слова -->
<ng-template #dreamKeyword
             let-keyword>
  <div class="keyword"
       [ngClass]="{ selected: keyword === selectedKeyword }"
       (click)="onKeywordSelect(keyword)">{{keyword}}</div>
</ng-template>