<!-- Меню -->
<app-main-menu [autoCollapse]="true"
               type="full"
               image="../../../../assets/images/backgrounds/{{backgroundImageData.imageName}}"
               [imageOverlay]="backgroundImageData.imageOverlay"
               [imageFullShow]="true"
               [imagePositionX]="backgroundImageData.positionX"
               [imagePositionY]="backgroundImageData.positionY"
               title="Ошибка"
               subTitle="Страница не найдена"
               floatButtonIcon="home"
               floatButtonLink="/"
               [hideToContentButton]="true"></app-main-menu>

<!--
<div class="root-section">
  <div class="container">
  </div>
</div>
-->