<!-- Меню -->
<app-main-menu [autoCollapse]="true"
               type="full"
               image="../../../../assets/images/backgrounds/3.jpg"
               [imageOverlay]="true"
               [imageFullShow]="true"
               title="Ошибка"
               subTitle="Страница не найдена"
               floatButtonIcon="home"
               floatButtonLink="/"
               [hideToContentButton]="true"></app-main-menu>

<!--
<div class="root-section">
  <div class="container">
  </div>
</div>
-->