<div class="captcha"
     #container>
  <input class="captcha__input"
         type="hidden"
         [formControl]="control">
  <div class="captcha-helper"
       style.width="{{layoutWidth}}px"
       style.height="{{layoutHeight}}px">
    <div class="captcha-overlay"
         style.transform="scale({{scale}})"
         style.width="{{baseWidth}}px">
      <re-captcha [siteKey]="siteKey"
                  (resolved)="onResolved($event)"
                  (error)="onError()"></re-captcha>
    </div>
  </div>
  <mat-error *ngIf="control.invalid">{{getErrorMessageKey() | translate: errorsData}}</mat-error>
</div>