<div #map
     class="map"
     (mousedown)="onMapMoveStart($event)"
     (contextmenu)="$event.preventDefault()"
     (wheel)="onZoom($event)"
     *ngIf="dreamMap">
  <div class="map__layout"
       [attr.width]="dreamMap.size.width"
       [attr.height]="dreamMap.size.height"
       [ngStyle]="layoutStyle()">
    <ng-container *ngFor="let y of iY">
      <ng-container *ngFor="let x of iX">
        <!-- Ячейка -->
        <div class="ceil"
             attr.coord="{{x}}-{{y}}">
          <ng-container *ngIf="ceil(x,y).terrain">
            <!-- Тип местности -->
            <div class="ceil__background"
                 [ngStyle]="{ 'background-image': 'url('+ceil(x,y).terrain.backgroundImage+')' }"
                 [attr.z]="ceil(x,y).coord.z"></div>
            <!-- Подземный слой -->
            <ng-container *ngIf="ceil(x,y).coord.z">
              <!-- Текстура земли -->
              <div class="ceil__underground-side"
                   [ngStyle]="ceilUndergroundStyle(ceil(x,y))"
                   [attr.z]="ceil(x,y).coord.z"></div>
              <div class="ceil__underground-left"
                   [ngStyle]="ceilUndergroundStyle(ceil(x,y))"
                   [attr.z]="ceil(x,y).coord.z"></div>
              <div class="ceil__underground-right"
                   [ngStyle]="ceilUndergroundStyle(ceil(x,y))"
                   [attr.z]="ceil(x,y).coord.z"></div>
              <div class="ceil__underground-front"
                   [ngStyle]="ceilUndergroundStyle(ceil(x,y))"
                   [attr.z]="ceil(x,y).coord.z"></div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <!-- Условный центр -->
    <!--<div class="center"
         [ngStyle]="centerStyle()">
      <div *ngFor="let i of iCenter"></div>
    </div>-->
  </div>
</div>