<div #map
     class="map"
     (mousedown)="onMapMoveStart($event)"
     (contextmenu)="$event.preventDefault()"
     (wheel)="onZoom($event)"
     *ngIf="dreamMap">
  <div class="map__layout"
       [attr.width]="dreamMap.size.width"
       [attr.height]="dreamMap.size.height"
       [ngStyle]="layoutStyle()">
    <ng-container *ngFor="let y of iY">
      <ng-container *ngFor="let x of iX">
        <!-- Ячейка -->
        <div class="ceil"
             attr.coord="{{x}}-{{y}}">
          <div class="ceil__background"
               [attr.z]="ceil(x,y).coord.z"></div>
          <!-- Подземный слой -->
          <ng-container *ngIf="ceil(x,y).coord.z">
            <div class="ceil__underground-side"
                 [attr.z]="ceil(x,y).coord.z"></div>
            <div class="ceil__underground-left"
                 [attr.z]="ceil(x,y).coord.z"></div>
            <div class="ceil__underground-right"
                 [attr.z]="ceil(x,y).coord.z"></div>
            <div class="ceil__underground-front"
                 [attr.z]="ceil(x,y).coord.z"></div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>