@use "sass:math";
@use "../../../../assets/styles/mixins";

$border-size: 3px;
$border-color: #bbb;

$z-koof: 10;
$z-max: $z-koof * 10;

// Родительский блок
:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ddd;
  overflow: hidden;
}

// Интерфейс карты
.map {
  @include mixins.inset;
  // Свойства
  position: absolute;
  transform-style: preserve-3d;
  perspective: 800px;
  // Сетка
  &__layout {
    border: 0 dotted #{$border-color};
    border-width: 0 #{$border-size} #{$border-size} 0;
    position: relative;
    display: grid;
    transform-style: preserve-3d;
    perspective: 999999px;
    // Размеры ячеек
    @for $i from 1 to 100 {
      &[width="#{$i}"] {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
      &[height="#{$i}"] {
        grid-template-rows: repeat(#{$i}, 1fr);
      }
    }
  }
}

// Ячейка
.ceil {
  position: relative;
  transform-style: preserve-3d;
  perspective: 999999px;
  font-size: inherit;
  // Опорная сетка
  &:before {
    @include mixins.inset;
    // Свойства
    content: "";
    display: block;
    position: absolute;
    border: 0 dotted #{$border-color};
    border-width: #{$border-size} 0 0 #{$border-size};
    background-color: #000;
  }
  // Обозначение наземного слоя
  &__background {
    @include mixins.inset;
    // Свойства
    position: absolute;
    background-position: 0 0;
    background-size: 100%;
    // Цикл по высоте
    @for $i from 1 to $z-max {
      &[z="#{$i}"] {
        transform: rotateX(90deg) translateY(#{math.div(100%, $z-koof) * $i}) rotateX(90deg);
      }
    }
  }
  // Обозначение подземного слоя
  &__underground {
    // Общие стили
    &-side,
    &-front,
    &-left,
    &-right {
      display: block;
      position: absolute;
      left: 0;
      background-position: bottom center;
      background-size: 100% auto;
      width: 100%;
    }
    // Задняя стенка
    &-side {
      bottom: 100%;
      transform-origin: bottom left;
      //filter: brightness(1);
      transform: rotateX(-90deg);
    }
    // Левая стенка
    &-left {
      bottom: 100%;
      transform-origin: bottom left;
      //filter: brightness(0.9);
      transform: rotateX(-90deg) rotateY(-90deg);
    }
    // Правая стенка
    &-right {
      bottom: 0;
      left: 100%;
      transform-origin: bottom left;
      //filter: brightness(0.8);
      transform: rotateX(-90deg) rotateY(90deg);
    }
    // Передняя стенка
    &-front {
      bottom: 0;
      transform-origin: bottom left;
      //filter: brightness(0.7);
      transform: rotateX(-90deg);
    }

    // Цикл по высоте
    @for $i from 1 to $z-max {
      &-side,
      &-front,
      &-left,
      &-right {
        &[z="#{$i}"] {
          height: math.div(100%, $z-koof) * $i;
        }
      }
    }
  }
}

// Условный центр
.center {
  $size: 10px;
  // Свойства
  position: absolute;
  width: $size;
  height: $size;
  margin-top: -$size / 2;
  margin-left: -$size / 2;
  transform-style: preserve-3d;
  perspective: 999999px;
  // Дочерние элементы
  > * {
    @include mixins.inset;
    // Свойства
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: #900;
    // Смещение по Z
    @for $i from 1 to 401 {
      &:nth-child(#{$i}) {
        transform: translateZ(#{1px * ($i - 1)});
      }
    }
    // Последний слой
    &:nth-last-child(1) {
      background-color: #700 !important;
    }
  }
}
