@use "sass:math";
@use "../../../../assets/styles/mixins";

$border-size: 3px;
$border-color: #000;
$background-color: rgba(180, 180, 180, 0.5);

$z-koof: 10;
$z-max: $z-koof * 10;

// Родительский блок
:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ddd;
  overflow: hidden;
}

// Интерфейс карты
.map {
  @include mixins.inset;
  // Свойства
  position: absolute;
  transform-style: preserve-3d;
  perspective: 800px;
  // Сетка
  &__layout {
    // border: 0 dotted #{$border-color};
    // border-width: 0 #{$border-size} #{$border-size} 0;
    position: relative;
    display: grid;
    transform-style: preserve-3d;
    perspective: 999999px;
  }
}

// Ячейка
.ceil {
  position: relative;
  transform-style: preserve-3d;
  perspective: 999999px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  // Опорная сетка
  &:before {
    @include mixins.inset;
    // Свойства
    content: "";
    display: block;
    position: absolute;
    background-color: $background-color;
    border: 0 dotted #{$border-color};
    border-width: #{$border-size} 0 0 #{$border-size};
  }
  // Обозначение наземного слоя
  &__background {
    @include mixins.inset;
    // Свойства
    position: absolute;
    background-position: 0 0;
    background-size: 100%;
    // Цикл по высоте
    @for $i from 1 to $z-max {
      &[z="#{$i}"] {
        transform: rotateX(90deg) translateY(#{math.div(100%, $z-koof) * $i}) rotateX(90deg);
      }
    }
  }
  // Обозначение подземного слоя
  &__underground {
    // Общие стили
    &-side,
    &-front,
    &-left,
    &-right {
      display: block;
      position: absolute;
      left: 0;
      background-position: bottom center;
      background-size: 100% auto;
      width: 100%;
    }
    // Задняя стенка
    &-side {
      bottom: 100%;
      transform-origin: bottom left;
      //filter: brightness(1);
      transform: rotateX(-90deg);
    }
    // Левая стенка
    &-left {
      bottom: 100%;
      transform-origin: bottom left;
      //filter: brightness(0.9);
      transform: rotateX(-90deg) rotateY(-90deg);
    }
    // Правая стенка
    &-right {
      bottom: 0;
      left: 100%;
      transform-origin: bottom left;
      //filter: brightness(0.8);
      transform: rotateX(-90deg) rotateY(90deg);
    }
    // Передняя стенка
    &-front {
      bottom: 0;
      transform-origin: bottom left;
      //filter: brightness(0.7);
      transform: rotateX(-90deg);
    }

    // Цикл по высоте
    @for $i from 1 to $z-max {
      &-side,
      &-front,
      &-left,
      &-right {
        &[z="#{$i}"] {
          height: math.div(100%, $z-koof) * $i;
        }
      }
    }
  }
  // Туман
  @for $layoutFog from 1 to 11 {
    $__elm: &;
    // Стили
    .map__layout[fog="#{$layoutFog}"] > & {
      @for $ceilFog from 1 to $layoutFog + 1 {
        &[fog="#{$ceilFog}"] {
          // Размытие и прозрачность
          &:before,
          #{$__elm}__background,
          #{$__elm}__underground-side,
          #{$__elm}__underground-front,
          #{$__elm}__underground-left,
          #{$__elm}__underground-right {
            filter: blur(math.div(20px, $layoutFog) * $ceilFog);
          }
        }
      }
    }
  }
}
