@use "sass:map";
@use "../../../../assets/styles/containers";
@use "../../../../assets/styles/screens";
@use "../../../../assets/styles/colors";
@use "../../../../assets/styles/vars";

// Аватарка
.avatar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: containers.$cardBoxShadow;
  border-radius: containers.$cardBorderRadius;
  background-color: colors.$card;
  // Картинка
  > img {
    display: block;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: #{containers.$cardBorderRadius} #{containers.$cardBorderRadius} 0 0;
    // Выделение
    &.hover-avail {
      cursor: pointer;
    }
    // Без панели управления
    &.has-control {
      border-radius: containers.$cardBorderRadius;
    }
  }
  // Замещение аватарки
  &__placeholder {
    $height: 420px;
    // Свойства
    width: 100%;
    height: $height;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    // Иконка
    > mat-icon {
      background-color: map.get(colors.$matDisabled, 600);
      color: map.get(colors.$matDisabled, contrast, 600);
      width: 100%;
      height: $height;
      line-height: $height;
      font-size: $height * 0.5;
      text-align: center;
      border-radius: #{containers.$cardBorderRadius} #{containers.$cardBorderRadius} 0 0;
    }
    // Доступно выделение
    &.hover-avail {
      // Иконка
      > mat-icon {
        cursor: pointer;
        transition: background-color #{screens.$animationTime}, color #{screens.$animationTime};

        // Выделение
        &:hover {
          background-color: map.get(colors.$matPrimary, 600);
          color: map.get(colors.$matPrimary, contrast, 600);
        }
      }
    }
    // Без панели управления
    &.has-control > mat-icon {
      border-radius: containers.$cardBorderRadius;
    }
  }
  //Кнопки
  &__buttons {
    width: 100%;
    justify-content: space-between;
    border-radius: 0 0 #{containers.$cardBorderRadius} #{containers.$cardBorderRadius};
    padding: #{vars.$dreamCardSpacingY} #{vars.$dreamCardSpacingX};
    // Общий стиль контейнеров
    &,
    &-left,
    &-center,
    &-right {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 5px;
      flex-grow: 1;
    }
    // Контейнер слева
    &-left {
      justify-content: flex-start;
    }
    // Контейнер по середине
    &-center {
      justify-content: center;
    }
    // Контейнер справа
    &-right {
      justify-content: flex-end;
    }
  }
}

// Скрыть элемент
*[hidden] {
  display: block;
  position: fixed;
  left: 200%;
  top: 200%;
}

// Поле загрузки файла
.file-input {
  display: none;
}
