@use "sass:map";
@use "sass:math";
@use "vars";
@use "colors";
@use "screens";
@use "containers";

$headerHeight: vars.$headerHeight;
$tabsHeight: 49px;

// Главный блок вкладки
.overlay {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

// Убрать лишние отступы
::ng-deep .mat-mdc-tab {
  // Шапка уппа
  &-header {
    position: sticky !important;
    top: 60px;
    max-width: 100%;
    margin: 0 auto;
    overflow: unset !important;
    z-index: 2;
    background-color: colors.$card;
    // Границы
    & {
      // Общий стиль
      &:before,
      &:after {
        content: "";
        display: block;
        width: calc(50vw - 50%);
        height: calc(100% + 1px);
        position: absolute;
        top: 0;
        background-color: inherit;
      }
      // Слева
      &:before {
        right: 100%;
      }
      // Справа
      &:after {
        left: 100%;
      }
      // Границы
      &,
      &::before,
      &::after {
        border-bottom: 1px solid #{colors.$tabBorder};
      }
    }
    // Адаптив
    @include screens.adaptiveFor(containers.$widths) using($width) {
      width: $width - (containers.$paddingX * 2);
    }
  }
  // Шапка и группа
  &-header,
  &-group {
    max-width: 100%;
  }
  // Группа
  &-group {
    display: block !important;
  }
  // Тело
  &-body {
    overflow: hidden !important;
    width: 100%;
    // Активная вкладка
    &-active {
      overflow: unset !important;
    }
    // Содержимое
    &-content,
    &-wrapper {
      overflow: unset !important;
    }
  }
  // Вкладка
  &-label {
    opacity: 1 !important;
    color: colors.$text;
    // Активная вкладка
    &-active {
      color: map.get(colors.$matPrimary, 900);
    }
    // Содержимое
    &-content {
      font-weight: 400 !important;
      font-size: 14px !important;
    }
    // Контейнер
    &-container {
      flex-grow: 0 !important;
    }
  }
}

// Размер заполняющей картинки
.filler-image {
  @include screens.adaptiveFor(containers.$paddingsY) using($paddingY) {
    height: calc(100vh - #{($paddingY * 2) + $headerHeight + $tabsHeight});
    // Для телефонов
    @include screens.adaptive(xxsmall, small) {
      height: calc(100vh - #{($paddingY * 2) + ($headerHeight * 2) + $tabsHeight});
    }
  }
  // Картинка
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Список карточек
.cards-list {
  $counts: (
    xlarge: 3,
    large: 2,
    middle: 2,
    small: 1,
    xsmall: 1,
    xxsmall: 1
  );
  // Свойства
  display: grid;
  grid-gap: 15px;
  // Адаптив
  @include screens.adaptiveFor($counts) using($count) {
    grid-template-columns: repeat(#{$count}, 1fr);
  }
}

// Секция внутри таба
.root-section {
  // Содержимое редактора
  &__helper {
    max-width: 100%;
  }
  // Секция внутри таба
  &.tabs {
    min-height: calc(100vh - #{$headerHeight + $tabsHeight});
    // Для телефонов
    @include screens.adaptive(xxsmall, small) {
      min-height: calc(100vh - #{($headerHeight * 2) + $tabsHeight});
    }
  }
}

// Занять все пространство
.all-height {
  height: calc(100vh - #{$headerHeight + $tabsHeight});
  // Для телефонов
  @include screens.adaptive(xxsmall, small) {
    height: calc(100vh - #{($headerHeight * 2) + $tabsHeight});
  }
  // Растянуть потомков
  &.grow-child {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-flow: column nowrap;
  }
}
