<div class="section white"
     *ngIf="ready && !!user; else pageLoader">
  <!-- Шапка -->
  <app-main-menu [autoCollapse]="true"
                 [imageFullShow]="true"
                 [type]="navMenuType"
                 [image]="imagePrefix + dream.headerBackground[dream.headerType === _navMenuType.full? 'imageName': 'imageNameShort']"
                 [imagePositionX]="dream.headerBackground.positionX"
                 [imagePositionY]="dream.headerBackground.positionY"
                 [imageOverlay]="dream.headerBackground.imageOverlay"
                 [mainTitle]="dream.title || defaultTitle"
                 [subTitle]="'pages.diary_editor.header.sub_title' | translate: { date: dreamDate | date: 'longDate' }"
                 [backButtonLink]="backLink"
                 [backButtonLinkParams]="backLinkParams"
                 floatButtonIcon="save"
                 (floatButtonCallback)="onSave()"></app-main-menu>
  <!-- Контейнер с данными -->
  <div class="root-section"
       [ngClass]="{ center: loading }">
    <div class="root-section__helper"
         [ngClass]="{ 'floating-margin': navMenuType === _navMenuType.short }">
      <mat-tab-group dynamicHeight
                     color="primary"
                     [selectedIndex]="selectedTab"
                     (selectedIndexChange)="onChangeTab($event)"
                     [hidden]="loading">
        <!-- Общее -->
        <mat-tab [label]="'pages.diary_editor.tabs.titles.general' | translate">
          <ng-template matTabContent>
            <div class="overlay">
              <div class="section root-section tabs">
                <div class="container">
                  <div class="cards-list">
                    <!-- Общие данные -->
                    <app-card [mainTitle]="'pages.diary_editor.form.titles.general' | translate"
                              avatarIcon="edit_calendar"
                              avatarColor="primary"
                              avatarBackground="fill"
                              [fullHeight]="true">
                      <form content
                            [formGroup]="dreamForm">
                        <!-- Название -->
                        <app-text-input [label]="'pages.diary_editor.form.labels.title' | translate"
                                        formControlName="title"
                                        [errors]="errors.title"
                                        [maxLength]="titleMaxLength"></app-text-input>
                        <!-- Описание -->
                        <app-text-input [label]="'pages.diary_editor.form.labels.description' | translate"
                                        formControlName="description"
                                        [errors]="errors.description"
                                        [multiLine]="true"
                                        [multiLineMinLines]="1"
                                        [multiLineMaxLines]="6"
                                        [maxLength]="descriptionMaxLength"></app-text-input>
                        <!-- Когда приснился сон -->
                        <app-text-input type="date"
                                        [label]="'pages.diary_editor.form.labels.date' | translate"
                                        formControlName="date"
                                        [minDate]="dateMin"
                                        [maxDate]="dateMax"></app-text-input>
                      </form>
                    </app-card>
                    <!-- Настройки -->
                    <app-card [mainTitle]="'pages.diary_editor.form.titles.search' | translate"
                              avatarIcon="settings"
                              avatarColor="primary"
                              avatarBackground="fill"
                              [fullHeight]="true">
                      <form content
                            [formGroup]="dreamForm">
                        <!-- Ключевые слова -->
                        <app-chips-input [label]="'pages.diary_editor.form.labels.keywords.label' | translate"
                                         [placeholder]="'pages.diary_editor.form.labels.keywords.placeholder' | translate"
                                         [placeholderLimit]="'pages.diary_editor.form.labels.keywords.placeholderLimit' | translate"
                                         formControlName="keywords"
                                         color="primary"
                                         [maxLength]="keywordsMaxLength"></app-chips-input>
                        <!-- Тип данных -->
                        <app-autocomplete-input required
                                                [label]="'pages.diary_editor.form.labels.mode' | translate"
                                                formControlName="mode"
                                                [optionData]="dreamModes"></app-autocomplete-input>
                        <!-- Статус сновидения -->
                        <app-autocomplete-input required
                                                [label]="'pages.diary_editor.form.labels.status' | translate"
                                                formControlName="status"
                                                [optionData]="dreamStatuses"></app-autocomplete-input>
                      </form>
                    </app-card>
                    <!-- Параметры сновидения -->
                    <app-card [mainTitle]="'pages.diary_editor.form.titles.moods' | translate"
                              avatarIcon="widgets"
                              avatarColor="primary"
                              avatarBackground="fill"
                              [fullHeight]="true">
                      <form content
                            [formGroup]="dreamForm">
                        <!-- Тип сновидения -->
                        <app-autocomplete-input required
                                                [label]="'pages.diary_editor.form.labels.type' | translate"
                                                formControlName="type"
                                                [optionData]="dreamTypes"></app-autocomplete-input>
                        <!-- Атмосфера сновидения -->
                        <app-slider-input formControlName="mood"
                                          [label]="'pages.diary_editor.form.labels.mood' | translate"
                                          [optionData]="dreamMoods"></app-slider-input>
                      </form>
                    </app-card>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <!-- Описание -->
        <mat-tab [label]="'pages.diary_editor.tabs.titles.text' | translate"
                 *ngIf="getCurrentMode === _dreamMode.text || getCurrentMode === _dreamMode.mixed">
          <ng-template matTabContent>
            <div class="overlay">
              <div class="section root-section tabs">
                <div class="container all-height container--small grow-child"
                     [formGroup]="dreamForm">
                  <app-text-editor formControlName="text"></app-text-editor>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <!-- Карта -->
        <mat-tab [label]="'pages.diary_editor.tabs.titles.map' | translate"
                 *ngIf="getCurrentMode === _dreamMode.map || getCurrentMode === _dreamMode.mixed">
          <ng-template matTabContent>
            <div class="overlay">
              <div class="section root-section tabs">
                <div class="container all-height container--small">
                  <editor-3d [dreamMap]="dream.map"
                             [debugInfo]="true"></editor-3d>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <!-- Оформление -->
        <mat-tab [label]="'pages.diary_editor.tabs.titles.header' | translate">
          <ng-template matTabContent>
            <div class="overlay">
              <div class="section root-section tabs">
                <app-nav-menu-settings [backgroundId]="dream.headerBackground.id"
                                       [navMenuType]="dream.headerType"
                                       [useAvatar]="false"
                                       [mainTitle]="dream.title || defaultTitle"
                                       [subTitle]="'pages.diary_editor.header.sub_title' | translate: { date: dreamDate | date: 'longDate' }"
                                       (changeSettings)="onChangeSettings($event)"></app-nav-menu-settings>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <!-- Лоадер -->
      <ng-container [ngTemplateOutlet]="saveLoader"
                    *ngIf="loading" />
    </div>
  </div>
</div>



<!-- Лоадер сохранения -->
<ng-template #saveLoader>
  <app-inform [waitPointers]="true"
              [smallMargins]="true"
              mainTitle="Сохранение"
              subTitle="Пожалуйста подождите"></app-inform>
</ng-template>

<!-- Лоадер страницы -->
<ng-template #pageLoader>
  <app-page-loader></app-page-loader>
</ng-template>