<div class="section white"
     *ngIf="ready && user; else pageLoader">
  <!-- Шапка -->
  <app-main-menu [autoCollapse]="true"
                 [imageFullShow]="true"
                 [type]="dream.headerType"
                 [image]="imagePrefix + dream.headerBackground[dream.headerType === _navMenuType.full? 'imageName': 'imageNameShort']"
                 [imagePositionX]="dream.headerBackground.positionX"
                 [imagePositionY]="dream.headerBackground.positionY"
                 [imageOverlay]="dream.headerBackground.imageOverlay"
                 [title]="title"
                 [subTitle]="subTitle"
                 floatButtonIcon="save"
                 (floatButtonCallback)="onSave()"></app-main-menu>

  <!-- Контейнер с данными -->
  <div class="root-section">
    <form class="container">
      <mat-tab-group dynamicHeight
                     color="primary">
        <!-- Общее -->
        <mat-tab label="Общее">
          <div class="container"
               [formGroup]="dreamForm">
            <app-chips-input label="Ключевые слова для поиска"
                             placeholder="Введите ключевое слово"
                             formControlName="keywords"></app-chips-input>
          </div>
        </mat-tab>
        <!-- Описание -->
        <mat-tab label="События сновидения">
          <div class="container"
               [formGroup]="dreamForm">
            <ckeditor #dreamTextEditor
                      formControlName="text"
                      [editor]="editor"
                      [config]="config"></ckeditor>
          </div>
        </mat-tab>
        <!-- Карта -->
        <mat-tab label="Карта сновидения">
        </mat-tab>
        <!-- Оформление -->
        <mat-tab label="Оформление">
          <app-nav-menu-settings [backgroundId]="dream.headerBackground.id"
                                 [navMenuType]="dream.headerType"
                                 [useAvatar]="false"
                                 [diffBlockColor]="false"
                                 (changeSettings)="onChangeSettings($event)"></app-nav-menu-settings>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
</div>

<!-- Лоадер страницы -->
<ng-template #pageLoader>
  <app-page-loader></app-page-loader>
</ng-template>