<!-- Шапка окна -->
<div mat-dialog-title
     class="title">
  <div class="title__title">{{'popups.language_list.title' | translate}}</div>
  <mat-icon class="title__button"
            mat-dialog-close>close</mat-icon>
</div>

<!-- Содержимое -->
<div mat-dialog-content
     class="content">
  <div class="list">
    <ng-container *ngFor="let languageData of languages">
      <div class="item"
           [ngClass]="{ selected: currentLanguage }"
           (click)="onChangeLanguage(languageData.language)"
           *ngVar="languageData.language === language as currentLanguage">
        <mat-icon class="item__icon"
                  [svgIcon]="'language-large-' + languageData.language"></mat-icon>
        <!-- Название языка -->
        <span class="item__title">{{languageData.name}}</span>
      </div>
    </ng-container>
  </div>
</div>