<div class="area">
  <!-- Область просмотра -->
  <div class="area__viewer"
       (mousedown)="onMouseDown($event)">
    <app-dream-map-viewer [dreamMap]="dreamMap"
                          [debugInfo]="debugInfo"
                          (objectHover)="onObjectHover($event)"></app-dream-map-viewer>
  </div>
  <!-- Область инструментов -->
  <form class="area__control"
        [formGroup]="form"
        *ngIf="form">
    <!-- Инструмент -->
    <div class="tool-button">
      <mat-icon>{{getCurrentTool.icon}}</mat-icon>
      <!-- Список инструментов -->
      <div class="tool-button__items border-radius">
        <div class="tool-button"
             [ngClass]="{ active: tool.type === getCurrentTool.type }"
             matTooltip="Инструмент: {{tool.name}}"
             (click)="onToolChange(tool.type)"
             *ngFor="let tool of toolList">
          <mat-icon>{{tool.icon}}</mat-icon>
        </div>
      </div>
    </div>
    <!-- Под-инструмент: ландшафт -->
    <div class="tool-button"
         *ngIf="getCurrentTool.type === toolType.landscape">
      <mat-icon>{{getCurrentLandscapeTool.icon}}</mat-icon>
      <!-- Список инструментов -->
      <div class="tool-button__items border-radius">
        <div class="tool-button"
             [ngClass]="{ active: tool.type === getCurrentLandscapeTool.type }"
             matTooltip="Ландшафт: {{tool.name}}"
             (click)="onLandscapeToolChange(tool.type)"
             *ngFor="let tool of landscapeToolList">
          <mat-icon>{{tool.icon}}</mat-icon>
        </div>
      </div>
    </div>
    <!-- Под-инструмент: тип местности -->
    <div class="tool-button"
         *ngIf="getCurrentTool.type === toolType.terrain">
      <img [src]="getTerrainImage(currentTerrain)" />
      <!-- Список инструментов -->
      <div class="tool-button__items border-radius">
        <ng-container *ngFor="let terrain of terrainList">
          <div class="tool-button"
               [ngClass]="{ active: terrain.id === currentTerrain }"
               matTooltip="Материал: {{terrain.title}}"
               (click)="onTerrainChange(terrain.id)"
               *ngIf="terrain.isAvail">
            <img [src]="getTerrainImage(terrain.id)" />
          </div>
        </ng-container>
      </div>
    </div>
    <!-- Под-инструмент: тип дороги -->
    <div class="tool-button"
         *ngIf="getCurrentTool.type === toolType.road">
      <mat-icon>{{getCurrentRoadTypeTool.icon}}</mat-icon>
      <!-- Список инструментов -->
      <div class="tool-button__items border-radius">
        <ng-container *ngFor="let type of roadTypeList">
          <div class="tool-button"
               [ngClass]="{ active: type.type === roadType }"
               matTooltip="Тип дороги: {{type.title}}"
               (click)="onRoadTypeChange(type.type)">
            <mat-icon>{{type.icon}}</mat-icon>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- Под-инструмент: размер кисти -->
    <div class="tool-button"
         *ngIf="getCurrentTool.type === toolType.landscape || getCurrentTool.type === toolType.terrain">
      <div class="tool-button__point "
           [ngStyle]="{
             width: toolSizeLandFormat() + 'px',
             height: toolSizeLandFormat() + 'px'
           }"></div>
      <!-- Настройка размера -->
      <div class="tool-button__items">
        <div class="tool-button container">Размер кисти:</div>
        <div class="tool-button container">
          <mat-slider thumbLabel
                      formControlName="toolSizeLand"
                      [displayWith]="toolSizeLandFormat"
                      tickInterval="1000"
                      color="primary"
                      step="1"
                      min="0"
                      [max]="toolSizeLandLength"
                      aria-label="blocks"
                      (input)="onToolSizeLandChange($event)"
                      (change)="onToolSizeLandChange($event)"></mat-slider>
        </div>
      </div>
    </div>
    <!-- Под-инструмент: размер дороги -->
    <div class="tool-button"
         *ngIf="this.getCurrentTool.type === toolType.road && this.roadType === roadTypeTool.road">
      <div class="tool-button__point "
           [ngStyle]="{
             'border-radius': 0,
             width: (toolSizeRoadFormat() * 3) + 'px',
             height: (toolSizeRoadFormat() * 3) + 'px'
           }"></div>
      <!-- Настройка размера -->
      <div class="tool-button__items">
        <div class="tool-button container">Ширина дороги:</div>
        <div class="tool-button container">
          <mat-slider thumbLabel
                      formControlName="toolSizeRoad"
                      [displayWith]="toolSizeRoadFormat"
                      tickInterval="1000"
                      color="primary"
                      step="1"
                      min="0"
                      [max]="toolSizeRoadLength"
                      aria-label="blocks"
                      (input)="onToolSizeRoadChange($event)"
                      (change)="onToolSizeRoadChange($event)"></mat-slider>
        </div>
      </div>
    </div>
  </form>
</div>