@use "sass:map";
@use "../../../../assets/styles/colors";
@use "../../../../assets/styles/screens";

$controlOffset: 5px;
$toolButtonBRadius: 3px;
$toolButtonNBorder: 1px;
$toolButtonItemsCount: 10;
$toolButtonSize: 48px;
$separatorColor: #ccc;

// Родительский блок
:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

// Области редактора
.area {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  // Блок просмотра
  &__viewer {
    width: 100%;
    height: 100%;
  }
  // Блок настроек
  &__control {
    position: absolute;
    top: $controlOffset;
    right: $controlOffset;
    gap: $controlOffset;
    display: flex;
    flex-flow: column nowrap;
    pointer-events: none;
  }
}

// Элемент управления
.tool-button {
  $_elm: &;
  // Свойства
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: $toolButtonSize;
  max-width: $toolButtonSize;
  height: $toolButtonSize;
  max-height: $toolButtonSize;
  line-height: $toolButtonSize;
  font-size: $toolButtonSize * 0.9;
  color: colors.$title;
  background-color: colors.$card;
  border-radius: $toolButtonBRadius;
  pointer-events: auto;
  position: relative;
  transition: background-color #{screens.$animation-time};
  // Иконка
  > mat-icon {
    color: inherit;
    transition: color #{screens.$animation-time};
  }
  // Картинка
  > img {
    $size: calc(100% - #{$toolButtonBRadius * 2});
    // Свойства
    width: $size;
    height: $size;
    object-fit: cover;
    border-radius: inherit;
  }
  // Размер кисти
  &__point {
    display: inline-block;
    border-radius: 50%;
    background-color: colors.$title;
    vertical-align: middle;
    line-height: 1;
    font-size: 0;
  }
  // Наведение
  &:hover > &__items {
    right: 100%;
    opacity: 1;
    visibility: visible;
  }
  // Список инструментов
  &__items {
    position: absolute;
    top: 0;
    right: 140%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: $controlOffset;
    transition: opacity #{screens.$animation-time}, right #{screens.$animation-time},
      visibility #{screens.$animation-time};
    // Кнопки внутри
    > #{$_elm} {
      border-radius: 0;
      overflow: hidden;
      // Скругление углов
      & {
        // Первый и последний элемент
        &:first-of-type:last-of-type {
          border-radius: $toolButtonBRadius;
        }
        // Первый элемент: одна линия
        &:first-of-type {
          border-radius: #{$toolButtonBRadius} 0 0 #{$toolButtonBRadius};
        }
        // Последний элемент: одна линия
        &:last-of-type {
          border-radius: 0 #{$toolButtonBRadius} #{$toolButtonBRadius} 0;
        }
      }
      // Выделение
      &:hover {
        background-color: #{map.get(colors.$mat-primary, 500)};
        color: #{map.get(colors.$mat-primary, contrast, 500)};
      }
      // Активный элемент
      &.active {
        background-color: #{map.get(colors.$mat-disabled, 500)};
        color: #{map.get(colors.$mat-disabled, contrast, 500)};
      }
      // Контейнер
      &.container {
        width: auto;
        max-width: none;
        line-height: 1;
        padding: 0 20px;
        overflow: visible;
        background-color: colors.$card;
        color: colors.$title;
        font-size: 14px;
        white-space: nowrap;
        font-weight: 400;
        // Последующие блоки
        & + #{$_elm}.container {
          padding-left: 0;
        }
      }
    }
    // Скругление углов
    &.border-radius {
      overflow: hidden;
      border-radius: $toolButtonBRadius;
      background-color: colors.$card;
      gap: $toolButtonNBorder;
      max-width: ($toolButtonSize * $toolButtonItemsCount) + ($toolButtonNBorder * ($toolButtonItemsCount - 1));
      // Кнопки внутри
      > #{$_elm} {
        border-radius: 0;
        overflow: hidden;
      }
    }
  }
}
