<div class="area">
  <!-- Область просмотра -->
  <div class="area__viewer"
       (mousedown)="onMouseDown($event)">
    <app-dream-map-viewer [showCompass]="true"
                          [dreamMap]="dreamMap"
                          [debugInfo]="debugInfo"
                          (objectHover)="onObjectHover($event)"></app-dream-map-viewer>
  </div>
  <!-- Область инструментов -->
  <div class="area__control"
       *ngIf="form">
    <!-- Инструмент -->
    <div class="tool-button">
      <mat-icon>{{getCurrentTool.icon}}</mat-icon>
      <!-- Список инструментов -->
      <div class="tool-button__items border-radius">
        <div class="tool-button"
             [ngClass]="{ active: tool.type === getCurrentTool.type }"
             matTooltip="{{!!tool.hidePreffix? '': 'Инструмент: '}}{{tool.name}}"
             (click)="onToolChange(tool.type)"
             *ngFor="let tool of toolList">
          <mat-icon>{{tool.icon}}</mat-icon>
        </div>
      </div>
    </div>
    <!-- Под-инструмент: окружение -->
    <ng-container [ngTemplateOutlet]="envTools"
                  *ngIf="getCurrentTool.type === toolType.sky"></ng-container>
    <!-- Под-инструмент: ландшафт -->
    <ng-container [ngTemplateOutlet]="landscapeTools"
                  *ngIf="getCurrentTool.type === toolType.landscape"></ng-container>
    <!-- Под-инструмент: тип местности -->
    <ng-container [ngTemplateOutlet]="terrainTools"
                  *ngIf="getCurrentTool.type === toolType.terrain"></ng-container>
    <!-- Под-инструмент: вода -->
    <ng-container [ngTemplateOutlet]="waterTools"
                  *ngIf="getCurrentTool.type === toolType.water"></ng-container>
    <!-- Под-инструмент: настройки -->
    <ng-container [ngTemplateOutlet]="settingsTools"
                  *ngIf="getCurrentTool.type === toolType.settings"></ng-container>
    <!-- Под-инструмент: объекты -->
    <ng-container [ngTemplateOutlet]="objectsTools"
                  *ngIf="getCurrentTool.type === toolType.objects"></ng-container>
  </div>
  <!-- Загрузчик -->
  <div class="area__loader"
       *ngIf="loading">
    <app-inform color="white"
                icon="loader"
                mainTitle="Обновление карты"
                subTitle="Пожалуйста подождите"></app-inform>
  </div>
</div>





<!-- Под-инструмент: окружение -->
<ng-template #envTools>
  <!-- Положение небесного светила -->
  <form class="tool-button"
        [formGroup]="form">
    <div class="tool-button__point progress">
      <div class="tool-button__point progress__height back">{{timeFormat()}}</div>
      <div class="tool-button__point progress__height fill"
           [ngStyle]="{ height: timeFormat(true) + '%' }">
        <span>{{timeFormat()}}</span>
      </div>
    </div>
    <!-- Настройка размера -->
    <div class="tool-button__items">
      <div class="tool-button container">Время:</div>
      <div class="tool-button container">
        <mat-slider class="long-slider"
                    thumbLabel
                    tickInterval="1000"
                    color="primary"
                    [step]="timeSettings.step"
                    [min]="timeSettings.min"
                    [max]="timeSettings.max"
                    aria-label="blocks">
          <input matSliderThumb
                 formControlName="currentTime">
        </mat-slider>
      </div>
    </div>
  </form>
</ng-template>

<!-- Под-инструмент: ландшафт -->
<ng-template #landscapeTools>
  <!-- Направление изменения -->
  <div class="tool-button">
    <mat-icon>{{getCurrentLandscapeTool.icon}}</mat-icon>
    <!-- Список инструментов -->
    <div class="tool-button__items border-radius">
      <div class="tool-button"
           [ngClass]="{ active: tool.type === getCurrentLandscapeTool.type }"
           matTooltip="Ландшафт: {{tool.name}}"
           (click)="onLandscapeToolChange(tool.type)"
           *ngFor="let tool of landscapeToolList">
        <mat-icon>{{tool.icon}}</mat-icon>
      </div>
    </div>
  </div>
  <!-- Размер кисти -->
  <ng-container [ngTemplateOutlet]="toolsSizeForm"></ng-container>
  <!-- Управление рельефом за пределами карты -->
  <div class="tool-button">
    <mat-icon>grid_on</mat-icon>
    <!-- Список инструментов -->
    <div class="tool-button__items border-radius three-items"
         *ngIf="!!reliefElmDatas">
      <div class="tool-button active-hover"
           [ngClass]="{ active: tool.active }"
           (click)="tool.clickEvent(tool.type)"
           *ngFor="let tool of reliefElmDatas">
        <mat-icon>{{tool.icon}}</mat-icon>
      </div>
    </div>
  </div>
</ng-template>

<!-- Под-инструмент: тип местности -->
<ng-template #terrainTools>
  <!-- Текстура -->
  <div class="tool-button"
       *ngIf="getCurrentTool.type === toolType.terrain">
    <img [src]="getTerrainImage(currentTerrain)" />
    <!-- Список инструментов -->
    <div class="tool-button__items border-radius">
      <ng-container *ngFor="let terrain of terrainList">
        <div class="tool-button"
             [ngClass]="{ active: terrain.id === currentTerrain }"
             matTooltip="Материал: {{terrain.title}}"
             (click)="onTerrainChange(terrain.id)"
             *ngIf="terrain.isAvail">
          <img [src]="getTerrainImage(terrain.id)" />
        </div>
      </ng-container>
    </div>
  </div>
  <!-- Размер кисти -->
  <ng-container [ngTemplateOutlet]="toolsSizeForm"></ng-container>
</ng-template>

<!-- Под-инструмент: вода -->
<ng-template #waterTools>
  <!-- Высота мирового океана -->
  <form class="tool-button"
        [formGroup]="form">
    <div class="tool-button__point progress">
      <div class="tool-button__point progress__height back">{{oceanHeightFormat}}%</div>
      <div class="tool-button__point progress__height fill"
           [ngStyle]="{ height: oceanHeightFormat + '%' }">
        <span>{{oceanHeightFormat}}%</span>
      </div>
    </div>
    <!-- Настройка размера -->
    <div class="tool-button__items">
      <div class="tool-button container">Высота мирового океана:</div>
      <div class="tool-button container">
        <mat-slider class="long-slider"
                    thumbLabel
                    tickInterval="1000"
                    color="primary"
                    [step]="oceanStepZ"
                    [min]="oceanMinZ"
                    [max]="oceanMaxZ"
                    aria-label="blocks">
          <input matSliderThumb
                 formControlName="worldOceanHeight">
        </mat-slider>
      </div>
    </div>
  </form>
</ng-template>

<!-- Под-инструмент: настройки -->
<ng-template #settingsTools>
  <!-- Детализация -->
  <form class="tool-button"
        [formGroup]="form">
    <mat-icon>deblur</mat-icon>
    <!-- Настройка размера -->
    <div class="tool-button__items border-radius">
      <!-- Снижение качества -->
      <div class="tool-button"
           [ngClass]="{ disabled: dreamMapSettings.detalization <= detalizationMin }"
           (click)="onDetalizationChange(dreamMapSettings.detalization - 1)">
        <mat-icon>chevron_left</mat-icon>
      </div>
      <!-- отметка -->
      <div class="tool-button container text-fixed center">Детализация: {{detaliationLabels[dreamMapSettings.detalization]}}</div>
      <!-- Увеличение качества -->
      <div class="tool-button"
           [ngClass]="{ disabled: dreamMapSettings.detalization >= detalizationMax }"
           (click)="onDetalizationChange(dreamMapSettings.detalization + 1)">
        <mat-icon>chevron_right</mat-icon>
      </div>
    </div>
  </form>
</ng-template>

<!-- Под-инструмент: объекты -->
<ng-template #objectsTools>
  <!-- Удаление -->
  <div class="tool-button"
       [ngClass]="{ active: !currentObject }"
       (click)="onObjectsCategoriesChange()">
    <mat-icon>close</mat-icon>
  </div>
  <!-- Категории -->
  <div class="tool-button"
       (click)="onObjectsCategoriesChange(getCurrentObjectsCatalog.id)">
    <mat-icon>{{getCurrentObjectsCatalog.icon}}</mat-icon>
    <!-- Список категорий объектов -->
    <div class="tool-button__items border-radius">
      <div class="tool-button"
           [ngClass]="{ active: currentObjectCatalog === catalog.id }"
           matTooltip="Категория объектов: {{catalog.name}}"
           (click)="onObjectsCategoriesChange(catalog.id)"
           *ngFor="let catalog of objectsCatalogs">
        <mat-icon>{{catalog.icon}}</mat-icon>
      </div>
    </div>
  </div>
  <!-- Объекты -->
  <div class="tool-button"
       [ngClass]="{ active: !!currentObject }"
       *ngIf="!!getCurrentObject">
    <img [src]="getCurrentObject.image"
         *ngIf="!!getCurrentObject.image && !getCurrentObject.icon" />
    <mat-icon *ngIf="!getCurrentObject.image && !!getCurrentObject.icon">{{getCurrentObject.icon}}</mat-icon>
    <!-- Список объектов -->
    <div class="tool-button__items border-radius">
      <div class="tool-button"
           matTooltip="Объект: {{object.name}}"
           [ngClass]="{ active: currentObject === object.id }"
           (click)="onObjectChange(object.id)"
           *ngFor="let object of filteredObjects">
        <img [src]="object.image"
             *ngIf="!!object.image && !object.icon" />
        <mat-icon *ngIf="!object.image && !!object.icon">{{object.icon}}</mat-icon>
      </div>
    </div>
  </div>
  <!-- Размер кисти -->
  <ng-container [ngTemplateOutlet]="toolsSizeForm"
                *ngIf="(!!getCurrentObject && !!getCurrentObject?.settings?.multiCeils) || currentObject === 0"></ng-container>
</ng-template>





<!-- Под-инструмент: размер кисти -->
<ng-template #toolsSizeForm>
  <form class="tool-button"
        [formGroup]="form">
    <div class="tool-button__point "
         [ngStyle]="toolSizeStyles"></div>
    <!-- Настройка размера -->
    <div class="tool-button__items">
      <div class="tool-button container">Размер кисти:</div>
      <div class="tool-button container">
        <mat-slider thumbLabel
                    [displayWith]="toolSizeLandFormat.bind(this)"
                    tickInterval="1000"
                    color="primary"
                    [step]="1"
                    [min]="0"
                    [max]="toolSizeLandLength"
                    aria-label="blocks">
          <input matSliderThumb
                 formControlName="toolSizeLand">
        </mat-slider>
      </div>
    </div>
  </form>
</ng-template>