@use "sass:map";
@use "sass:list";
@use "colors";
@use "material";
@use "mixins";
@use "vars";

// Обертка поля
@include material.matFormField;
@include material.matOption;

// Общий стиль
:host {
  display: block;
}

// Поле ввода
.mat-input-element {
  font-weight: 400;
  // Для поля без ввода
  &:read-only {
    cursor: pointer;
  }
}

// Элемент списка
.option {
  $image-size: 32px;
  // Свойства
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0 10px;
  min-height: $image-size;
  padding: 10px 15px;
  // Картинка или иконка
  &__image {
    // Картинка
    > img {
      border-radius: 3px;
    }
    // Иконка
    > mat-icon {
      border-radius: 4px;
    }
    // Кстомизация
    @include mixins.customsColors($image-size) {
    }
  }
  // Тексты
  &__name {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2px 0;
    line-height: 1.12;
    flex-grow: 1;
    width: 0;
    white-space: normal;
    // Заглавная буква
    &-title,
    &-subTitle {
      &::first-letter {
        text-transform: uppercase;
      }
    }
    // Заголовок
    &-title {
      font-size: 15px;
      font-weight: 300;
    }
    // Подзаголовок
    &-subTitle {
      font-size: 13px;
      font-weight: 300;
    }
  }
  // Выбранный пункт меню
  &.selected {
    $colors: (
      primary: colors.$matPrimary 50,
      accent: colors.$matSecondary 50,
      warn: colors.$matStatusWarn 50,
    );
    // Фон по умолчанию
    background-color: map.get(colors.$matDisabled, 50);
    // Цикл по цветам
    @each $color, $data in $colors {
      &[color="#{$color}"] {
        background-color: map.get(list.nth($data, 1), list.nth($data, 2));
      }
    }
  }
}

// Сообщение об ошибке
.mat-error {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Общий слой
.layout {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: flex-start;
  cursor: pointer;
}

// Картинка
.image {
  @include mixins.customsColors(vars.$matFormFieldImageSize);
}

// Иконка отображения пароля
.iconButton {
  $size: 24px;
  // Свойства
  cursor: pointer;
  color: inherit;
  width: $size;
  height: $size;
  line-height: $size;
  font-size: $size;
  top: 2px;
  margin-left: 8px;
  position: relative;
  // Иконка
  > mat-icon {
    width: inherit;
    height: inherit;
    line-height: inherit;
    font-size: inherit;
    display: block;
  }
}

// Стиль всплывающего списка
::ng-deep .autocomplete-overlay {
  padding: 0 !important;
  // Скролл
  > app-scroll {
    max-height: inherit;
  }
  // Есть картинка
  &.has-image {
    min-width: 100%;
    // Позиционирование по левому краю
    &.placed-left {
      margin-left: -#{vars.$matFormFieldImageSize} !important;
    }
  }
}

// Стили автозаполнения
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f5f5f5 inset !important;
}
