<div class="layout"
     #layout=""
     [style]="styles"
     *ngIf="scrollActive && !isMobile">
  <div class="button top"
       (mousedown)="onButtonMouseDown(-1, true)"></div>
  <div class="track"
       #track="">
    <div class="slider {{sliderMousePress? 'hover': ''}}"
         #slider=""
         [style.margin-top]="sliderPosition+'px'"
         [style.height]="sliderHeight+'px'"
         (mousedown)="onSliderMouseDown($event)"></div>
  </div>
  <div class="button bottom"
       (mousedown)="onButtonMouseDown(1, true)"></div>
</div>