@use "sass:map";
@use "sass:math";
@use "vars";
@use "colors";
@use "screens";

$scrollWidth: vars.$scrollSize + (vars.$scrollSpacing * 2);
$sliderBorderRadius: math.div(vars.$scrollSliderSize, 2);

// Общий контейнер
:host {
  display: block;
  overflow: hidden;
  position: relative;
}

// Обертка
.list {
  display: block;
  overflow: scroll;
  scrollbar-width: none;
  overscroll-behavior: contain;
  will-change: scroll-position;
  // Убрать системный скролл
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  // Отступы
  @include screens.adaptive(middle, xlarge) {
    // Горизонтальный скролл
    &.scroll-h {
      padding-bottom: $scrollWidth;
    }
    // Вертикальный скролл
    &.scroll-v {
      padding-right: $scrollWidth;
    }
  }
}

.control {
  $__elm: &;
  // Трек
  &__track {
    cursor: pointer;
    position: relative;
    flex-grow: 1;
    // Линия
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: map.get(colors.$matDisabled, 300);
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      left: 50%;
    }
  }
  // Кнопки
  &__button {
    width: vars.$scrollSize;
    height: vars.$scrollSize;
    border-radius: 50%;
    background-color: map.get(colors.$matDisabled, 500);
    transition: background-color screens.$animationTime;
    cursor: pointer;
    // Выделение
    &:hover,
    &.hover {
      background-color: map.get(colors.$matPrimary, 500);
    }
  }
  // Слайдер
  &__slider {
    max-height: 100%;
    max-width: 100%;
    background-color: map.get(colors.$matDisabled, 500);
    transition: background-color screens.$animationTime;
    border-radius: $sliderBorderRadius;
    position: absolute;
    // Выделение
    &:hover,
    &.hover {
      background-color: map.get(colors.$matPrimary, 500);
    }
  }

  // Горизонтальный, вертикальный скролл и уголок
  &-h,
  &-v,
  &-c {
    user-select: none;
    display: flex;
    position: absolute;
    justify-content: stretch;
    align-items: center;
    flex-wrap: nowrap;
    padding: vars.$scrollSpacing;
    bottom: 0;
    right: 0;
    pointer-events: all;
    background-color: inherit;
    gap: vars.$scrollSpacing;
  }
  // Горизонтальный скролл
  &-h {
    flex-direction: row;
    width: 100%;
    height: $scrollWidth;
    left: 0;
    // Если есть вертикальный скролл
    &.scroll-v {
      width: calc(100% - #{$scrollWidth});
      right: $scrollWidth;
    }
    // Дочерние элементы
    #{$__elm} {
      // Трек
      &__track {
        height: 100%;
        // Линия
        &::before {
          height: 1px;
          width: calc(100% + #{vars.$scrollSpacing * 2});
        }
      }
      // Слайдер
      &__slider {
        min-width: vars.$scrollSliderMinHeight;
        height: vars.$scrollSliderSize;
        left: 0;
        top: calc(50% - #{math.div(vars.$scrollSliderSize, 2)});
      }
    }
  }
  // Вертикальный скролл
  &-v {
    flex-direction: column;
    width: $scrollWidth;
    height: 100%;
    top: 0;
    // Если есть горизонтальный скролл
    &.scroll-h.show-corner {
      height: calc(100% - #{$scrollWidth});
      bottom: $scrollWidth;
    }
    // Дочерние элементы
    #{$__elm} {
      // Трек
      &__track {
        width: 100%;
        // Линия
        &::before {
          width: 1px;
          height: calc(100% + #{vars.$scrollSpacing * 2});
        }
      }
      // Слайдер
      &__slider {
        min-height: vars.$scrollSliderMinHeight;
        width: vars.$scrollSliderSize;
        top: 0;
        left: calc(50% - #{math.div(vars.$scrollSliderSize, 2)});
      }
    }
  }
  // Уголок
  &-c {
    width: $scrollWidth;
    height: $scrollWidth;
  }
}
