@use "sass:map";
@use "sass:list";
@use "colors";
@use "containers";
@use "screens";

// Обертка
:host {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: colors.$card;
  border-radius: containers.$cardBorderRadius;
  box-shadow: containers.$cardBoxShadow;
  display: grid;
  grid-template-areas: "controls" "text";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

// Панель управления
.controls {
  grid-area: controls;
  border-radius: #{containers.$cardBorderRadius} #{containers.$cardBorderRadius} 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px 20px;
  padding: 5px;
  user-select: none;
  // Группа
  &__group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2px;
  }
}

// Текст
.text {
  $fontSize: 16px;
  $lineHeight: 1.4;
  // Свойства
  outline: none;
  border-radius: 0 0 #{containers.$cardBorderRadius} #{containers.$cardBorderRadius};
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: 200;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0;
  // Обертка
  &__overlay {
    grid-area: text;
    // Граница сверху
    * + & {
      border-top: 1px solid #{colors.$border};
    }
  }
  // Дочерние элементы
  &::ng-deep {
    $blockTags: p h1 h2 h3 h4 h5 h6;
    $inlineTags: b strong i em u s del;
    $titles: (
      1: 2 700,
      2: 1.75 700,
      3: 1.5 700,
      4: 1.25 600,
      5: 1.125 500,
      6: 1 400
    );
    // Блочные элементы
    @each $tag in $blockTags {
      > #{$tag} {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        font: inherit;
        line-height: inherit;
        // Отступы сверху
        @each $nextTag in $blockTags {
          & + #{$nextTag} {
            margin-top: $fontSize * $lineHeight;
          }
        }
      }
    }
    // Строчные элементы
    @each $tag in $inlineTags {
      #{$tag} {
        display: inline;
        font: inherit;
        line-height: inherit;
      }
    }
    // Заголовки
    @each $level, $properties in $titles {
      $size: list.nth($properties, 1);
      $fontWeight: list.nth($properties, 2);
      // Заголовок
      h#{$level} {
        font-size: $fontSize * $size;
        font-weight: $fontWeight;
      }
      // Отступы сверху
      @each $nextTag in $blockTags {
        #{$nextTag} + h#{$level} {
          margin-top: $size * $fontSize * $lineHeight;
        }
      }
    }
    // Жирность
    b,
    strong {
      font-weight: 700;
    }
    // Жирность
    i,
    em {
      font-style: italic;
    }
    // Подчеркивание
    u {
      text-decoration: underline;
    }
    // Зачеркивание
    s,
    del {
      text-decoration: line-through;
    }
    // Цвет
    span[color] {
      display: inline;
      font: inherit;
      line-height: inherit;
    }
  }
  // Адаптив
  @include screens.adaptiveFor(containers.$cardPaddings) using($padding) {
    padding: #{map.get($padding, y)} #{map.get($padding, x)};
  }
}

// Меню
.mat-mdc-menu {
  &-item {
    // Выбранный пункт меню
    &[selected="true"] {
      background-color: map.get(colors.$matPrimary, 500);
      // Содержимое
      &,
      > mat-icon,
      ::ng-deep > .mdc-list-item__primary-text {
        color: map.get(colors.$matPrimary, contrast, 500);
      }
      // Выделение
      &:hover {
        background-color: map.get(colors.$matPrimary, 50);
        // Содержимое
        &,
        > mat-icon,
        ::ng-deep > .mdc-list-item__primary-text {
          color: map.get(colors.$matPrimary, contrast, 50);
        }
      }
    }
    // Заголовок
    &.title {
      &,
      &[disabled] {
        &,
        > mat-icon,
        ::ng-deep > .mdc-list-item__primary-text {
          opacity: 1;
          color: colors.$title;
        }
      }
    }
  }
}

// Выбор цвета
.color-picker {
  position: relative;
  // Цветовое поле
  &__tooltip {
    position: absolute;
    top: 100%;
    left: 0;
  }
}
