<!-- Панель управления -->
<div class="controls">
  <!-- Заголовки -->
  <div class="controls__group">
    <button mat-mini-fab
            class="mat-elevation-z"
            [color]="selected? 'primary': 'basic'"
            [matMenuTriggerFor]="controlTitle"
            *ngVar="isCaretInTitles as selected"><mat-icon>title</mat-icon></button>
  </div>
  <!-- Стиль текста -->
  <div class="controls__group">
    <!-- Жирность -->
    <button mat-mini-fab
            [color]="selected? 'primary': 'basic'"
            class="mat-elevation-z"
            [matTooltip]="selected? 'Убрать жирность': 'Сделать жирным'"
            (click)="onToggleBold()"
            *ngVar="isCaretInBold as selected"><mat-icon>format_bold</mat-icon></button>
    <!-- Наклон -->
    <button mat-mini-fab
            [color]="selected? 'primary': 'basic'"
            class="mat-elevation-z"
            [matTooltip]="selected? 'Убрать наклон': 'Сделать наклонным'"
            (click)="onToggleItalic()"
            *ngVar="isCaretInItalic as selected"><mat-icon>format_italic</mat-icon></button>
    <!-- Подчеркнутый -->
    <button mat-mini-fab
            [color]="selected? 'primary': 'basic'"
            class="mat-elevation-z"
            [matTooltip]="selected? 'Убрать подчеркивание': 'Подчеркнуть текст'"
            (click)="onToggleUnderLine()"
            *ngVar="isCaretInUnderLine as selected"><mat-icon>format_underlined</mat-icon></button>
    <!-- Зачеркнутый -->
    <button mat-mini-fab
            [color]="selected? 'primary': 'basic'"
            class="mat-elevation-z"
            [matTooltip]="selected? 'Убрать зачеркивание': 'Зачеркнуть текст'"
            (click)="onToggleStrikeThrough()"
            *ngVar="isCaretInStrikeThrough as selected"><mat-icon>format_strikethrough</mat-icon></button>
  </div>
</div>

<!-- Редактор текста -->
<div #editor
     class="text"
     [innerHtml]="editingText"
     [attr.contenteditable]="true"
     (blur)="onBlur()"
     (keyup)="onEdit($event)"
     (change)="onEdit($event)"
     (click)="onEdit($event)"
     (paste)="onPaste($event)"
     (keydown)="onCheckEnterKey($event)"></div>



<!-- Заголовок меню -->
<mat-menu #controlTitle="matMenu">
  <button mat-menu-item
          class="title"
          [disabled]="true">
    <mat-icon>title</mat-icon>
    Заголовок
  </button>
  <mat-divider></mat-divider>
  <!-- Уровни заголовков -->
  <ng-container *ngFor="let i of controlTitleItterator">
    <button mat-menu-item
            [attr.selected]="selected"
            (click)="onToggleTitle(i)"
            *ngVar="isCaretInTitle(i) as selected">
      <mat-icon>format_h{{i}}</mat-icon>
      Уровень {{i}}
    </button>
  </ng-container>
</mat-menu>



<!-- Смайлик -->
<ng-template #smile
             let-styles="styles"
             let-src="src"
             let-alt="alt"
             let-id="id"
             let-set="set"
             let-skin="skin">
  <img [class]="emojiClassName"
       src="/assets/dream-map/transparent.png"
       [ngStyle]="styles"
       [alt]="alt"
       [attr.data-emoji-id]="id"
       [attr.data-emoji-skin]="skin"
       [attr.data-emoji-set]="set" />
</ng-template>