<!-- Шапка окна -->
<div mat-dialog-title
     class="title">
  <div class="title__title">Граффити</div>
  <mat-icon class="title__button"
            mat-dialog-close>close</mat-icon>
</div>

<!-- Содержимое -->
<div mat-dialog-content>
  <app-paint-canvas #paintCanvas
                    [drawData]="drawData"
                    (changeCanvas)="onChangeCanvas($event)"></app-paint-canvas>
</div>

<!-- Панель действия -->
<div mat-dialog-actions>
  <div class="buttons">
    <!-- Удалить -->
    <button mat-flat-button
            color="warn"
            (click)="onSave(true)"
            *ngIf="deleteAvail">Удалить</button>
    <!-- Очистить поле -->
    <button mat-stroked-button
            clor="basic"
            (click)="paintCanvas.clear()">Очистить</button>
    <!-- Сохранить -->
    <button mat-flat-button
            [disabled]="!saveAvail"
            color="primary"
            (click)="onSave()">Сохранить</button>
  </div>
</div>