@use "sass:map";
@use "sass:math";
@use "colors";
@use "mixins";
@use "screens";
@use "containers";

$mainControlSize: 90px;

// Настройки времени
.settings {
  $controlSize: $mainControlSize * 4;
  $lineSize: 1px;
  $subControlSize: containers.$avatarSize;
  $spacing: 6px;
  $largeSerifWidth: 12px;
  $serifWidth: 6px;
  $lineSpacing: math.div($subControlSize, 2) + $spacing;
  $circleSpacing: $lineSpacing + math.max($largeSerifWidth, $serifWidth);
  $subControlHeight: 1px;
  // Свойства
  display: block;
  position: relative;
  width: $controlSize;
  height: $controlSize;
  // Общие стили
  &__line,
  &__cicrle,
  &__sun,
  &__moon {
    position: absolute;
    display: block;
  }
  // Горизонт
  &__line {
    height: $lineSize * 2;
    background-color: colors.$titleDark;
    top: 50%;
    z-index: 1;
    left: $lineSpacing;
    right: $lineSpacing;
  }
  // Опорный путь
  &__cicrle {
    @include mixins.inset($circleSpacing);
    // Свойства
    border: #{$lineSize} dotted transparent;
    border-top-color: colors.$titleDark;
    border-left-color: colors.$titleDark;
    border-radius: 50%;
    transform: rotate(45deg);
    z-index: 0;
    // Засечки
    &-serif {
      $height: 1px;
      // Свойства
      height: 1px;
      position: absolute;
      width: $serifWidth;
      left: -$serifWidth;
      top: calc(50% - #{math.div($height, 2)});
      background-color: colors.$titleDark;
      transform-origin: #{$serifWidth + math.div($controlSize, 2) - $circleSpacing} 50%;
      z-index: 0;
      opacity: 0.6;
      // Большие засечки
      &.large {
        opacity: 1;
        z-index: 1;
        width: $largeSerifWidth;
        left: -$largeSerifWidth;
        transform-origin: #{$largeSerifWidth + math.div($controlSize, 2) - $circleSpacing} 50%;
      }
    }
  }
  // Солнце и Луна
  &__sun,
  &__moon {
    margin-top: math.div(-$subControlSize, 2);
    margin-left: math.div(-$subControlSize, 2);
    cursor: pointer;
    z-index: 2;
    background-color: colors.$titleDark;
    color: colors.$title;
    border-radius: 50%;
    text-align: center;
    transition:
      background-color #{screens.$animationTime},
      color #{screens.$animationTime};
    // Общий стиль
    &,
    > mat-icon {
      user-select: none;
      width: $subControlSize;
      height: $subControlSize;
      line-height: $subControlSize;
    }
    // Иконка
    > mat-icon {
      pointer-events: none;
      font-size: $subControlSize * 0.7;
    }
    // Выделение
    &:hover {
      background-color: map.get(colors.$matPrimary, 500);
      color: map.get(colors.$matPrimary, contrast, 500);
    }
  }
}
