<ng-container [ngTemplateOutlet]="userHasDiaryAccess? userDreamsList: diaryaccessDeniedByPrivate"></ng-container>



<!-- Дневник сновидений -->
<ng-template #userDreamsList>
  <ng-container *ngIf="!dreamsLoading">
    <div class="overlay"
         *ngIf="!!dreamsCount">
      <!-- Заголовок -->
      <app-title [type]="5"
                 [noMargin]="true"
                 [oneLine]="true"
                 [mainTitle]="itsMyPage? 'Мои сновидения': 'Сновидения ' + (user | petrovich)"
                 [subTitle]="dreamsCount | i18nPlural: ('general.labels.dream' | translate)">
        <!-- Десктоп -->
        <ng-container *ngIf="!isMobile">
          <!-- Все сновидения -->
          <a mat-stroked-button
             color="basic"
             routerLink="/diary/{{user.id}}">
            <mat-icon>book</mat-icon>
            Все сны
          </a>
          <!-- Новое сновидение -->
          <a mat-flat-button
             color="primary"
             routerLink="/diary/editor"
             *ngIf="itsMyPage">
            <mat-icon>add</mat-icon>
            Новый сон
          </a>
        </ng-container>
        <!-- Для телефонов -->
        <ng-container *ngIf="isMobile">
          <!-- Новое сновидение -->
          <a mat-mini-fab
             color="primary"
             routerLink="/diary/editor"
             *ngIf="itsMyPage"><mat-icon>add</mat-icon></a>
          <!-- Все сновидения -->
          <a mat-icon-button
             color="primary"
             routerLink="/diary/{{user.id}}"><mat-icon>chevron_right</mat-icon></a>
        </ng-container>
      </app-title>
      <!-- Список сновидений -->
      <app-dream-list [elmsPerLine]="3"
                      [oneLine]="true"
                      [dreams]="dreams"
                      sourcePlace="profile"
                      [oneLine]="true"
                      [showProfile]="false"></app-dream-list>
    </div>
  </ng-container>
  <!-- Лоадер сновидений -->
  <app-inform mainTitle="Загрузка сновидений"
              subTitle="Пожалуйста подождите"
              *ngIf="dreamsLoading"></app-inform>
</ng-template>



<!-- Недоступно настройками приватности: дневник -->
<ng-template #diaryaccessDeniedByPrivate>
  <app-inform [aboveIcon]="true"
              icon="policy"
              mainTitle="Дневник недоступен"
              subTitle="Пользователь предпочел скрыть свой дневник сновидений настройками приватности"></app-inform>
</ng-template>