<!-- Список комментариев -->
<ng-container *ngIf="!loading; else loader">
  <div #list
       class="list"
       *ngIf="!!comments?.length; else noComments">
    <!-- Загрузчик следующих комментариев -->
    <ng-container [ngTemplateOutlet]="moreCommentsDetector"
                  [ngTemplateOutletContext]="{ loading: nextLoading, leftItems: nextLeftCount, next: true }"></ng-container>
    <!-- Элемент комментария -->
    <div #comment
         class="comment"
         [attr.comment-id]="comment.id"
         scrollDetector
         (inScreenEvent)="onCommentInScreen(comment.id)"
         (outOfScreenEvent)="onCommentOutOfScreen(comment.id)"
         *ngFor="let comment of comments; trackBy: listTrackBy">
      <!-- Аватарка -->
      <a #commentAvatar
         [attr.comment-id]="comment.id"
         class="comment__avatar"
         [ngStyle]="{ top: getAvatarTopPosition(comment.id) + 'px' }"
         routerLink="/profile/{{comment.user.id}}"
         background="fill"
         color="primary">
        <!-- Картинка -->
        <img [src]="comment.user.avatars.small"
             *ngIf="comment.user.avatars.small.length > 0" />
        <!-- Иконка -->
        <mat-icon *ngIf="comment.user.avatars.small.length === 0">person</mat-icon>
        <!-- Метка онлайн -->
        <div class="comment__avatar-online"
             *ngIf="comment.user.online"></div>
      </a>
      <!-- Коммантарий -->
      <div class="comment__data"
           *ngVar="getAttachmentCount(comment) as attachmentCount">
        <!-- Описание -->
        <div class="comment__header"
             [attr.attachments-count]="attachmentCount"
             [attr.attachments-per-line]="attachmentPerLine"
             [ngClass]="{ 'no-text': !comment?.html['changingThisBreaksApplicationSecurity']?.length }">
          <!-- Имя -->
          <div class="comment__header-text">
            <a class="comment__header-name"
               routerLink="/profile/{{comment.user.id}}">{{comment.user.name}} {{comment.user.lastName}}</a>
            <!-- Дата -->
            <div class="comment__header-state">
              <time [attr.datetime]="comment.createDate.toISOString()">{{comment.createDate | date: 'd.M.y - H:mm'}}</time>
              <!-- Ответ пользователю -->
              <ng-container *ngIf="!!comment.replyToUser && comment.user.id !== comment.replyToUser.id">
                - Ответ
                <a routerLink="/profile/{{comment.replyToUser.id}}">
                  {{comment.replyToUser | petrovich: [3, 'first'] }} {{comment.replyToUser | petrovich: [3, 'last'] }}
                </a>
              </ng-container>
            </div>
          </div>
          <!-- Действия -->
          <div class="comment____header-actions">
            <!-- Ответить -->
            <button mat-icon-button
                    color="primary"
                    matTooltip="Ответить"
                    (click)="onReply(comment.user)"
                    *ngIf="isReplyAvail(comment)">
              <mat-icon>reply</mat-icon>
            </button>
            <!-- Удалить -->
            <button mat-icon-button
                    color="warn"
                    matTooltip="Удалить"
                    *ngIf="isDeleteAvail(comment)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <!-- Содержимое -->
        <div class="comment__body"
             [attr.attachments-count]="attachmentCount"
             [attr.attachments-per-line]="attachmentPerLine"
             [ngClass]="{ 'no-text': !comment?.html['changingThisBreaksApplicationSecurity']?.length }">
          <!-- Прикрепления -->
          <ng-container *ngIf="attachmentCount > 0">
            <!-- Граффити -->
            <ng-container *ngVar="comment?.attachment?.graffity as graffity">
              <ng-container [ngTemplateOutlet]="graffityAttachment"
                            [ngTemplateOutletContext]="{ graffity }"></ng-container>
            </ng-container>
            <!-- Фотография из медиа файлов -->
            <ng-container *ngVar="comment?.attachment?.mediaPhotos as mediaPhotos">
              <ng-container [ngTemplateOutlet]="mediaPhotosAttachment"
                            [ngTemplateOutletContext]="{ mediaPhotos }"></ng-container>
            </ng-container>
            <!-- Сновидение -->
            <ng-container *ngVar="comment?.attachment?.dreams as dreams">
              <ng-container [ngTemplateOutlet]="dreamAttachment"
                            [ngTemplateOutletContext]="{ dreams }"></ng-container>
            </ng-container>
          </ng-container>
          <!-- Текст комментария -->
          <p class="comment__body-text"
             [innerHTML]="comment.html"
             *ngIf="!!comment?.html['changingThisBreaksApplicationSecurity']?.length"></p>
        </div>
      </div>
    </div>
    <!-- Загрузчик предыдущих комментариев -->
    <ng-container [ngTemplateOutlet]="moreCommentsDetector"
                  [ngTemplateOutletContext]="{ loading: prevLoading, leftItems: prevLeftCount, next: false }"></ng-container>
  </div>
</ng-container>



<!-- Детектор загрузки новых комментариев -->
<ng-template #moreCommentsDetector
             let-loading="loading"
             let-leftItems="leftItems"
             let-next="next">
  <!-- Детектирующий элемент -->
  <div scrollDetector
       class="comment__more-loader"
       [ngClass]="{ loading, next, prev: !next }"
       [detectDirection]="next? -1: 1"
       (inScreenEvent)="onLoadMoreComments(next)"
       *ngIf="leftItems > 0">
    <!-- Загрузчик -->
    <ng-container [ngTemplateOutlet]="loader"
                  *ngIf="loading"></ng-container>
  </div>
</ng-template>

<!-- Загрузчик -->
<ng-template #loader>
  <app-inform mainTitle="Загрузка комментариев"
              subTitle="Пожалуйста подождите"
              [waitPointers]="true"
              [smallMargins]="true"></app-inform>
</ng-template>

<!-- Комментариев нет -->
<ng-template #noComments>
  <app-inform icon="quickreply"
              [mainTitle]="emptyCommentsMainTitle"
              [subTitle]="emptyCommentsSubTitle"
              [smallMargins]="true"
              [aboveIcon]="true"></app-inform>
</ng-template>



<!-- Граффити в закреплении -->
<ng-template #graffityAttachment
             let-graffity="graffity">
  <div class="comment__body-attachment"
       *ngIf="!!graffity?.url">
    <div class="comment__body-attachment-data">
      <img class="graffity"
           [src]="graffity.url" />
      <!-- Эффект наведения -->
      <div class="comment__body-attachment-overlay">
        <mat-icon svgIcon="paint_spray"></mat-icon>
        <title>Увеличить граффити</title>
      </div>
    </div>
  </div>
</ng-template>

<!-- Фотография из медиа файлов в закреплении -->
<ng-template #mediaPhotosAttachment
             let-mediaPhotos="mediaPhotos">
  <ng-container *ngIf="!!mediaPhotos?.length">
    <div class="comment__body-attachment"
         *ngFor="let mediaPhoto of mediaPhotos">
      <div class="comment__body-attachment-data">
        <img class="media-photo"
             [src]="mediaPhoto.url"
             [alt]="mediaPhoto.description" />
        <!-- Эффект наведения -->
        <div class="comment__body-attachment-overlay">
          <mat-icon>image_search</mat-icon>
          <title>Увеличить фотографию</title>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<!-- Сновидение в закреплении -->
<ng-template #dreamAttachment
             let-dreams="dreams">
  <ng-container *ngIf="!!dreams?.length">
    <a class="comment__body-attachment"
       routerLink="/diary/viewer/{{dream.id}}"
       *ngFor="let dream of dreams">
      <div class="comment__body-attachment-data">
        <div class="dream">
          <div class="dream__image"
               [attr.imageOverlay]="dream.headerBackground.imageOverlay? 'true': 'false'"
               [attr.positionX]="dream.headerBackground.positionX"
               [attr.positionY]="dream.headerBackground.positionY"
               *ngIf="isHasImage(dream)">
            <img [src]="imagePrefix + dream.headerBackground.imageNameShort" />
          </div>
          <!-- Заголовок -->
          <div class="dream__header">
            <mat-icon class="dream__header-icon">nights_stay</mat-icon>
            <title class="dream__header-title">{{dream.title ?? defaultDreamTitle}}</title>
            <time class="dream__header-date"
                  [attr.datetime]="(dream.date || today).toISOString()">{{(dream.date || today) | date: 'dd MMMM YYYY'}}</time>
          </div>
          <!-- Отметки -->
          <div class="dream__icons">
            <!-- Автор сновидения -->
            <a class="dream__icons-icon"
               routerLink="/profile/{{dream.user.id}}"
               background="fill"
               color="primary">
              <!-- Картинка -->
              <img [src]="dream.user.avatars.small"
                   *ngIf="dream.user.avatars.small.length > 0" />
              <!-- Иконка -->
              <mat-icon *ngIf="dream.user.avatars.small.length === 0">person</mat-icon>
              <!-- Метка онлайн -->
              <div class="dream__icons-icon-online"
                   *ngIf="dream.user.online"></div>
            </a>
            <!-- Уровень доступности -->
            <div class="dream__icons-icon"
                 [attr.color]="status.iconColor"
                 [attr.background]="status.iconBackground"
                 [attr.position]="status.imagePosition"
                 *ngIf="getDreamPrivate(dream) as status">
              <mat-icon>{{status.icon}}</mat-icon>
            </div>
            <!-- Тип сновидения -->
            <div class="dream__icons-icon"
                 [ngClass]="{ colorized: item.iconBackground === 'fill' }"
                 [attr.color]="item.iconColor"
                 [attr.background]="item.iconBackground"
                 [attr.position]="item.imagePosition"
                 *ngIf="getDreamType(dream) as item">
              <img [src]="item.image" />
            </div>
            <!-- Настроение сновидения -->
            <div class="dream__icons-icon"
                 [ngClass]="{ colorized: item.iconBackground === 'fill' }"
                 [attr.color]="item.iconColor"
                 [attr.background]="item.iconBackground"
                 [attr.position]="item.imagePosition"
                 *ngIf="getDreamMood(dream) as item">
              <img [src]="item.image" />
            </div>
            <!-- Карта сновидения -->
            <div class="dream__icons-icon"
                 color="warn"
                 background="fill"
                 *ngIf="dreamHasMap(dream)">
              <mat-icon>explore</mat-icon>
            </div>
          </div>
        </div>
        <!-- Эффект наведения -->
        <div class="comment__body-attachment-overlay">
          <mat-icon>nights_stay</mat-icon>
          <title>Читать сон</title>
        </div>
      </div>
    </a>
  </ng-container>
</ng-template>