@use "sass:map";
@use "containers";
@use "colors";
@use "vars";
@use "screens";
@use "mixins";

// Элемент комментария
.comment {
  $__elm: &;
  // Свойства
  background-color: colors.$card;
  padding: #{containers.$cardPaddingY} #{containers.$cardPaddingX};
  box-shadow: containers.$cardBoxShadow;
  border-radius: containers.$cardBorderRadius;
  // Шапка
  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    column-gap: containers.$cardPaddingY;
    // Аватарка
    &-avatar {
      @include mixins.customsColors(containers.$avatarSize);
      // Свойства
      display: block;
      position: relative;
      // Картинка
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
      // Иконка
      > mat-icon {
        width: containers.$avatarSize;
        height: containers.$avatarSize;
        line-height: containers.$avatarSize;
        font-size: containers.$avatarSize * 0.7;
        display: block;
        text-align: center;
        color: inherit;
        border-radius: 50%;
      }
      // Метка онлайн
      &-online {
        @include mixins.onlineBlinkPoint(6px, 4px);
      }
    }
    // Текст
    &-text {
      flex-grow: 1;
    }
    // Имя
    &-name {
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      text-decoration: none;
      color: map.get(colors.$matPrimary, 500);
    }
    // Статус
    &-state {
      display: block;
      font-size: 12px;
      line-height: 18px;
      font-weight: 300;
      color: colors.$text;
    }
  }
  // Текст
  &__text {
    padding-left: containers.$cardPaddingY + containers.$avatarSize;
    line-height: 24px;
    font-size: 15px;
    font-weight: 300;
    // Смайлики
    ::ng-deep > .smile {
      display: inline-block;
      line-height: 24px;
      vertical-align: top;
      margin: 0 1px;
    }
    // Для телефона
    @include screens.adaptive(auto, xsmall) {
      padding-left: 0;
      margin-top: containers.$cardPaddingY;
    }
  }
  // Прикрепленные данные
  &__attachment {
    $__elmAttachment: &;
    $graffitySize: 452px;
    // Отступ после текста
    margin-top: containers.$cardPaddingY;
    // Граффити
    &-graffity {
      display: block;
      overflow: hidden;
      background-color: colors.$background;
      // Картинка
      > img {
        object-fit: contain;
        display: block;
        max-width: 100%;
      }
    }
    // ? Вариаты
    // Есть графити
    &.graffity {
      $padding: 12px;
      // Свойства
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      // Граффити
      #{$__elmAttachment}-graffity {
        width: $graffitySize + ($padding * 2);
        max-width: 100%;
        border-radius: 6px;
        padding: $padding;
        // Картинка
        > img {
          border-radius: 3px;
        }
      }
    }
    // Адаптив
    @include screens.adaptive(xsmall, middle) {
      margin-top: containers.$cardPaddingY;
    }
  }
  // Действия
  &__actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }
  // Адаптив
  @include screens.adaptiveFor(vars.$userProfileBlocksGaps) using($gap) {
    // Последующие блоки
    & + &,
    & + &__more-loader {
      margin-top: $gap;
    }
  }
}
