<!-- Список комментариев -->
<ng-container *ngIf="!loading; else loader">
  <div class="list"
       *ngIf="!!comments?.length; else noComments">
    <!-- Загрузчик следующих комментариев -->
    <ng-container [ngTemplateOutlet]="moreCommentsDetector"
                  [ngTemplateOutletContext]="{ loading: nextLoading, leftItems: nextLeftCount, next: true }"></ng-container>
    <!-- Элемент комментария -->
    <div #comment
         class="comment"
         [attr.comment-id]="comment.id"
         *ngFor="let comment of comments; trackBy: listTrackBy">
      <div class="comment__header">
        <!-- Аватарка -->
        <a class="comment__header-avatar"
           routerLink="/profile/{{comment.user.id}}"
           background="fill"
           color="primary">
          <!-- Картинка -->
          <img [src]="comment.user.avatars.small"
               *ngIf="comment.user.avatars.small.length > 0" />
          <!-- Иконка -->
          <mat-icon *ngIf="comment.user.avatars.small.length === 0">person</mat-icon>
          <!-- Метка онлайн -->
          <div class="comment__header-avatar-online"
               *ngIf="comment.user.online"></div>
        </a>
        <!-- Имя -->
        <div class="comment__header-text">
          <a class="comment__header-name"
             routerLink="/profile/{{comment.user.id}}">{{comment.user.name}} {{comment.user.lastName}}</a>
          <!-- Дата -->
          <div class="comment__header-state">
            <time [attr.datetime]="comment.createDate.toISOString()">{{comment.createDate | date: 'd.M.y - H:mm'}}</time>
            <!-- Ответ пользователю -->
            <ng-container *ngIf="!!comment.replyToUser && comment.user.id !== comment.replyToUser.id">
              - Ответ
              <a routerLink="/profile/{{comment.replyToUser.id}}">
                {{comment.replyToUser | petrovich: [3, 'first'] }} {{comment.replyToUser | petrovich: [3, 'last'] }}
              </a>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- Текст комментариев -->
      <div class="comment__text"
           [innerHTML]="comment.text | comment"
           *ngIf="!!comment?.text"></div>
      <!-- Прикрепления -->
      <ng-container *ngVar="comment?.attachment?.graffity as graffity">
        <!-- Граффити -->
        <div class="comment__attachment"
             [ngClass]="{ graffity }"
             *ngIf="!!graffity">
          <!-- Граффити -->
          <ng-container [ngTemplateOutlet]="graffityAttachment"
                        [ngTemplateOutletContext]="{ media: graffity }"
                        *ngIf="!!graffity"></ng-container>
        </div>
      </ng-container>
      <!-- Действия -->
      <div class="comment__actions">
        <!-- Ответить -->
        <button class="link"
                (click)="onReply(comment.user)"
                *ngIf="isReplyAvail(comment)">Ответить</button>
      </div>
    </div>
    <!-- Загрузчик предыдущих комментариев -->
    <ng-container [ngTemplateOutlet]="moreCommentsDetector"
                  [ngTemplateOutletContext]="{ loading: prevLoading, leftItems: prevLeftCount, next: false }"></ng-container>
  </div>
</ng-container>



<!-- Детектор загрузки новых комментариев -->
<ng-template #moreCommentsDetector
             let-loading="loading"
             let-leftItems="leftItems"
             let-next="next">
  <!-- Детектирующий элемент -->
  <div scrollDetector
       class="comment__more-loader"
       [ngClass]="{ loading, next, prev: !next }"
       [detectDirection]="next? -1: 1"
       (inScreenEvent)="onLoadMoreComments(next)"
       *ngIf="leftItems > 0">
    <!-- Загрузчик -->
    <ng-container [ngTemplateOutlet]="loader"
                  *ngIf="loading"></ng-container>
  </div>
</ng-template>

<!-- Загрузчик -->
<ng-template #loader>
  <app-inform mainTitle="Загрузка комментариев"
              subTitle="Пожалуйста подождите"
              [waitPointers]="true"
              [smallMargins]="true"></app-inform>
</ng-template>

<!-- Комментариев нет -->
<ng-template #noComments>
  <app-inform icon="quickreply"
              [mainTitle]="emptyCommentsMainTitle"
              [subTitle]="emptyCommentsSubTitle"
              [smallMargins]="true"
              [aboveIcon]="true"></app-inform>
</ng-template>

<!-- Граффити в закреплении -->
<ng-template #graffityAttachment
             let-media="media">
  <div class="comment__attachment-graffity"
       *ngIf="!!media">
    <img [src]="media.url" />
  </div>
</ng-template>