@use "../../../../assets/styles/mixins";

$controlOffset: 5px;
$toolButtonBRadius: 3px;

// Родительский блок
:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: inherit;
}

// Обертка
.map-viewer {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: inherit;
  user-select: none;
  // Общие стили
  &,
  > canvas,
  &__stats,
  &__loader {
    display: block;
    position: absolute;
  }
  // Область рендеринга
  > canvas {
    @include mixins.inset;
    // Свойства
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  // Статистика
  &__stats {
    z-index: 1;
    // Данные
    ::ng-deep > div {
      position: absolute !important;
      left: #{$controlOffset} !important;
      top: #{$controlOffset} !important;
    }
  }
  // Текущие координаты
  &__coords {
    user-select: none;
    position: absolute;
    left: $controlOffset;
    top: ($controlOffset * 2) + 48px;
    background-color: #0b0f33;
    color: #04ece8;
    width: 80px;
    text-align: center;
    padding: 3px 6px;
    font-size: 11px;
    line-height: 15px;
    font-weight: 300;
    // Выделение
    > b {
      font-size: inherit;
      line-height: inherit;
      font-weight: 400;
    }
  }
  // Помощник
  &__helper {
    @include mixins.inset;
    // Свойства
    z-index: -100;
    position: absolute;
  }
  // Загрузка
  &__loader {
    @include mixins.inset;
    // Свойства
    z-index: 1;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // Мини карта
  &__mini-map {
    $mapPadding: 5px;
    $mapSize: 300px;
    $__elm: &;
    // Свойства
    position: absolute;
    right: $controlOffset;
    bottom: $controlOffset;
    background-color: #fff;
    border-radius: $toolButtonBRadius;
    padding: $mapPadding;
    width: $mapSize + ($mapPadding * 2);
    height: $mapSize + ($mapPadding * 2);
    // Список миникарт
    &-layout {
      position: absolute;
      right: $controlOffset;
      bottom: $controlOffset;
      background-color: #fff;
      border-radius: $toolButtonBRadius;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      // Карта внутри списка
      > #{$__elm} {
        position: static;
        background-color: transparent;
      }
      // Последовательно идущие карты
      > #{$__elm} + #{$__elm} {
        padding-left: 0;
        width: $mapSize + ($mapPadding * 2) - $mapPadding;
      }
    }
    // Картинка
    > canvas {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
