@use "../../../../assets/styles/mixins";

$controlOffset: 5px;
$toolButtonBRadius: 3px;

// Родительский блок
:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: inherit;
}

// Обертка
.map-viewer {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: inherit;
  // Общие стили
  &,
  > canvas,
  &__stats,
  &__loader {
    display: block;
    position: absolute;
  }
  // Область рендеринга
  > canvas {
    @include mixins.inset;
    // Свойства
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  // Статистика
  &__stats {
    z-index: 1;
    // Данные
    ::ng-deep > div {
      position: absolute !important;
      left: #{$controlOffset} !important;
      top: #{$controlOffset} !important;
    }
  }
  // Помощник
  &__helper {
    @include mixins.inset;
    // Свойства
    z-index: -100;
    position: absolute;
  }
  // Загрузка
  &__loader {
    @include mixins.inset;
    // Свойства
    z-index: 1;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // Мини карта
  &__mini-map {
    $mapSize: 510px;
    // Свойства
    position: absolute;
    right: $controlOffset;
    bottom: $controlOffset;
    background-color: #fff;
    border-radius: $toolButtonBRadius;
    padding: 5px;
    width: $mapSize;
    height: $mapSize;
    // Картинка
    > canvas {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
