<div class="map-viewer">
  <!-- Карта -->
  <canvas #canvas></canvas>
  <!-- Статистика -->
  <div #statsBlock
       class="map-viewer__stats"
       *ngIf="debugInfo"></div>
  <!-- Мини карта -->
  <div class="map-viewer__mini-map"
       *ngIf="showMiniMap">
    <canvas #miniMap></canvas>
  </div>
  <!-- Вспомогательный блок -->
  <div #helper
       class="map-viewer__helper"></div>
  <!-- Состояния -->
  <div class="map-viewer__loader"
       *ngIf="loading || !ready">
    <!-- Загрузка -->
    <app-inform title="Загрузка 3D-просмотра"
                subTitle="Пожалуйста подождите"
                *ngIf="loading"></app-inform>
    <!-- Ошибка WebGL -->
    <app-inform icon="close"
                title="Ошибка"
                subTitle="WebGL не поддерживается"
                *ngIf="!loading && !ready">
      Похоже, что Ваш браузер не поддерживает WebGL.
      <a href="http://get.webgl.org/troubleshooting"
         target="_blank">Подробнее тут</a>
    </app-inform>
  </div>
</div>
