<div class="map-viewer">
  <!-- Прицел -->
  <div class="map-viewer__chair"
       [ngStyle]="{ top: chairPositionY + 'px', left: chairPositionX + 'px' }"></div>
  <!-- Карта -->
  <canvas #canvas></canvas>
  <!-- Статистика -->
  <div #statsBlock
       class="map-viewer__stats"
       *ngIf="debugInfo"></div>
  <!-- Текущие координаты -->
  <div class="map-viewer__coords"
       *ngIf="debugInfo">
    <ng-container *ngIf="!!hoverCoords; else outOfMap">
      <b>X</b>: {{('0' + hoverCoords.x).slice(-2)}};
      <b>Y</b>: {{('0' + hoverCoords.y).slice(-2)}}
    </ng-container>
    <ng-template #outOfMap>Out of map!</ng-template>
  </div>
  <!-- Вспомогательный блок -->
  <div #helper
       class="map-viewer__helper"></div>
  <!-- Состояния -->
  <div class="map-viewer__loader"
       *ngIf="loading || !ready">
    <!-- Загрузка -->
    <app-inform mainTitle="Загрузка 3D-просмотра"
                subTitle="Пожалуйста подождите"
                *ngIf="loading"></app-inform>
    <!-- Ошибка WebGL -->
    <app-inform icon="close"
                mainTitle="Ошибка"
                subTitle="WebGL не поддерживается"
                *ngIf="!loading && !ready">
      Похоже, что Ваш браузер не поддерживает WebGL.
      <a href="http://get.webgl.org/troubleshooting"
         target="_blank">Подробнее тут</a>
    </app-inform>
  </div>
  <!-- Компас -->
  <div class="map-viewer__compass"
       *ngIf="showCompass">
    <div class="map-viewer__compass-text"
         [ngStyle]="{ transform: 'rotate(' + compassAngle + 'deg)' }">С</div>
    <div class="map-viewer__compass-arrow"></div>
  </div>
  <!-- Мини карта -->
  <!-- <div class="map-viewer__mini-map-layout">
    <div class="map-viewer__mini-map">
      <canvas #miniMap></canvas>
    </div>
    <div class="map-viewer__mini-map">
      <canvas #miniMap></canvas>
    </div>
  </div> -->
</div>