@use "sass:math";
@use "sass:map";
@use "mixins";
@use "colors";

$controlOffset: 5px;
$toolButtonBRadius: 3px;

// Родительский блок
:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: inherit;
}

// Обертка
.map-viewer {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: inherit;
  user-select: none;
  // Общие стили
  &,
  > canvas,
  &__stats,
  &__loader {
    display: block;
    position: absolute;
  }
  // Область рендеринга
  > canvas {
    @include mixins.inset;
    // Свойства
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  // Статистика
  &__stats {
    z-index: 1;
    // Данные
    ::ng-deep > div {
      position: absolute !important;
      left: #{$controlOffset} !important;
      top: #{$controlOffset} !important;
    }
  }
  // Текущие координаты
  &__coords {
    user-select: none;
    position: absolute;
    left: $controlOffset;
    top: ($controlOffset * 2) + 48px;
    background-color: #0b0f33;
    color: #04ece8;
    width: 80px;
    text-align: center;
    padding: 3px 6px;
    font-size: 11px;
    line-height: 15px;
    font-weight: 300;
    // Выделение
    > b {
      font-size: inherit;
      line-height: inherit;
      font-weight: 400;
    }
  }
  // Помощник
  &__helper {
    @include mixins.inset;
    // Свойства
    z-index: -100;
    position: absolute;
  }
  // Загрузка
  &__loader {
    @include mixins.inset;
    // Свойства
    z-index: 1;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // Мини карта
  &__mini-map {
    $mapPadding: 5px;
    $mapSize: 300px;
    $__elm: &;
    // Свойства
    position: absolute;
    right: $controlOffset;
    bottom: $controlOffset;
    background-color: #fff;
    border-radius: $toolButtonBRadius;
    padding: $mapPadding;
    width: $mapSize + ($mapPadding * 2);
    height: $mapSize + ($mapPadding * 2);
    // Список миникарт
    &-layout {
      position: absolute;
      right: $controlOffset;
      bottom: $controlOffset;
      background-color: #fff;
      border-radius: $toolButtonBRadius;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      // Карта внутри списка
      > #{$__elm} {
        position: static;
        background-color: transparent;
      }
      // Последовательно идущие карты
      > #{$__elm} + #{$__elm} {
        padding-left: 0;
        width: $mapSize + ($mapPadding * 2) - $mapPadding;
      }
    }
    // Картинка
    > canvas {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  // Компасс
  &__compass {
    $size: 64px;
    $textSize: 10px;
    $arrowSize: 4px;
    $arrowLength: $size * 0.4;
    // Свойства
    position: absolute;
    bottom: $controlOffset;
    right: $controlOffset;
    width: $size;
    height: $size + $textSize;
    pointer-events: none;
    // Текст
    &-text {
      font-size: $textSize;
      line-height: $textSize;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 3px #{colors.$shadow};
      transform-origin: 50% #{math.div($textSize + $size - 1px, 2)};
      // Полукруги
      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 4px;
        width: $size;
        height: $size;
        border: 2px solid transparent;
        border-top-color: #fff;
        border-left-color: #ddd;
        border-left-style: dotted;
        border-radius: 50%;
        transform: rotate(-56deg);
      }
      &::after {
        border-left-color: transparent;
        border-right-color: #ddd;
        border-right-style: dotted;
        transform: rotate(56deg);
      }
    }
    // Стрелка
    &-arrow {
      position: absolute;
      top: calc(50% - #{$arrowLength * 2});
      left: calc(50% - #{math.div($arrowSize, 2)});
      width: $arrowSize;
      height: $arrowLength * 2;
      border-style: solid;
      border-color: transparent;
      border-width: #{$arrowLength} #{math.div($arrowSize, 2)};
      border-bottom-color: #fff;
      transform-origin: 50% 100%;
      // Центр
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -($arrowLength + math.div($arrowSize, 2));
        left: math.div($arrowSize, -2);
        width: $arrowSize;
        height: $arrowSize;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }
  // Прицел
  &__chair {
    $size: 31px;
    $line: 1px;
    // Свойства
    position: absolute;
    width: $size;
    height: $size;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    pointer-events: none;
    user-select: none;
    // Линии
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: $size;
      height: $size;
      background-color: colors.$titleDark;
      top: 0;
      left: 0;
    }
    // Горизонтальная линия
    &::before {
      height: $line;
      top: math.div($size - $line, 2);
    }
    // Вертикальная линия
    &::after {
      width: $line;
      left: math.div($size - $line, 2);
    }
  }
}
