<ng-container *ngIf="user">
  <!-- Шапка -->
  <app-main-menu [autoCollapse]="true"
                 [type]="navMenuType"
                 image="../../../../assets/images/backgrounds/{{user.settings.profileBackground.imageNameShort}}"
                 [imagePositionX]="user.settings.profileBackground.positionX"
                 [imagePositionY]="user.settings.profileBackground.positionY"
                 [imageOverlay]="user.settings.profileBackground.imageOverlay"
                 [title]="user.name + ' ' + user.lastName"
                 subTitle="Настройки безопасности"
                 [avatarImage]="user.avatars.middle"
                 avatarIcon="person"
                 backButtonLink="/profile/settings"></app-main-menu>

  <!-- Контейнер с данными -->
  <div class="root-section">
    <!-- Сменить пароль -->
    <div class="section white">
      <div class="container">
        <app-title [type]="1"
                   title="Изменение пароля"></app-title>
        <!-- Форма смены пароля -->
        <form class="pass-form"
              [formGroup]="passForm"
              autocomplete="off">
          <!-- Хак от ввода логина и пароля -->
          <input hidden
                 type="text"
                 name="login">
          <input hidden
                 type="password"
                 name="password">
          <!-- Текущий пароль -->
          <app-text-input required
                          type="password"
                          class="no-margin"
                          autocomplete="off"
                          label="Текущий пароль"
                          formControlName="currentPassword"
                          [errors]="passErrors.currentPassword"
                          [maxLength]="formData.passwordMaxLength"></app-text-input>
          <!-- Новый пароль -->
          <app-text-input required
                          type="password"
                          class="no-margin"
                          autocomplete="off"
                          label="Новый пароль"
                          formControlName="password"
                          [errors]="passErrors.password"
                          [maxLength]="formData.passwordMaxLength"></app-text-input>
          <!-- Подтверждение пароля -->
          <app-text-input required
                          type="password"
                          class="no-margin"
                          autocomplete="off"
                          label="Подтвердите пароль"
                          formControlName="confirmPassword"
                          [errors]="passErrors.confirmPassword"
                          [maxLength]="formData.passwordMaxLength"></app-text-input>
          <!-- Кнопка смены пароля -->
          <a mat-flat-button
             color="primary">Изменить пароль</a>
        </form>
      </div>
    </div>

    <!-- Данные текущей авторизации -->
    <div class="section">
      <div class="container">
        <app-title [type]="2"
                   title="Текущая авторизация"></app-title>
        <!-- Сведения о текущем токене -->
        <div class="token"
             *ngIf="!loadingTokenInfo && tokenInfo">
          <!-- Дата авторизации -->
          <div class="token__element">
            <div class="token__element-image">
              <mat-icon>history</mat-icon>
            </div>
            <div class="token__element-name">Дата авторизации</div>
            <div class="token__element-value">{{tokenInfo.createDate | date: 'dd.MM.yyyy - HH:mm'}}</div>
          </div>
          <!-- Последнее действие -->
          <div class="token__element">
            <div class="token__element-image">
              <mat-icon>touch_app</mat-icon>
            </div>
            <div class="token__element-name">Последняя активность</div>
            <div class="token__element-value">{{tokenInfo.lastActionDate | date: 'dd.MM.yyyy - HH:mm'}}</div>
          </div>
          <!-- IP -->
          <div class="token__element">
            <div class="token__element-image">
              <mat-icon>wifi</mat-icon>
            </div>
            <div class="token__element-name">IP адрес</div>
            <div class="token__element-value">{{tokenInfo.ip}}</div>
          </div>
          <!-- Операционная система -->
          <div class="token__element">
            <div class="token__element-image">
              <img src="../../../../assets/images/icons/os/{{tokenInfo.browser.os}}.png" />
            </div>
            <div class="token__element-name">Операционная система</div>
            <div class="token__element-value">{{osNames[tokenInfo.browser.os]}}</div>
          </div>
          <!-- Браузер -->
          <div class="token__element">
            <div class="token__element-image">
              <img src="../../../../assets/images/icons/browser/{{tokenInfo.browser.name}}.png" />
            </div>
            <div class="token__element-name">Браузер</div>
            <div class="token__element-value">{{browserNames[tokenInfo.browser.name]}} {{tokenInfo.browser.version}}</div>
          </div>
        </div>
        <!-- Ошибка данных -->
        <ng-container [ngTemplateOutlet]="loadingData"
                      [ngTemplateOutletContext]="{ $implicit: {
                        icon: 'highlight_off',
                        title: 'Ошибка',
                        subTitle: 'Не удалось загрузить данные'
                      }}"
                      *ngIf="!loadingTokenInfo && !tokenInfo"></ng-container>
        <!-- Загрузка токена -->
        <ng-container [ngTemplateOutlet]="loadingData"
                      [ngTemplateOutletContext]="{ $implicit: {
                        title: 'Загрузка',
                        subTitle: 'Пожалуйста, подождите',
                        description: 'Идет получение сведений о текущей авторизации'
                      }}"
                      *ngIf="loadingTokenInfo"></ng-container>
      </div>
    </div>

    <!-- Контейнер со списками авторизаций -->
    <div class="section white">
      <div class="container">
        <div class="control">
          <!-- Заголовок -->
          <app-title [type]="3"
                     title="Вход с других устройств"></app-title>
          <!-- Управление -->
          <div class="control__buttons"
               *ngIf="tokensInfo?.length">
            <!-- Удалить все токены кроме текущего -->
            <a mat-flat-button
               color="warn"
               [disabled]="loadingTokensInfo"
               (click)="loadingTokensInfo? false: deleteTokens()">Удалить все</a>
          </div>
        </div>
        <!-- Список авторизаций -->
        <div class="table"
             *ngIf="!loadingTokensInfo && tokensInfo.length">
          <!-- Цикл по данным -->
          <ng-container [ngTemplateOutlet]="tokensLine"
                        [ngTemplateOutletContext]="{ $implicit: tokenInfo }"
                        *ngFor="let tokenInfo of tokensInfo"></ng-container>
        </div>
        <!-- Ошибка данных -->
        <ng-container [ngTemplateOutlet]="loadingData"
                      [ngTemplateOutletContext]="{ $implicit: {
                        icon: 'error_outline',
                        title: 'Информация',
                        subTitle: 'Нет данных о других авторизациях'
                      }}"
                      *ngIf="!loadingTokensInfo && !tokensInfo.length"></ng-container>
        <!-- Загрузка токенов -->
        <ng-container [ngTemplateOutlet]="loadingData"
                      [ngTemplateOutletContext]="{ $implicit: {
                        title: 'Загрузка',
                        subTitle: 'Пожалуйста, подождите',
                        description: 'Идет получение сведений о всех ваших авторизациях на других устройствах'
                      }}"
                      *ngIf="loadingTokensInfo"></ng-container>
      </div>
    </div>
  </div>
</ng-container>

<!-- Лоадер страницы -->
<app-page-loader *ngIf="!user"></app-page-loader>



<!-- Загрузка -->
<ng-template #loadingData
             let-data>
  <app-inform [icon]="data.icon"
              [title]="data.title"
              [subTitle]="data.subTitle"
              [description]="data.description"></app-inform>
</ng-template>

<!-- Шаблон данных таблицы -->
<ng-template #tokensLine
             let-tokenInfo>
  <!-- Данные -->
  <div class="table__line">
    <!-- Заголовки -->
    <div class="table__ceil title create-date">Дата авторизации</div>
    <div class="table__ceil title last-action-date">Последняя активность</div>
    <div class="table__ceil title ip">IP адрес</div>
    <div class="table__ceil title os">Операционная система</div>
    <div class="table__ceil title browser">Браузер</div>
    <div class="table__ceil title controls"></div>
    <!-- Дата авторизации -->
    <div class="table__ceil create-date">
      {{tokenInfo.createDate | date: 'HH:mm'}}
      <div class="light">{{tokenInfo.createDate | date: 'dd.MM.yyyy'}}</div>
    </div>
    <!-- Последнее действие -->
    <div class="table__ceil last-action-date">
      {{tokenInfo.lastActionDate | date: 'HH:mm'}}
      <div class="light">{{tokenInfo.lastActionDate | date: 'dd.MM.yyyy'}}</div>
    </div>
    <!-- IP -->
    <div class="table__ceil ip">{{tokenInfo.ip}}</div>
    <!-- Операционная система -->
    <div class="table__ceil os">
      <div class="attach">
        <div class="attach__image">
          <img src="../../../../assets/images/icons/os/{{tokenInfo.browser.os}}.png" />
        </div>
        <div class="attach__text">{{osNames[tokenInfo.browser.os]}}</div>
      </div>
    </div>
    <!-- Браузер -->
    <div class="table__ceil browser">
      <div class="attach">
        <div class="attach__image">
          <img src="../../../../assets/images/icons/browser/{{tokenInfo.browser.name}}.png" />
        </div>
        <div class="attach__text">{{browserNames[tokenInfo.browser.name]}} {{tokenInfo.browser.version}}</div>
      </div>
    </div>
    <!-- Управление -->
    <div class="table__ceil controls">
      <!-- Загрузка -->
      <ng-container *ngIf="tokenInfo.loading">
        <div class="attach loading">
          <div class="attach__image"></div>
          <div class="attach__text">Удаление токена</div>
        </div>
      </ng-container>
      <!-- Кнопки -->
      <ng-container *ngIf="!tokenInfo.loading">
        <!-- Удалить -->
        <a mat-icon-button
           color="warn"
           class="desktop"
           (click)="deleteToken(tokenInfo.id)">
          <mat-icon>close</mat-icon>
        </a>
        <!-- Удалить -->
        <a mat-stroked-button
           color="warn"
           class="mobile"
           (click)="deleteToken(tokenInfo.id)">
          <mat-icon>close</mat-icon>
          Удалить
        </a>
      </ng-container>
    </div>
  </div>
</ng-template>