mixin container(vSpacings, ceilHeight="auto")
  table( class = attributes.class )
    tr
      td
      td.container__overlay( class=!!ceilClass? ' ' + ceilClass: '', width=600, height=ceilHeight, valign="middle" )
        table
          tr
            td( class='container' + (!!vSpacings? '--' + vSpacings: '') )
              block
      td