@use "sass:map";
@use "sass:math";
@use "screens";
@use "material";

$tab-padding: 15px;

@include material.matFormField;

// Общий блок
.root-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

// Контейнер
.container {
  $counts: (
    xsmall: 1,
    small: 1.5,
    middle: 2,
    large: 3,
    xlarge: 4,
  );

  display: flex;
  gap: 0;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  overflow: unset;

  @each $screen, $resolution in screens.$breakpoints {
    @media (min-width: #{screens.minResolution( $screen )}px) and (max-width: #{screens.maxResolution( $screen )}px) {
      > * {
        width: math.div(100%, map.get($counts, $screen));
      }
    }
  }
}

// Карточки
.card {
  &__layout {
    padding: $tab-padding;
  }
}

// Вкладки
:host ::ng-deep .mat-mdc-tab {
  &-header {
    display: none;
  }
  // Содержимое
  &-body-wrapper {
    margin: -$tab-padding;
  }
  //
  &-body {
    animation: fadeOut 0.5s;
    // Активная вкладка
    &-active {
      animation: fadeIn 0.5s;
    }
  }
}

// Радиокнопки
:host ::ng-deep .mat-mdc-radio-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

// Анимация прозрачности: появление
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Анимация прозрачности: исчезновение
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
