<app-main-menu [autoCollapse]="true"
               [type]="navMenuType"
               mainTitle="Регистрация на сайте"
               subTitle="Online Dreams Map"
               backButtonLink="/"
               floatButtonIcon="lock"
               floatButtonLink="/auth"></app-main-menu>

<div class="root-section">
  <div class="container">
    <!-- Форма регистрации -->
    <mat-tab-group dynamicHeight
                   [(selectedIndex)]="step"
                   [@.disabled]="true"
                   *ngIf="!loading && !registed">

      <!-- Данные входа -->
      <mat-tab>
        <div class="card__layout">
          <app-card mainTitle="Данные для входа">
            <!-- Контент -->
            <form content
                  [formGroup]="form[0]">
              <!-- Логин -->
              <app-text-input required
                              label="Логин"
                              formControlName="login"
                              [errors]="errors.login"
                              [maxLength]="formData.loginMaxLength"
                              (keyup)="onKeySubmit($event)"></app-text-input>
              <!-- Пароль -->
              <app-text-input required
                              label="Пароль"
                              formControlName="password"
                              [errors]="errors.password"
                              [maxLength]="formData.passwordMaxLength"
                              type="password"
                              (keyup)="onKeySubmit($event)"></app-text-input>
              <!-- Подтверждение пароля -->
              <app-text-input required
                              label="Подтвердите пароль"
                              formControlName="confirmPassword"
                              [errors]="errors.confirmPassword"
                              [maxLength]="formData.passwordMaxLength"
                              type="password"
                              (keyup)="onKeySubmit($event)"></app-text-input>
            </form>
            <!-- Действия -->
            <ng-container actions>
              <a mat-stroked-button
                 color="basic"
                 routerLink="/auth">Вход</a>
              <a mat-flat-button
                 color="primary"
                 (click)="nextStep()">Далее</a>
            </ng-container>
          </app-card>
        </div>
      </mat-tab>

      <!-- Сведения -->
      <mat-tab>
        <div class="card__layout">
          <app-card mainTitle="Немного о вас">
            <!-- Контент -->
            <form content
                  [formGroup]="form[1]">
              <!-- Имя -->
              <app-text-input required
                              label="Ваше имя"
                              formControlName="name"
                              [errors]="errors.name"
                              [maxLength]="formData.nameMaxLength"
                              (keyup)="onKeySubmit($event)"></app-text-input>
              <!-- Фамилия -->
              <app-text-input required
                              label="Ваша фамилия"
                              formControlName="lastName"
                              [errors]="errors.lastName"
                              [maxLength]="formData.nameMaxLength"
                              (keyup)="onKeySubmit($event)"></app-text-input>
              <!-- Дата рождения -->
              <app-text-input required
                              type="date"
                              label="Ваш день рождения"
                              formControlName="birthDate"
                              [errors]="errors.birthDate"
                              [minDate]="ageToDate(formData.birthDateMaxAge)"
                              [maxDate]="ageToDate(formData.birthDateMinAge)"></app-text-input>
              <!-- Пол -->
              <mat-form-field>
                <mat-label>Ваш пол</mat-label>
                <input matInput
                       formControlName="sex"
                       hidden />
                <mat-radio-group formControlName="sex">
                  <mat-radio-button color="primary"
                                    [value]="sexes.Male">Мужской</mat-radio-button>
                  <mat-radio-button color="primary"
                                    [value]="sexes.Female">Женский</mat-radio-button>
                </mat-radio-group>
              </mat-form-field>
            </form>
            <!-- Действия -->
            <ng-container actions>
              <a mat-stroked-button
                 color="basic"
                 (click)="prevStep()">Назад</a>
              <a mat-flat-button
                 color="primary"
                 (click)="nextStep()">Далее</a>
            </ng-container>
          </app-card>
        </div>
      </mat-tab>

      <!-- Контакты -->
      <mat-tab>
        <div class="card__layout">
          <app-card mainTitle="Ваши контакты">
            <!-- Контент -->
            <form content
                  [formGroup]="form[2]">
              <!-- Почта -->
              <app-text-input required
                              label="Электронная почта"
                              type="email"
                              formControlName="email"
                              [errors]="errors.email"
                              [maxLength]="formData.emailMaxLength"
                              (keyup)="onKeySubmit($event)"></app-text-input>
              <!-- Капча -->
              <app-recaptcha formControlName="captcha"
                             [errors]="errors.captcha"></app-recaptcha>
            </form>
            <!-- Действия -->
            <ng-container actions>
              <a mat-stroked-button
                 color="basic"
                 (click)="prevStep()">Назад</a>
              <a mat-flat-button
                 color="primary"
                 (click)="nextStep()">Регистрация</a>
            </ng-container>
          </app-card>
        </div>
      </mat-tab>
    </mat-tab-group>
    <!-- Загрузка регистрации -->
    <app-inform *ngIf="loading"
                mainTitle="Регистрация"
                subTitle="Пожалуйста подождите"></app-inform>
    <!-- Окончание регистрации -->
    <app-inform *ngIf="registed"
                icon="done"
                mainTitle="Вы зарегистрированны"
                description="Мы отправили письмо на {{registerEmail}}. Обязательно перейдите по ссылке из письма для окончания регистрации."></app-inform>
  </div>
</div>