@use "sass:map";

@use "../../../assets/styles/screens";
@use "../../../assets/styles/material";

@include material.mat-button;

$tab-padding: 15px;

// Контейнер
.container {
  $counts: (
    xsmall: 1,
    small: 1.5,
    middle: 2,
    large: 3,
    xlarge: 4,
  );

  display: flex;
  gap: 0;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  overflow: unset;

  @each $screen, $resolution in screens.$breakpoints {
    @media (min-width: #{screens.min_resolution( $screen )}px) and (max-width: #{screens.max_resolution( $screen )}px) {
      > * {
        width: 100% / map.get($counts, $screen);
      }
    }
  }
}

// Карточки
.card {
  &__layout {
    padding: $tab-padding;
  }
}

// Вкладки
:host ::ng-deep .mat-tab {
  &-header {
    display: none;
  }

  &-body-wrapper {
    margin: -$tab-padding;
  }
}
