<app-main-menu [autoCollapse]="true"
               [type]="navMenuType"
               title="Вход на сайт"
               subTitle="Online Dreams Map"
               backButtonLink="/"
               floatButtonIcon="person_add"
               floatButtonLink="/register"></app-main-menu>





<div class="root-section">
  <div class="container">
    <!-- Форма входа -->
    <app-card title="Авторизация на сайте"
              *ngIf="!loading">
      <!-- Контент -->
      <ng-container content>
        <form [formGroup]="form">
          <!-- Логин -->
          <app-text-input label="Логин"
                          formControlName="login"
                          [errors]="errors.login"
                          [maxLength]="formData.loginMaxLength"
                          (submitCallback)="tryLogin()"></app-text-input>
          <!-- Пароль -->
          <app-text-input label="Пароль"
                          formControlName="password"
                          [errors]="errors.password"
                          [maxLength]="formData.passwordMaxLength"
                          type="password"
                          (submitCallback)="tryLogin()"></app-text-input>
          <!-- Восстановление пароля -->
          <div class="restore">
            <a routerLink="/restore">Забыли пароль?</a>
          </div>
        </form>
      </ng-container>
      <!-- Действия -->
      <ng-container actions>
        <a mat-stroked-button
           color="basic"
           routerLink="/register">Регистрация</a>
        <a mat-flat-button
           color="primary"
           (click)="tryLogin()">Вход</a>
      </ng-container>
    </app-card>
    <!-- Загрузка регистрации -->
    <app-inform *ngIf="loading"
                title="Авторизация"
                subTitle="Пожалуйста подождите"></app-inform>
  </div>
</div>