@use "sass:map";
@use "sass:math";
@use "../../../assets/styles/colors";
@use "../../../assets/styles/screens";
@use "../../../assets/styles/material";
@use "../../../assets/styles/containers";

@include material.mat-form-field;

// Контейнер
.container {
  $counts: (
    xsmall: 1,
    small: 1.5,
    middle: 2,
    large: 3,
    xlarge: 4,
  );

  display: flex;
  gap: 15px;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  @each $screen, $resolution in screens.$breakpoints {
    @media (min-width: #{screens.min_resolution( $screen )}px) and (max-width: #{screens.max_resolution( $screen )}px) {
      > * {
        width: math.div(100%, map.get($counts, $screen));
      }
    }
  }
}

// Восстановление пароля
.restore {
  text-align: right;
}
