<ng-container *ngIf="user">
  <!-- Шапка -->
  <app-main-menu [autoCollapse]="true"
                 [imageFullShow]="true"
                 type="full"
                 image="../../../../assets/images/backgrounds/{{user.settings.profileBackground.imageNameShort}}"
                 [imagePositionX]="user.settings.profileBackground.positionX"
                 [imagePositionY]="user.settings.profileBackground.positionY"
                 [imageOverlay]="user.settings.profileBackground.imageOverlay"
                 [title]="user.name + ' ' + user.lastName"
                 subTitle="Персонализация"
                 [avatarImage]="user.avatars.middle"
                 avatarIcon="person"
                 backButtonLink="/profile/settings"></app-main-menu>

  <!-- Контейнер с данными -->
  <div class="root-section">
    <div class="container">
      <!-- Список фонов -->
      <div class="settings">
        <div class="settings__element"
             [ngClass]="{
               checked: data.id === user.settings.profileBackground.id,
               loader: backgroundImageLoader
             }"
             (click)="backgroundImageLoader? false: changeImage(data)"
             *ngFor="let data of backgroundImageDatas">
          <div class="settings__element-image"
               [attr.positionX]="data.positionX"
               [attr.positionY]="data.positionY"
               [attr.imageOverlay]="data.imageOverlay">
            <img src="../../../../assets/images/backgrounds/{{data.imageName}}" />
          </div>
          <div class="settings__element-title">{{data.title}}</div>
          <div class="settings__element-loading"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>