<!-- Редактор -->
<div #editorBlock
     class="editor"
     *ngIf="authState && writeAccess">
  <app-comment-editor [materialType]="materialType"
                      [materialId]="materialId"
                      [materialOwner]="materialOwner"
                      [placeholder]="placeholder"
                      [wrapControls]="wrapControls"
                      [bottomSmiles]="bottomSmiles"
                      [scrollSpacing]="scrollSpacing"
                      [(replyUser)]="replyUser"></app-comment-editor>
</div>

<!-- Список комментариев -->
<div class="list"
     *ngIf="readAccess">
  <app-comment-list #commentListElm
                    [materialType]="materialType"
                    [materialId]="materialId"
                    [emptyCommentsMainTitle]="emptyCommentsMainTitle"
                    [emptyCommentsSubTitle]="emptyCommentsSubTitle"
                    [writeAccess]="writeAccess"
                    (replyEvent)="onReply($event)"></app-comment-list>
</div>