@use "colors";
@use "containers";
@use "screens";
@use "vars";

// Общий блок
:host {
  display: block;
  // Адаптив
  @include screens.adaptiveFor(vars.$userProfileBlocksGaps) using($gap) {
    row-gap: $gap;
  }
}

// Поле редактора
.editor {
  background-color: colors.$card;
  box-shadow: containers.$cardBoxShadow;
  border-radius: containers.$cardBorderRadius;
  padding-right: containers.$cardPaddingX;
  // Адаптив
  @include screens.adaptiveFor(vars.$userProfileBlocksGaps) using($spacing) {
    // Список комментариев
    & + .list {
      margin-top: $spacing;
    }
  }
}
