@use "colors";
@use "containers";
@use "screens";
@use "vars";

// Общий блок
:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  // Адаптив
  @include screens.adaptiveFor(vars.$userProfileBlocksGaps) using($gap) {
    gap: $gap;
  }
}

// Поле редактора
.editor {
  background-color: colors.$card;
  box-shadow: containers.$cardBoxShadow;
  border-radius: containers.$cardBorderRadius;
  padding-right: containers.$cardPaddingX;
}
