<!-- Редактор -->
<div class="editor">
  <app-comment-editor [materialType]="materialType"
                      [materialId]="materialId"
                      [materialOwner]="materialOwner"
                      [placeholder]="placeholder"
                      [wrapControls]="wrapControls"></app-comment-editor>
</div>

<!-- Список комментариев -->
<div class="list">
  <app-comment-list [materialType]="materialType"
                    [materialId]="materialId"
                    [emptyCommentsMainTitle]="emptyCommentsMainTitle"
                    [emptyCommentsSubTitle]="emptyCommentsSubTitle"></app-comment-list>
</div>