<div class="user-data__overlay">
  <!-- Общие данные -->
  <app-card>
    <div content>
      <!-- Имя -->
      <ng-container [ngTemplateOutlet]="userGeneralDataField"
                    [ngTemplateOutletContext]="{ $implicit: 'Имя', value: user.name + ' ' + user.lastName }"></ng-container>
      <!-- Никнейм -->
      <ng-container [ngTemplateOutlet]="userGeneralDataField"
                    [ngTemplateOutletContext]="{ $implicit: 'Отчество (никнейм)', value: user.patronymic }"
                    *ngIf="!!user.patronymic?.length"></ng-container>
      <!-- Пол -->
      <ng-container [ngTemplateOutlet]="userGeneralDataField"
                    [ngTemplateOutletContext]="{ $implicit: 'Пол', value: getUserSexLabel }"></ng-container>
      <!-- День рождения -->
      <ng-container [ngTemplateOutlet]="userGeneralDataField"
                    [ngTemplateOutletContext]="{ $implicit: 'День рождения', value: user.birthDate | date: 'd MMMM y' }"></ng-container>
    </div>
  </app-card>
  <!-- Технические данные -->
  <app-card>
    <div content>
      <!-- Дата регистрации -->
      <ng-container [ngTemplateOutlet]="userGeneralDataField"
                    [ngTemplateOutletContext]="{ $implicit: 'Дата регистрации', value: user.registerDate | date: 'd MMMM y' }"></ng-container>
    </div>
  </app-card>
</div>



<!-- Поле данных о пользователе -->
<ng-template #userGeneralDataField
             let-label
             let-value="value">
  <div class="user-data">
    <div class="user-data__label">{{label}}</div>
    <div class="user-data__value">{{value}}</div>
  </div>
</ng-template>
