<div class="user-data__overlay"
     *ngIf="!!user">
  <!-- Общие данные -->
  <app-card>
    <div content>
      <!-- Имя -->
      <ng-container [ngTemplateOutlet]="userGeneralDataField"
                    [ngTemplateOutletContext]="{
                      $implicit: 'pages.profile.blocks.user_info.name',
                      value: user.name + ' ' + user.lastName
                    }"></ng-container>
      <!-- Никнейм -->
      <ng-container [ngTemplateOutlet]="userGeneralDataField"
                    [ngTemplateOutletContext]="{
                      $implicit: 'pages.profile.blocks.user_info.middle_name',
                      value: user.patronymic
                    }"
                    *ngIf="!!user.patronymic?.length"></ng-container>
      <!-- Пол -->
      <ng-container [ngTemplateOutlet]="userGeneralDataField"
                    [ngTemplateOutletContext]="{
                      $implicit: 'pages.profile.blocks.user_info.gender.title',
                      value: 'pages.profile.blocks.user_info.gender.values.' + user.sex
                    }"></ng-container>
      <!-- День рождения -->
      <ng-container [ngTemplateOutlet]="userGeneralDataField"
                    [ngTemplateOutletContext]="{
                      $implicit: 'pages.profile.blocks.user_info.birth_date',
                      value: user.birthDate | date: 'longDate'
                    }"></ng-container>
    </div>
  </app-card>
  <!-- Технические данные -->
  <app-card>
    <div content>
      <!-- Дата регистрации -->
      <ng-container [ngTemplateOutlet]="userGeneralDataField"
                    [ngTemplateOutletContext]="{
                      $implicit: 'pages.profile.blocks.user_info.register',
                      value: user.registerDate | date: 'longDate'
                    }"></ng-container>
      <!-- Последний визит: онлайн -->
      <ng-container [ngTemplateOutlet]="userGeneralDataField"
                    [ngTemplateOutletContext]="{
                      $implicit: 'pages.profile.blocks.user_info.online.title',
                      value: 'pages.profile.blocks.user_info.online.value'
                    }"
                    *ngIf="user.online"></ng-container>
      <!-- Последний визит: дата -->
      <ng-container [ngTemplateOutlet]="userGeneralDataField"
                    [ngTemplateOutletContext]="{
                      $implicit: 'pages.profile.blocks.user_info.online.title',
                      value: (user.lastActionDate | date: 'longDate') + ', ' + (user.lastActionDate | date: 'shortTime')
                    }"
                    *ngIf="!user.online"></ng-container>
    </div>
  </app-card>
</div>



<!-- Поле данных о пользователе -->
<ng-template #userGeneralDataField
             let-label
             let-value="value">
  <div class="user-data">
    <div class="user-data__label">{{label | translate}}</div>
    <div class="user-data__value">{{value | translate}}</div>
  </div>
</ng-template>