<!-- Шапка окна -->
<div mat-dialog-title
     class="title">
  <div class="title__title">Загрузка фотографий</div>
  <mat-icon class="title__button"
            mat-dialog-close>close</mat-icon>
</div>

<!-- Содержимое -->
<div mat-dialog-content>
  <!-- Поле переноса файлов -->
  <ng-container [ngTemplateOutlet]="dragInput"></ng-container>
  <!-- Загруженные файлы -->
  <div class="file__list"
       [ngClass]="{ multi: multiUpload }"
       *ngIf="!!uploadedFiles?.length && !dragStart">
    <!-- Один файл -->
    <ng-container [ngTemplateOutlet]="uploadedFileTemplate"
                  [ngTemplateOutletContext]="{ $implicit: uploadedFiles[0] }"
                  *ngIf="!multiUpload"></ng-container>
    <!-- Несколько файлов -->
    <ng-container *ngIf="multiUpload">
      <ng-container [ngTemplateOutlet]="uploadedFileTemplate"
                    [ngTemplateOutletContext]="{ $implicit: file }"
                    *ngFor="let file of uploadedFiles"></ng-container>
    </ng-container>
  </div>
  <!-- Стартовое поле загрузки файлов -->
  <ng-container [ngTemplateOutlet]="uploadInput"
                *ngIf="!uploadedFiles?.length"></ng-container>
</div>

<!-- Панель действия -->
<div mat-dialog-actions
     class="dialog__actions"
     [ngClass]="{ between: multiUpload }"
     *ngIf="!!uploadedFiles?.length">
  <!-- Загрузить еще файлы -->
  <button mat-stroked-button
          color="basic"
          (click)="fileInput.click()"
          *ngIf="multiUpload && !!uploadedFiles?.length">
    <mat-icon>add_a_photo</mat-icon>
    Добавить файлы
  </button>
  <!-- Сохранить файлы -->
  <button mat-flat-button
          [disabled]="!filesReady"
          color="primary"
          (click)="onSave()">
    <mat-icon>check</mat-icon>
    Сохранить
  </button>
</div>



<!-- Загрузчик файла -->
<input #fileInput
       class="file-input"
       type="file"
       [accept]="fileTypes.join(',')"
       [multiple]="multiUpload"
       (change)="onSelectFiles($event)">

<!-- Поле для загрузки drag & drop -->
<ng-template #dragInput>
  <div #dragInputElm
       class="drag-input"
       [ngClass]="{ show: dragStart, hover: dragEnter }">
    <mat-icon class="drag-input__icon">download</mat-icon>
    <!-- Заголовок -->
    <div class="drag-input__title">
      <!-- Файл внутри поля -->
      <ng-container *ngIf="dragEnter">Отпустите мышку</ng-container>
      <!-- Файл за пределами поля -->
      <ng-container *ngIf="!dragEnter">Перенесите файл в этот блок</ng-container>
    </div>
  </div>
</ng-template>

<!-- Поле для загрузки файлов -->
<ng-template #uploadInput>
  <div class="drag-input light"
       [ngClass]="{ show: !dragStart }">
    <mat-icon class="drag-input__icon">add_a_photo</mat-icon>
    <!-- Заголовок -->
    <div class="drag-input__title small-margin">
      Выберите {{multiUpload? 'файлы': 'файл'}} с вашего устройства
      <ng-container *ngIf="!isMobile">или перетащите {{multiUpload? 'их': 'его'}} из проводника</ng-container>
    </div>
    <!-- Кнопка загрузки файла/файлов -->
    <button mat-flat-button
            color="primary"
            class="drag-input__button"
            (click)="fileInput.click()">
      <mat-icon>add_a_photo</mat-icon>
      Выбрать {{multiUpload? 'файлы': 'файл'}}
    </button>
  </div>
</ng-template>

<!-- Шаблон загрузки файла -->
<ng-template #uploadedFileTemplate
             let-file>
  <div class="file">
    <!-- Фото -->
    <div class="file__img"
         [ngClass]="{ loading: !file.uploaded }"
         [ngStyle]="{ filter: getWBFilter(file), opacity: getOpacity(file) }">
      <img [src]="file.src" />
    </div>
    <!-- Загрузка -->
    <ng-container *ngIf="!file.uploaded">
      <!-- Лоадер -->
      <div class="file__icon"
           [ngClass]="{ multi: multiUpload }">
        <app-loader size="100%"
                    color="whiteColor"
                    class="file__loader"
                    [ngClass]="{ multi: multiUpload }"></app-loader>
      </div>
      <!-- Прогресс -->
      <div class="file__progress"
           [ngClass]="{ multi: multiUpload }">
        <div class="file__progress-line"
             [ngStyle]="{ width: file.progress + '%', animationDuration: getAnimationTime(file) }"></div>
      </div>
    </ng-container>
    <!-- Результат загрузки -->
    <div class="file__icon"
         [ngClass]="{ multi: multiUpload }"
         [attr.color]="file.loadError === loadErrors.success? 'primary': 'warn'"
         [matTooltip]="getErrorText(file)"
         *ngIf="file.uploaded && !!file.loadError">
      <mat-icon>{{file.loadError === loadErrors.success? 'check': 'priority_high'}}</mat-icon>
    </div>
  </div>
</ng-template>