<!-- Картинка -->
<img [src]="getBackgroundImageData.src"
     [attr.positionX]="getBackgroundImageData.positionX"
     [attr.positionY]="getBackgroundImageData.positionY" />
<!-- Затенение -->
<div class="overlay"
     [attr.imageOverlay]="getBackgroundImageData.imageOverlay"></div>
<!-- Данные -->
<div class="data"
     [ngClass]="{ hasAvatar }">
  <!-- Аватарка -->
  <div class="data__avatar"
       *ngIf="hasAvatar">
    <!-- Картинка -->
    <img [src]="avatarImage"
         *ngIf="!!avatarImage" />
    <!-- Кастомная иконка -->
    <mat-icon *ngIf="!avatarImage && !!avatarCustomIcon"
              [svgIcon]="avatarCustomIcon"></mat-icon>
    <!-- Иконка -->
    <mat-icon *ngIf="!avatarImage && !avatarCustomIcon && !!avatarIcon">{{avatarIcon}}</mat-icon>
    <!-- Метка онлайн -->
    <div class="data__avatar-online"
         *ngIf="avatarBlink"></div>
  </div>
  <!-- Текст -->
  <div class="data__text">
    <div class="data__text-title">{{mainTitle | translate}}</div>
    <div class="data__text-subtitle"
         *ngIf="!!subTitle || !!lastSeenUser">
      <!-- Текстовый заголовок -->
      <ng-container *ngIf="!!subTitle">{{subTitle | translate}}</ng-container>
      <!-- Последний визит -->
      <app-last-seen [online]="lastSeenUser.online"
                     [date]="lastSeenUser.lastActionDate"
                     [sex]="lastSeenUser.sex"
                     *ngIf="!!lastSeenUser && !subTitle"></app-last-seen>
    </div>
  </div>
</div>
<!-- Закрытие меню -->
<div class="close"
     (click)="onCloseClick()"
     unselectable="on">
  <mat-icon>close</mat-icon>
</div>