@use "sass:map";
@use "../../../../assets/styles/containers";
@use "../../../../assets/styles/mixins";
@use "../../../../assets/styles/colors";

$positionsX: left center right;
$positionsY: top center bottom;

$avatarSize: 48px;

// Главный элемент
:host {
  width: containers.$mobileMenuWidth;
  height: containers.$mobileMenuHeight;
  display: block;
  position: relative;
  // Картинка
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // Позиция по ширине
    @each $positionX in $positionsX {
      // Позиция по высоте
      @each $positionY in $positionsY {
        &[positionX="#{$positionX}"][positionY="#{$positionY}"] {
          object-position: $positionX $positionY;
        }
      }
    }
  }
}

// Затенение
.overlay {
  @include mixins.inset();
  // Свойства
  position: absolute;
  display: none;
  content: "";
  background-color: #000;
  opacity: 0.4;
  // Затенение
  &[imageOverlay="true"] {
    display: block;
  }
}

// Данные
.data {
  @include mixins.inset;
  // Свойства
  position: absolute;
  top: auto;
  padding: 15px;
  gap: 0 12px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  // Если есть аватарка
  &.hasAvatar {
    grid-template-columns: #{$avatarSize} minmax(0, 1fr);
  }
  // Аватарка
  &__avatar {
    width: $avatarSize;
    height: $avatarSize;
    position: relative;
    // Картинка
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    // Иконка
    > mat-icon {
      border-radius: 50%;
      display: block;
      width: $avatarSize;
      height: $avatarSize;
      line-height: $avatarSize;
      font-size: $avatarSize * 0.7;
      text-align: center;
      background-color: map.get(colors.$matPrimary, contrast, 500);
      color: map.get(colors.$matPrimary, 500);
    }
    // Метка онлайн
    &-online {
      @include mixins.onlineBlinkPoint(6px, 4px);
    }
  }
  // Текст
  &__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    // Заголовок
    &-title {
      @include mixins.lineClamp(1, 1.2, 16px);
      // Свойства
      color: colors.$titleDark;
      font-weight: 400;
      max-width: 100%;
    }
    // Заголовок
    &-subtitle {
      @include mixins.lineClamp(1, 1.2, 13px);
      // Свойства
      color: colors.$subTitleDark;
      font-weight: 300;
      max-width: 100%;
    }
  }
}

// Кнопка закрытия
.close {
  position: absolute;
  top: 0;
  right: 0;
  color: colors.$titleDark;
  text-align: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  // Размеры
  > mat-icon {
    width: inherit;
    height: inherit;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
  }
}
