@use "sass:map";
@use "colors";
@use "screens";
@use "containers";
@use "mixins";

$padding: 10px;
$height: 280px;

// Поле файла
.file-input {
  display: none;
}

// Картинка
.image {
  @include mixins.imageContainer($height, $padding);
  // Картинка
  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
  // Нет картинки
  &.no-image > mat-icon {
    display: block;
    width: 100%;
    height: $height;
    line-height: $height;
    font-size: $height * 0.5;
    text-align: center;
    color: colors.$text;
  }
}

// Кнопка
.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  // Несколько кнопок
  &.save {
    justify-content: space-between;
  }
  // Адаптив отступов
  @include screens.adaptiveFor(containers.$cardPaddings) using($padding) {
    margin-top: map.get($padding, y);
  }
}
