@use "sass:map";
@use "../../../../assets/styles/colors";
@use "../../../../assets/styles/screens";
@use "../../../../assets/styles/containers";
@use "../card/card.component" as card;

$padding: 10px;
$height: 280px;

// Свойства контейнера
@mixin image-container {
  overflow: hidden;
  border-radius: containers.$cardBorderRadius;
  background-color: colors.$background;
  height: $height;
  padding: $padding;
  cursor: pointer;
}

// Поле файла
.file-input {
  display: none;
}

// Картинка
.image {
  @include image-container;
  // Картинка
  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
  // Нет картинки
  &.no-image > mat-icon {
    display: block;
    width: 100%;
    height: $height;
    line-height: $height;
    font-size: $height * 0.5;
    text-align: center;
    color: colors.$text;
  }
}

// Кнопка
.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  // Несколько кнопок
  &.save {
    justify-content: space-between;
  }
  // Адаптив отступов
  @include screens.adaptiveFor(card.$paddings) using($padding) {
    margin-top: map.get($padding, y);
  }
}
