<!-- Выбор файла-->
<input #fileInput
       class="file-input"
       type="file"
       [accept]="fileTypes.join(',')"
       (change)="onSelectFiles($event.target.files)">

<!-- Картинка -->
<div class="image"
     [ngClass]="{ 'no-image': !imageUrl }"
     (click)="fileInput.click()">
  <!-- Картинка -->
  <img [src]="imageUrl"
       *ngIf="imageUrl" />
  <!-- Иконка -->
  <mat-icon *ngIf="!imageUrl">close</mat-icon>
</div>

<!-- Кнопка -->
<div class="buttons"
     [ngClass]="{ save: availSave || control.value }">
  <!-- Доступно сохранение -->
  <ng-container *ngIf="availSave; else selectFile">
    <!-- Отменить -->
    <button mat-stroked-button
            color="basic"
            (click)="clearInput()">Отмена</button>
    <!-- Загрузить на сервер -->
    <button mat-flat-button
            color="primary"
            (click)="onUpload()">Загрузить</button>
  </ng-container>
</div>

<!-- Выбрать файл -->
<ng-template #selectFile>
  <!-- Удалить аватарку -->
  <button mat-stroked-button
          color="basic"
          (click)="onDelete()"
          *ngIf="control.value">Удалить</button>
  <!-- Выбрать файл -->
  <button mat-flat-button
          color="primary"
          (click)="fileInput.click()">Выбрать файл</button>
</ng-template>