<!-- Шапка -->
<app-main-menu [autoCollapse]="true"
               [imageFullShow]="true"
               [type]="navMenuType"
               [image]="imagePrefix + backgroundImageData.imageName"
               [imagePositionX]="backgroundImageData.positionX"
               [imagePositionY]="backgroundImageData.positionY"
               [imageOverlay]="backgroundImageData.imageOverlay"
               avatarIcon="person_search"
               mainTitle="Поиск"
               subTitle="Людей"></app-main-menu>

<!-- Контейнер с данными -->
<div class="root-section"
     [ngClass]="{ center: loading }">
  <div class="container">
    <!-- Список пользователей -->
    <ng-container *ngIf="!loading; else listLoader">
      <ng-container *ngIf="peopleCount > 0; else listNotFound">
        <!-- Пагинатор -->
        <ng-container [ngTemplateOutlet]="pagination"></ng-container>
        <!-- Список пользователей -->
        <app-people-list [people]="people"></app-people-list>
        <!-- Пагинатор -->
        <ng-container [ngTemplateOutlet]="pagination"
                      *ngIf="bottomPaginationIsAvail"></ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<!-- Фильтры для поиска -->
<app-search-panel #searchPanel
                  [backgroundImageId]="backgroundImageData.id"
                  headerTitle="Настройки фильтров"
                  headerSubTitle="Поиска людей"
                  avatarIcon="person_search"
                  [formGroup]="searchForm"
                  (clear)="onClear()"
                  (submit)="onSearch()"
                  *ngIf="!loading">
  <!-- Базовый поиск -->
  <search-group>
    <!-- Поиск по ФИО -->
    <app-text-input formControlName="q"
                    label="Имя, фамилия"
                    (submit)="onSearch()"></app-text-input>
    <!-- Пол пользователя -->
    <app-autocomplete-input formControlName="sex"
                            label="Пол"
                            [optionData]="sexes"></app-autocomplete-input>
  </search-group>
  <!-- Дата рождения -->
  <search-group mainTitle="День рождения">
    <!-- Год рождения -->
    <app-autocomplete-input formControlName="birthYear"
                            type="autocomplete"
                            label="Год"
                            defaultIcon="cake"
                            defaultIconColor="disabled"
                            [optionData]="birthYears"
                            (selectItemEvent)="fillDaysOptionData()"></app-autocomplete-input>
    <!-- Месяц рождения -->
    <app-autocomplete-input formControlName="birthMonth"
                            label="Месяц"
                            defaultIcon="cake"
                            defaultIconColor="disabled"
                            [optionData]="birthMonths"
                            (selectItemEvent)="fillDaysOptionData()"></app-autocomplete-input>
    <!-- День рождения -->
    <app-autocomplete-input formControlName="birthDay"
                            type="autocomplete"
                            label="День"
                            defaultIcon="cake"
                            defaultIconColor="disabled"
                            [optionData]="birthDays"></app-autocomplete-input>
  </search-group>
</app-search-panel>



<!-- Загрузка -->
<ng-template #listLoader>
  <app-inform mainTitle="Загрузка списка людей"
              subTitle="Пожалуйста подождите"></app-inform>
</ng-template>

<!-- Не найдено -->
<ng-template #listNotFound>
  <app-inform [aboveIcon]="true"
              icon="close"
              mainTitle="Ошибка поиска"
              subTitle="Мы не нашли людей. Измените условия поиска или повторите попытку позже">
    <div class="buttons">
      <!-- Поиск -->
      <button mat-flat-button
              color="primary"
              (click)="openSearch()">
        <mat-icon>search</mat-icon>Открыть поиск
      </button>
      <!-- Сброс -->
      <button mat-stroked-button
              color="basic"
              (click)="onClear()"
              *ngIf="getIsSearch">
        <mat-icon>close</mat-icon>Сбросить
      </button>
    </div>
  </app-inform>
</ng-template>

<!-- Пагинатор -->
<ng-template #pagination>
  <app-pagination mainTitle="Поиск людей"
                  [subTitle]="peopleCount > 0? (peopleCount | i18nPlural: peoplePlural): ''"
                  [pageCurrent]="pageCurrent"
                  [pageLimit]="pageLimit"
                  [count]="peopleCount"
                  (changePage)="onPageChange($event)">
    <!-- Поиск для большого экрана -->
    <a mat-flat-button
       color="primary"
       (click)="openSearch()"
       *ngIf="!isMobile">
      <mat-icon>search</mat-icon>Поиск
    </a>
    <!-- Поиск для телефона -->
    <a mat-mini-fab
       color="primary"
       (click)="openSearch()"
       *ngIf="isMobile">
      <mat-icon>search</mat-icon>
    </a>
  </app-pagination>
</ng-template>