<!-- Шапка -->
<app-main-menu [autoCollapse]="true"
               [imageFullShow]="true"
               [type]="navMenuType"
               [image]="imagePrefix + backgroundImageData.imageName"
               [imagePositionX]="backgroundImageData.positionX"
               [imagePositionY]="backgroundImageData.positionY"
               [imageOverlay]="backgroundImageData.imageOverlay"
               title="Поиск людей"></app-main-menu>

<!-- Контейнер с данными -->
<div class="root-section"
     [ngClass]="{ center: loading }">
  <div class="container">
    <!-- Список пользователей -->
    <ng-container *ngIf="!loading; else listLoader">
      <ng-container *ngIf="peopleCount > 0; else listNotFound">
        <!-- Пагинатор -->
        <ng-container [ngTemplateOutlet]="pagination"></ng-container>
        <!-- Список пользователей -->
        <pre>{{people}}</pre>
        <!-- Пагинатор -->
        <ng-container [ngTemplateOutlet]="pagination"
                      *ngIf="pageCount > pageLimit / 2"></ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>



<!-- Загрузка -->
<ng-template #listLoader>
  <app-inform title="Загрузка списка людей"
              subTitle="Пожалуйста подождите"></app-inform>
</ng-template>

<!-- Не найдено -->
<ng-template #listNotFound>
  <app-inform [aboveIcon]="true"
              icon="close"
              title="Ошибка поиска"
              subTitle="Мы не нашли людей. Измените условия поиска или повторите попытку позже">
    <a mat-flat-button
       color="primary">
      <mat-icon>search</mat-icon>
      Открыть поиск
    </a>
  </app-inform>
</ng-template>

<!-- Пагинатор -->
<ng-template #pagination>
  <app-pagination title="Поиск людей"
                  [subTitle]="peopleCount > 0? (peopleCount | i18nPlural: peoplePlural): ''"
                  [pageCurrent]="pageCurrent"
                  [pageLimit]="pageLimit"
                  [count]="peopleCount"
                  (changePage)="onPageChange($event)">
    <a mat-flat-button
       color="primary">
      <mat-icon>search</mat-icon>
      Поиск
    </a>
  </app-pagination>
</ng-template>