<section mat-dialog-content
         class="viewer"
         appSwipe
         (swipeLeft)="onNext()"
         (swipeRight)="onPrev()"
         (swipeUp)="onClose()"
         (swipeDown)="onClose()"
         (swipeDestroyed)="onClose()"
         *ngVar="getCurrentMediaFile as file">
  <!-- Перелистывание -->
  <ng-container *ngIf="getTotalCount > 1 && !loading">
    <!-- Предыдущее фото -->
    <button class="viewer__toggler prev"
            [ngStyle]="{ paddingRight: togglerSpacing + 'px' }"
            (click)="onPrev()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <!-- Следующее фото -->
    <button class="viewer__toggler next"
            [ngStyle]="{ paddingLeft: togglerSpacing + 'px' }"
            (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </ng-container>
  <!-- Контейнер с данными -->
  <div #viewerTemplateContainer
       class="viewer__container"
       [ngClass]="{ show: !loading }">
    <div #viewerTemplate
         class="viewer__container-template"
         [ngClass]="{ showComments }"
         *ngVar="getShowComments as showComments">
      <!-- Фотография -->
      <button class="photo"
              (click)="onNext()">
        <img #imageElm
             [src]="file.url"
             [alt]="file.description"
             (load)="onPhotoLoaded()"
             (error)="onClose()" />
        <div class="photo__label"
             *ngIf="getTotalCount > 1">
          {{getCurrentPosition}} / {{getTotalCount}}
        </div>
      </button>
      <!-- Комментарии -->
      <ng-container *ngVar="commentType as type">
        <div #commentBlock
             class="comments"
             *ngIf="showComments">
          <div #commentEditor
               class="comments__editor"
               *ngIf="writeAccess$ | async">
            <app-comment-editor [materialType]="type"
                                [materialId]="file.id"
                                [materialOwner]="file.user.id"
                                placeholder="Что вы думаете об этой фотографии?"
                                [wrapControls]="true"
                                [bottomSmiles]="true"
                                [(replyUser)]="replyUser"></app-comment-editor>
          </div>
          <!-- Список комментариев -->
          <app-scroll class="comments__list"
                      [ngStyle]="{ minHeight: commentListMinHeight + 'px', maxHeight: commentListMaxHeight + 'px' }">
            <div class="comments__list-helper">
              <app-comment-list [materialType]="type"
                                [materialId]="file.id"
                                [attachmentPerLine]="2"
                                [writeAccess]="writeAccess$ | async"
                                (replyEvent)="onReplyUserChange($event)"></app-comment-list>
            </div>
          </app-scroll>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- Загрузчик -->
  <app-loader size="120px"
              color="white"
              *ngIf="loading"></app-loader>
</section>