@use "sass:map";
@use "colors";
@use "containers";
@use "screens";
@use "vars";
@use "material";

$maxHeights: (
  default: calc(#{vars.$screenHeight} - #{vars.$headerHeight + (containers.$paddingX * 2)}),
  small: calc(#{vars.$screenHeight} - #{(vars.$headerHeight * 2) + (containers.$paddingX * 2)}),
  xsmall: calc(#{vars.$screenHeight} - #{(vars.$headerHeight * 2) + (containers.$paddingX * 2)}),
  xxsmall: calc(#{vars.$screenHeight} - #{(vars.$headerHeight * 2) + (containers.$paddingX * 2)})
);

$commentWidths: (
  default: 420px
);

// Заготовки стилей
@include material.matDialogSort;
@include material.matDialogClearStyles;

// Просмотрщик
.viewer {
  position: fixed;
  border-radius: 0;
  box-shadow: none;
  top: 0;
  left: 0;
  width: 100%;
  height: #{vars.$screenHeight};
  max-height: #{vars.$screenHeight};
  overflow: initial;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: containers.$paddingX;
  padding-top: vars.$headerHeight + containers.$paddingX;
  pointer-events: none;
  user-select: none;
  // Переключение
  &__toggler {
    $iconSize: 128px;
    // Свойства
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity #{screens.$animationTime};
    pointer-events: auto;
    // Иконка
    > mat-icon {
      display: block;
      text-align: center;
      width: $iconSize;
      height: $iconSize;
      line-height: $iconSize;
      font-size: $iconSize * 0.7;
      color: colors.$titleDark;
    }
    // Назад
    &.prev {
      left: 0;
      justify-content: flex-end;
      // Иконка
      > mat-icon {
        margin-left: -($iconSize);
      }
    }
    // Вперед
    &.next {
      right: 0;
      justify-content: flex-start;
    }
    // Наведение
    &:hover {
      opacity: 1;
    }
    // Адаптив
    @include screens.adaptive(auto, xsmall) {
      display: none;
    }
  }
  // Контейнер
  &__container {
    z-index: 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 200vw;
    top: 200vh;
    pointer-events: none;
    // Показать
    &.show {
      position: relative;
      left: auto;
      top: auto;
    }
    // Расположение элементов
    &-template {
      max-height: 100%;
      pointer-events: auto;
      border-radius: containers.$cardBorderRadius;
      overflow: hidden;
      // Показать комментарии
      &.showComments {
        display: grid;
        justify-content: center;
        align-items: stretch;
      }
    }
    // Адаптив
    @include screens.adaptiveFor(containers.$widths, $commentWidths, $maxHeights) using($width, $commentWidth, $maxHeight) {
      width: $width - (containers.$paddingX * 2);
      max-height: $maxHeight;
      // Расположение элементов
      &-template {
        max-height: $maxHeight;
        // Показать комментарии
        &.showComments {
          grid-template-columns: auto #{$commentWidth};
        }
      }
    }
    // Адаптив
    @include screens.adaptive(auto, middle) {
      pointer-events: none;
      // Расположение элементов
      &-template {
        overflow-y: scroll;
        // Показать комментарии
        &.showComments {
          display: flex;
          position: relative;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
    // Адаптив
    @include screens.adaptive(auto, small) {
      // Расположение элементов
      &-template {
        overflow-y: scroll;
      }
    }
  }
  // Адаптив
  @include screens.adaptive(auto, small) {
    padding-bottom: vars.$headerHeight + containers.$paddingX;
  }
}

// Фотография
.photo {
  max-width: 100%;
  background-color: map.get(colors.$matDisabled, 900);
  border-radius: 0;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  pointer-events: auto;
  // Картинка
  > img {
    max-width: 100%;
    vertical-align: middle;
    line-height: 1;
  }
  // Количество
  &__label {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    opacity: 0;
    border-radius: 5px;
    background-color: map.get(colors.$matDisabled, 900);
    color: map.get(colors.$matDisabled, contrast, 900);
    transition: opacity #{screens.$animationTime};
  }
  // Показать подпись
  &:hover > &__label {
    opacity: 0.75;
  }
  // Адаптив
  @include screens.adaptiveFor($maxHeights) using($maxHeight) {
    max-height: $maxHeight;
    // Картинка
    > img {
      max-height: $maxHeight;
    }
  }
  // Адаптив
  @include screens.adaptive(auto, middle) {
    position: sticky;
    top: 0;
    width: 100%;
  }
}

// Комментарии
.comments {
  background-color: colors.$background;
  pointer-events: auto;
  // Редактор
  &__editor {
    padding-right: containers.$paddingX;
    background-color: colors.$card;
    width: 100%;
  }
  // Список
  &__list {
    display: block;
    max-width: 100%;
    width: 100%;
    flex-grow: 1;
    position: relative;
    // Обертка
    &-helper {
      padding: containers.$paddingX;
    }
    // Тени
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      box-shadow: containers.$cardBoxShadow;
    }
    // Тень слева
    &::before {
      height: 100%;
    }
    // Тень сверху
    &::after {
      width: 100%;
    }
  }
  // Адаптив
  @include screens.adaptiveFor(containers.$widths, $commentWidths, $maxHeights) using($width, $commentWidth, $maxHeight) {
    max-height: $maxHeight;
  }
  // Адаптив
  @include screens.adaptive(auto, middle) {
    position: relative;
    max-height: none;
    width: 100%;
    // Список
    &__editor {
      position: sticky;
      top: 0;
      z-index: 1;
    }
    // Список
    &__list {
      z-index: 0;
    }
  }
}
